#admin-title {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  position: relative;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);
}
#admin-title .name {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  padding: 40px 0 30px;
  color: #fff;
  margin: 0;
}
.title-bg {
  background: #B81313;
  border-bottom: 7px solid rgba(156, 9, 9, 0.5);
}
.color-nav {
  background: #9C0909;
}
