/**************************************************************************/
/**************************************************************************/
* {
  outline: none !important;
  /* removes the ugly dotted lines in Firefox and IE */
}
a {
  color: #6EAFEB;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #6EAFEB;
  text-decoration: underline;
}
/* a flash of color when links and buttons are pressed, a nice UI effect for mobile / tablet users */
a:link,
button {
  -webkit-tap-highlight-color: #e53b2c;
}
input,
button,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html,
body {
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.my-profile span,
.number-stats {
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #222;
  font-weight: 500;
}
h1 {
  font-size: 32.5px;
}
h2 {
  font-size: 32.5px;
}
h3 {
  font-size: 26px;
}
.title-bg {
  background: #2069cf;
  border-bottom: 7px solid rgba(19, 76, 190, 0.5);
}
code {
  color: #2069cf;
}
#sorting-container {
  width: 100%;
  color: #fff;
  padding: 5px 0;
  z-index: 10;
  float: left;
  position: relative;
  background: #2069cf;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  font-weight: normal;
}
body,
.jarviswidget > header h2,
.fc-header-title h2 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
input.input-validation-error,
textarea.input-validation-error,
div.input-validation-error {
  border-color: #e30f10 !important;
}
label {
  font-size: 13px;
  line-height: 20px;
}
legend {
  border: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  font-size: 22px;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaa;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaa;
}
footer,
div#main,
#page-content,
aside,
aside.divider,
div#main #page-header,
aside ul.menu,
.alert,
.dt-header,
.dt-footer,
.well,
.wysihtml5,
.wysihtml5-widget,
.widget-content-padding,
.aside-buttons .btn,
.chat-box,
.form-signin input[type="text"],
.form-signin input[type="password"],
.chat-box textarea,
#chat-box-textarea,
.toolbar ul.progressbox,
.main-search input,
.d3-charts,
.slashc-sliding-menu,
div.slashc-sliding-menu span.tiny-des,
div.slashc-sliding-menu span.tiny-sub,
div.slashc-sliding-menu h1,
.message-control-panel,
.bwizard-steps,
.inbox-control-panel,
.dropdown-menu.toolbar h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*-webkit-box-sizing:border-box; - box-sizing is supported */
}
/* font adjust */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.checkbox,
.uneditable-input {
  font-size: 13px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #000;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="tel"],
input[type="color"] {
  border-width: 2px;
  box-shadow: none;
  padding: 10px;
  border-radius: 4px;
  border-color: #E6E9EC;
  background: #fff;
}
/* remove default glow from form elements */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none !important;
}
input[disabled] {
  background: #f0f0f0;
  cursor: default;
}
input.input-small,
input.input-medium,
input.input-large {
  padding: 10px;
}
input.input-block-level {
  padding: 10px;
}
[class^="icon-"],
[class*=" icon-"] {
  background-image: none;
}
.loader {
  position: absolute;
  bottom: 6px;
  right: 6px;
  display: none;
}
.loading-message {
  margin-right: 10px;
  left: 6px;
  bottom: 4px;
  position: absolute;
  font-size: 10px;
  display: none;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.ghost {
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  text-shadow: 0 1px 0 #000000;
}
.vertical-center {
  display: none;
}
.dropdown-menu .divider {
  background-color: #eee;
}
.big-center {
  margin: 300px auto;
  text-align: center;
  font-size: 290px;
  color: #fff;
}
.ui-sortable-placeholder {
  background: #CFE4FF !important;
  border-radius: 4px;
  visibility: visible !important;
}
.qtip-content {
  text-align: center;
}
.qtip-light {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
}
.pointer {
  cursor: pointer;
}
blockquote {
  background: url(../images/bg-quote.png) no-repeat;
  color: #222;
  background-size: 28px;
  margin: 0;
  padding: 10px;
}
.accordion-toggle {
  text-decoration: none !important;
}
.accordion-group {
  border: 0;
  border-radius: 0;
}
table.sorted th {
  cursor: pointer;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.fa.fa-gray {
  font-size: 26px;
  color: #F3F4F7;
  cursor: pointer;
}
.underlined {
  border-bottom: 1px solid #eeeeee;
}
.overlined {
  border-top: 1px solid #eeeeee;
}
.qtip {
  max-width: 380px;
}
/**************************************************************************/
/**************************************************************************/
.LBD_CaptchaDiv {
  margin: 0 auto !important;
  width: 260px !important;
}
.LBD_CaptchaImageDiv {
  max-width: 210px !important;
}
#RegisterCaptcha_CaptchaImage {
  width: 205px;
}
#captcha-wrapper {
  width: 232px;
}
#RegisterCaptcha_ReloadLink {
  margin-top: 0 !important;
  margin-bottom: 2px !important;
}
/**************************************************************************/
/**************************************************************************/
.top {
  margin-top: 100px;
}
.box-container {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible !important;
}
.box {
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 35px;
  position: relative;
}
.box hr {
  border-bottom: none;
}
.box p {
  color: #777;
}
.box .sep1 {
  margin-bottom: 10px;
}
.box .sep15 {
  margin-bottom: 15px;
}
.box .sep2 {
  margin-bottom: 20px;
}
.box .sep25 {
  margin-bottom: 25px;
}
.box .sep3 {
  margin-bottom: 30px;
}
.box .sep4 {
  margin-bottom: 40px;
}
.box .column {
  width: 387px;
  float: left;
}
.box label {
  cursor: default;
  color: #444;
}
.box label.checkbox {
  cursor: pointer;
  color: #444;
}
.box .pad-top {
  padding-top: 10px;
}
.box .pad-bottom {
  padding-bottom: 10px;
}
.box .sect {
  float: left;
  margin-bottom: 20px;
}
.box .headcopy {
  margin: 0 30px 20px;
  color: #777;
}
.box h1,
.box h2 {
  padding: 19px 30px 10px;
  margin: 0;
  font-size: 32px;
  color: #151515;
}
.box .inner {
  padding: 5px 30px 30px 30px;
}
.box .content {
  padding-top: 10px;
}
.box .help-block {
  display: block;
  font-size: 11px;
  color: #aaa;
  clear: both;
}
.box .help-block b {
  font-size: 12px;
  color: #333;
}
.box .help-block.spaced {
  margin: 0 30px;
}
.box .help-block strong,
.box .headcopy strong {
  color: #777;
}
.box fieldset {
  padding: 0 30px;
  display: block;
  margin-bottom: 20px;
}
.box .checkbox {
  margin-top: 10px;
}
.box .button-row {
  padding: 0 30px 25px;
  margin-top: -5px;
}
.box .button-row .btn {
  float: right;
}
.box .button-row .left {
  float: left;
}
.box .button-row .checkbox {
  float: left;
  margin-top: 0;
}
.box .button-row.middle {
  padding-bottom: 0px;
}
.box .bottom-stub {
  padding-bottom: 10px;
}
.box .horizontal-group {
  clear: both;
}
.box .horizontal-group .left-control {
  float: left;
  margin-right: 10px;
}
.box .horizontal-group .right-control {
  float: left;
}
.box .selectize-control {
  margin-bottom: 10px;
}
.box textarea {
  display: inline-block;
}
.box .titled input {
  width: 190px;
  float: right;
}
.box .titled .title {
  width: 65px;
  float: left;
}
.box .delete-link {
  position: absolute;
  top: 2px;
  line-height: 11px;
  right: 2px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #aaa;
  background: #FFFFFF;
  width: 12px;
  height: 12px;
  font-size: 11px;
  border-radius: 2px;
  cursor: pointer;
}
.box .delete-link:hover {
  color: #fff;
  background: #B80000;
  opacity: 1;
  -moz-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
}
.box .tiny-banner,
.box .tiny-video {
  cursor: move;
}
.box .small-face {
  height: 19px;
  margin-right: 6px;
}
.box .toggle-box {
  padding-bottom: 5px;
  margin-bottom: 0;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.box .toggle-box .toggle-bucket {
  margin-top: 25px;
}
.box .toggle-box.open {
  background: #fcfcfc;
}
.box .toggle-box:last-child {
  margin-bottom: 20px;
}
.box-title {
  width: 100%;
  padding: 10px 30px;
  font-size: 38px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 25px;
}
.box-title span {
  width: 1180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box.yellow h1,
.box.yellow h2 {
  background: #E7CC00;
  color: #fff;
}
.box.yellow .alert-ribbon {
  border: 0;
}
.box.green {
  background: rgba(95, 185, 99, 0.12);
}
.box.green h2 {
  color: #5fb963;
}
.box.first {
  margin: 110px auto 0;
}
.box.sectioned legend {
  margin-bottom: 5px;
}
.box.sectioned .button-row {
  padding: 0 30px 25px;
}
.box.tiny {
  width: 268px;
}
.box.small {
  width: 370px;
}
.box.block {
  width: 420px;
}
.box.med {
  width: 775px;
}
.box.large {
  width: 1180px;
}
.box.footer {
  width: 1180px;
  height: 50px;
  opacity: 0;
  margin: 0;
}
.modal.dark {
  background: #282d33;
  color: #aaa;
}
.modal.dark .modal-header {
  background: #282d33;
  border-bottom: none;
}
.modal.dark .modal-header .close {
  color: #FFFFFF;
  -webkit-text-shadow: none;
  text-shadow: none;
  margin-top: 5px;
}
.modal.dark .modal-header .close:hover {
  color: #FFFFFF;
}
.modal.dark .modal-body {
  background: #282d33;
}
.modal.dark .modal-footer {
  background: #282d33;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal.dark .progress {
  background-color: #242424;
  background-image: none;
}
.big-box .inner {
  padding: 10px 40px;
}
/**************************************************************************/
/**************************************************************************/
.notifyjs-info-base,
.notifyjs-success-base,
.notifyjs-error-base {
  font-size: 14px;
  padding: 14px 18px;
  border-radius: 0;
  max-width: 280px;
  background-repeat: no-repeat;
  background-position: 3px 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}
.notifyjs-info-base .fa,
.notifyjs-success-base .fa,
.notifyjs-error-base .fa {
  margin-right: 5px;
  width: 14px;
  text-align: center;
}
.notifyjs-success-base {
  color: #FFF;
  background-color: #5BAD25;
}
.notifyjs-success-base .fa {
  color: #FFF;
}
.notifyjs-info-base {
  color: #FFF;
  background-color: #171D26;
}
.notifyjs-info-base .fa {
  color: #FFF;
}
.notifyjs-error-base {
  color: #FFF;
  background-color: #B80000;
}
.notifyjs-error-base .fa {
  color: #FFF;
}
.notifyjs-corner {
  margin-top: 80px !important;
}
.notifyjs-corner .notifyjs-wrapper,
.notifyjs-corner .notifyjs-container {
  margin: 10px 3px !important;
}
/**************************************************************************/
/**************************************************************************/
.tabs {
  padding: 30px 40px 0;
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}
.tabs .tab {
  background: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  color: #444;
  font-size: 14px;
  margin: 0 6px 6px 0;
}
.tabs h3 {
  display: inline-block;
  margin-right: 20px;
}
.tabs .tab:hover {
  background: #3781E1;
  color: #fff;
}
.tabs .tab.pressed {
  background: #3781E1;
  color: #fff;
}
/**************************************************************************/
/**************************************************************************/
.icheckbox,
.iradio {
  display: inline-block;
  margin-right: 10px;
  float: left;
}
.clean .icheckbox {
  background-position: -288px 0;
  width: 23px;
}
.clean .icheckbox.checked {
  background-position: -312px 0;
}
/**************************************************************************/
/**************************************************************************/
input[type=checkbox].big-blue {
  display: none;
}
input[type=checkbox].big-blue + label.big-blue-label {
  padding-left: 54px;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 44px;
  vertical-align: middle;
  cursor: pointer;
}
input[type=checkbox].big-blue:checked + label.big-blue-label {
  background-position: 0 -44px;
}
label.big-blue-label {
  background-image: url('../images/libs/big-blue.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
/**************************************************************************/
/**************************************************************************/
.fotorama__thumb-border {
  border-color: #fff;
}
.fotorama__caption__wrap {
  display: block;
  text-align: center;
  background: 0;
  color: #fff;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-shadow: 1px 3px 0px #000000;
  font-size: 36px;
}
/**************************************************************************/
/**************************************************************************/
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #F9F9F9;
}
.table th,
.table td {
  border-top: 1px solid #eee;
}
/**************************************************************************/
/**************************************************************************/
/*field set is floated to be responsive */
.form-horizontal fieldset {
  float: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  margin-bottom: 0;
}
/*
.control-group
{
    margin-bottom: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #EAEAEA;
    padding: 20px 20px 19px;
    background: #FDFDFD;
}*/
.form-horizontal .control-group {
  margin-bottom: 0;
}
.form-horizontal .control-group:last-child,
div > .control-group:last-child {
  border-bottom: none;
}
.form-horizontal .control-group.info {
  background: #E8F5F7;
}
.form-horizontal .control-group.warning {
  background: #F7F3E8;
}
.form-horizontal .control-group.error {
  background: #F7E8E8;
}
.form-horizontal .control-group.success {
  background: #E9F7E8;
}
.control-group.no-border {
  padding: 20px;
  border-bottom: none;
}
/* set input icon */
.control-label i {
  margin-right: 7px;
}
/* icon inside field */
.control-group .controls {
  position: relative;
}
.control-group .controls i.field-icon {
  position: absolute;
  top: 7px;
  right: 10px;
}
/*date picker*/
input.datepicker-input,
input.colorpicker-input,
input.timepicker-input {
  width: 140px;
}
.form-actions {
  margin-top: -1px;
  margin-bottom: 0;
  text-align: right;
  border-radius: 0px 0px 2px 2px;
}
.form-horizontal .control-label {
  padding-top: 4px;
  text-align: left;
  font-size: 12px;
}
.form-horizontal .help-inline {
  display: block;
}
.help-inline,
p.help-block,
p.info-block {
  margin: 0 0 10px !important;
  padding-left: 0;
  padding-top: 5px;
  font-size: 11px;
}
p.info-block {
  padding-top: 0;
}
input.file-no-style {
  font-size: 11px;
  line-height: 20px;
}
/* form spacer */
.form-horizontal .control-group div.space {
  display: block;
  height: 10px;
}
/* themed form */
.themed input,
.themed textarea,
.themed select {
  display: inline-block;
  text-align: left;
  border-width: 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.themed label {
  font-size: 12px;
}
.radio,
.checkbox {
  padding-left: 0;
}
/*reset this element from default */
.themed input[file].file {
  min-width: 100%;
}
div.uploader {
  height: 32px;
  background: #fff;
  border: 1px solid #CCC;
  width: 100%;
}
span.file-action {
  height: 21px;
  width: 21px;
  position: absolute;
  right: 0px;
  margin: 4px;
  border-radius: 0px;
}
label.error {
  margin-top: 4px;
  font-size: 11px;
  display: inline-block;
  white-space: nowrap;
  color: #B94A48;
}
.radio.inline,
.checkbox.inline {
  padding-top: 0 !important;
  padding-bottom: 10px;
}
/**************************************************************************/
/**************************************************************************/
/* in some cases you may need to override the font size but keep the padding */
.text-small {
  font-size: 12px !important;
}
.btn i.fa {
  margin-left: -2px;
  margin-right: 2px;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-shadow: none;
  box-shadow: none;
  line-height: 13px;
  border-radius: 4px;
  border: 0;
  padding: 12px 17px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: none;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn:active,
.btn.active,
.btn[disabled] {
  background-color: #f2f2f2;
}
.btn-tiny {
  padding: 5px 10px;
  font-size: 11.9px;
  line-height: 13px;
}
.btn-small {
  padding: 10px 15px;
}
.btn-large {
  padding: 14px 22px;
  line-height: 16px;
  font-size: 15px;
}
/* primary btn */
.btn-primary,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-color: #2069cf;
  color: #ffffff;
  background-image: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary:active,
.btn-primary.active,
.btn-primary[disabled] {
  background-color: #1e6aca;
}
/* danger btn */
.btn-danger {
  color: #444;
  background: #f4f4f4;
  background-image: none;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #666;
  background-color: #fff;
}
/* danger btn */
.btn-red {
  color: #fff;
  background: #B80000;
  background-image: none;
}
.btn-red:hover,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  color: #fff;
  background-color: #940000;
}
/* danger btn */
.btn-lightblue {
  color: #fff;
  background: #4189E1;
  background-image: none;
}
.btn-lightblue:hover,
.btn-lightblue:active,
.btn-lightblue.active,
.btn-lightblue.disabled,
.btn-lightblue[disabled] {
  color: #fff;
  background-color: #3a83dc;
}
/* danger btn */
.btn-green {
  color: #fff;
  background: #5BAD25;
  background-image: none;
}
.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  color: #fff;
  background-color: #399200;
}
/* success btn */
.btn-success {
  background-color: #9110b1;
  color: #ffffff;
  background-image: none;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #7e1298;
  opacity: .8;
}
/* info btn */
.btn-info {
  color: #fff;
  background: #151515;
  background-image: none;
}
/* btn info */
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #444;
  color: #fff;
}
/* primary btn */
.btn-hollow {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  background-image: none;
}
.btn-hollow:hover,
.btn-hollow:active,
.btn-hollow.active,
.btn-hollow.disabled,
.btn-hollow:active,
.btn-hollow.active,
.btn-hollow[disabled] {
  background-color: #fff;
  color: #444;
}
/* primary btn */
.btn-white {
  color: #444;
  background: #fff;
  border: 2px solid #fff;
  background-image: none;
}
.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: #444;
  box-shadow: none !important;
}
.btn-white:active,
.btn-white.active,
.btn-white.disabled,
.btn-white:active,
.btn-white.active,
.btn-white[disabled] {
  background-color: #fff;
  border: 2px solid #fff;
  color: #444;
  box-shadow: none !important;
}
.btn.medium {
  font-size: 12px;
  font-weight: bold;
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #009B13;
}
.btn-group.open .btn-info.dropdown-toggle,
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #555;
}
.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
  /*margin-right:3px;*/
}
/**************************************************************************/
/**************************************************************************/
.alert.adjusted {
  clear: both;
  border: 0;
  text-align: center;
  background: #eee;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 8px 15px 8px 10px;
  font-size: 12px;
  color: #222;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  border-radius: 0;
}
.alert.adjusted [class^="cus-"],
.alert.adjusted [class*=" cus-"] {
  margin-right: 5px;
}
.adjusted.alert-info {
  display: block;
  background: #488CC2;
  border: 0;
  padding: 8px 15px 8px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: #fff;
}
.adjusted.alert-success {
  display: block;
  background: #009B13;
  border: 0;
  padding: 8px 15px 8px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: #fff;
}
.adjusted.alert-error {
  display: block;
  background: #e30f10;
  border: 0;
  padding: 8px 15px 8px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: #fff;
}
.adjusted.alert-warning {
  display: block;
  background: #FFE68F;
  border: 0;
  padding: 8px 15px 8px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: #675100;
}
.adjusted.alert-error .close {
  color: #fff;
  opacity: .5;
  filter: alpha(opacity=50);
  -webkit-text-shadow: none;
  text-shadow: none;
}
.adjusted.alert-error .close:hover {
  opacity: .9;
  filter: alpha(opacity=90);
}
.alert.adjusted.alert .close {
  top: 0px;
  right: -5px;
  line-height: 20px;
}
.alert.adjusted img {
  position: relative;
  margin-left: -21px;
  margin-right: 5px;
  margin-top: -2px;
}
.alert-danger h4,
.alert-error h4 {
  color: #FFF5F5;
}
.alert.alert-block {
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 0;
}
/* alert close btn */
.close {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.close:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.alert.flush-wide {
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.alert.flush-tall {
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}
.alert i {
  margin-right: 5px;
  font-size: 14px;
}
.box .alert {
  display: none;
  margin: 0;
}
.alert-static {
  display: block !important;
}
.ui-autocomplete {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 0;
}
/**************************************************************************/
/**************************************************************************/
.nav-pills > li > a {
  border-radius: 0;
}
.dropdown-menu,
.nav-pills .dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 0;
  border-radius: 0 !important;
  padding: 0;
  margin: 0;
}
.dropdown-menu li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-image: none;
  background-color: #051d94;
  color: #fff;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  background-color: #eee;
  border-color: #eee;
  color: #000;
}
.dropdown-menu .divider {
  margin: 0;
  border: 0;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  margin-left: 0;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  font-weight: bold;
}
/**************************************************************************/
/**************************************************************************/
.modal {
  border: 0;
  border-radius: 0;
}
.modal,
.modal-header {
  background: #fff;
}
.modal-header h3 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.modal-header {
  -webkit-border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
}
.modal.fade.in {
  top: 30%;
}
.modal-body {
  background-color: #fff;
}
.static-modal {
  width: 360px;
  text-align: center;
  margin: 170px auto 0;
  padding: 25px 0;
  background-color: #fff;
  outline: none;
  position: relative;
  border-radius: 0;
}
.static-modal h1 {
  margin-bottom: 20px;
  margin-top: 0px;
}
.static-modal .button-row {
  margin-top: 10px;
}
.static-modal .alert-ribbon {
  border-bottom: 1px solid transparent;
}
.static-modal.large {
  width: 1180px;
}
/**************************************************************************/
/**************************************************************************/
.wysihtml5-toolbar li a i {
  line-height: 15px !important;
  font-size: 14px;
}
.wysihtml5-widget {
  padding: 20px 35px 20px 20px;
}
.wysihtml5-widget .post-msg {
  margin-right: -14px;
  /* counter the css bug */
  margin-top: 8px;
  /* 18px total from top textbox */
  margin-bottom: -5px;
}
/**************************************************************************/
/**************************************************************************/
.main-search {
  position: relative;
}
.main-search input {
  height: 33px;
  margin: 0;
  font-size: 12px;
  line-height: normal;
  padding-left: 25px;
  width: 100%;
  background: url('../images/libs/transparant-20.png');
  border: 1px solid #4E4E4E;
}
.main-search label {
  position: absolute;
  top: 6px;
  left: 9px;
  color: #757272;
}
/**************************************************************************/
/**************************************************************************/
.table-bordered {
  border-top-width: 0px;
}
.dataTable {
  border-top-width: 1px;
}
.table.text-left thead tr th {
  text-align: left;
}
table.has-checkbox thead tr th:first-child,
table.has-checkbox thead tr th.first {
  width: 5px !important;
}
table td.highlighted {
  background: url('../images/libs/transparant-40.png');
  color: #fff;
}
/**************************************************************************/
/**************************************************************************/
.label-important.special,
.badge-important.special,
.label-warning.special,
.badge-warning.special,
.label-success.special,
.badge-success.special,
.label-info.special,
.badge-info.special {
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-width: 1px;
  border-style: solid;
  background-clip: padding-box;
  -webkit-appearance: none;
  background-position: center center !important;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
}
/**************************************************************************/
/**************************************************************************/
.well.light {
  background: #FCFCFC;
}
.nav-list.well {
  padding-top: 0;
  padding-bottom: 0;
}
.well.light.spacing {
  margin-bottom: 20px;
}
/**************************************************************************/
/**************************************************************************/
.nav-list {
  margin: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  padding: 7.5px 15px;
  -moz-border-radius: 3px 3px 0px 0px;
  -khtml-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.nav-header {
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #777;
  text-transform: uppercase;
  background: #FAFAFA;
  background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  border-bottom: 1px solid #DADADA;
}
/**************************************************************************/
/**************************************************************************/
.bootstrap-timepicker.dropdown-menu {
  border-radius: 4px 4px 4px 4px;
  display: none;
  left: 0;
  margin-top: 1px;
  padding: 4px;
  top: 0;
  min-width: 10px;
  z-index: 99999;
}
.bootstrap-timepicker.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.3);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  left: 6px;
  position: absolute;
  top: -7px;
}
.bootstrap-timepicker.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  left: 7px;
  position: absolute;
  top: -6px;
}
.bootstrap-timepicker.modal {
  margin-left: -100px;
  margin-top: 0;
  top: 30%;
  width: 200px;
}
.bootstrap-timepicker.modal .modal-content {
  padding: 0;
  background: #fff;
}
.bootstrap-timepicker table {
  margin: 0;
  width: 100%;
}
.bootstrap-timepicker table td {
  height: 30px;
  margin: 0;
  padding: 2px;
  text-align: center;
}
.bootstrap-timepicker table td span {
  width: 100%;
}
.bootstrap-timepicker table td a {
  border: 1px solid transparent;
  display: inline-block;
  margin: 0;
  outline: 0 none;
  padding: 8px 0;
  width: 3em;
}
.bootstrap-timepicker table td a:hover {
  background-color: #EEEEEE;
  border-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
}
.bootstrap-timepicker table td a i {
  margin-top: 2px;
}
.bootstrap-timepicker table td input {
  margin: 0;
  text-align: center;
  width: 25px;
}
.bootstrap-timepicker-component .add-on {
  cursor: pointer;
}
.bootstrap-timepicker-component .add-on i {
  display: block;
  height: 16px;
  width: 16px;
}
/**************************************************************************/
/**************************************************************************/
.default-tabs {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  background: #FAFAFA;
  background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  border-color: #C8C8C8;
}
.default-tabs > li:first-child {
  margin-left: 0px;
}
.default-tabs > li:first-child a {
  border-left-width: 0px;
}
.default-tabs > li > a,
.default-tabs > li > a:hover {
  padding-top: 11px;
  padding-bottom: 11px;
  border-top: none !important;
  -moz-border-raius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-right: 0px;
  border: 1px solid #C8C8C8;
  border-left-width: 0px;
}
.default-tabs > li.active > a,
.default-tabs > li.active > a:hover {
  border-left-width: 0px;
  border-left-color: #C8C8C8;
  border-right-color: #C8C8C8;
}
.default-tabs .dropdown-toggle .caret {
  border-top-color: #D6CECE !important;
  border-bottom-color: #B5B7BB !important;
}
/* tab right */
.default-tabs.rt > li {
  float: right !important;
}
.default-tabs.rt > li:first-child {
  margin-right: 0px;
  margin-left: 0px;
}
.default-tabs.rt > li:first-child a,
.default-tabs.rt > li:first-child a:hover,
.default-tabs.rt > li.active:first-child a {
  border-right-width: 0px;
  border-left-width: 1px;
}
.default-tabs.rt > li > a,
.default-tabs.rt > li > a:hover,
.default-tabs.rt > li.active > a {
  border-right-width: 0px;
  border-left-width: 1px;
}
/**************************************************************************/
/**************************************************************************/
ul.custom-list {
  list-style: none;
  margin-left: 0;
}
ul.custom-list li {
  padding-left: 22px;
  background: url('../images/libs/bullet.png') no-repeat left center;
}
/**************************************************************************/
/**************************************************************************/
#calendar-container {
  position: relative;
}
html .fc,
.fc table {
  font-size: 12px;
}
.dt-header.calender-spacer {
  height: 46px;
  display: block;
}
#calendar {
  margin-top: -20px;
}
.fc-widget-header,
.fc-widget-content {
  border-right: none;
}
tr.fc-first th.fc-first,
tr td.fc-first {
  border-left: none;
}
tr.fc-last td {
  border-bottom: none;
}
.fc-header-title h2 {
  -webkit-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  margin-top: -21px;
  margin-left: 10px;
}
.fc-event-time,
.fc-event-title {
  padding: 3px 0px 2px 3px;
  display: inline-block;
  line-height: 16px;
  font-weight: bold;
  font-size: 11px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* calendar button */
#calendar-buttons {
  position: absolute;
  right: 10px;
  top: 9px;
}
/* other month */
td.fc-other-month {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(0, 0, 0, 0.03)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.03)), color-stop(0.75, rgba(0, 0, 0, 0.03)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-color: #FAFCFD;
  -moz-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
}
/**************************************************************************/
/**************************************************************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**************************************************************************/
/**************************************************************************/
.cke_top,
.cke_bottom {
  background: #eee !important;
  background-image: none !important;
}
.cke_top {
  border-bottom: 1px solid #ccc !important;
}
.cke_bottom {
  border-top: 1px solid #ccc !important;
}
.cke_chrome {
  border: 1px solid #ccc !important;
}
.cke_1_resizer {
  display: none !important;
}
/**************************************************************************/
/**************************************************************************/
.bx-wrapper {
  margin: 0;
}
.bx-wrapper .bx-loading {
  background-color: transparent;
}
.bx-wrapper .bx-viewport {
  border: 0px;
  left: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #378ce1;
  margin: 0 2px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}
.bx-wrapper .bx-pager {
  bottom: 0;
  opacity: 0;
  -moz-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.bx-wrapper .bx-pager.showing,
.bx-wrapper .bx-pager:hover {
  opacity: 1;
}
.bx-wrapper .bx-controls-direction a {
  -moz-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.bx-wrapper .bx-controls-direction a.showing,
.bx-wrapper .bx-controls-direction a:hover {
  opacity: 1;
}
/**************************************************************************/
/**************************************************************************/
.tooltip.top .tooltip-arrow {
  border-top-color: #FFFFFF !important;
}
.tooltip-inner {
  color: #222 !important;
  background-color: #fff !important;
}
.tooltip.in {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
/**************************************************************************/
/**************************************************************************/
.track3 {
  width: 10px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 10px;
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  transition: background 250ms linear;
}
.track3:hover,
.track3.dragging {
  background: rgba(0, 0, 0, 0.15);
}
.handle3 {
  width: 7px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  -moz-transition: width 250ms;
  -o-transition: width 250ms;
  transition: width 250ms;
}
.track3:hover .handle3,
.track3.dragging .handle3 {
  width: 10px;
}
.chardinjs-top {
  border: 0 !important;
}
/**************************************************************************/
/**************************************************************************/
.jqstooltip {
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  white-space: nowrap;
  padding: 5px;
  z-index: 10000;
  max-width: 280px;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  direction: ltr;
}
.jqsfield {
  text-align: left;
}
/**************************************************************************/
/**************************************************************************/
.flag {
  border-radius: 3px;
}
.selectize-control .flag {
  font-size: 19px;
  margin-right: 8px;
}
/**************************************************************************/
/**************************************************************************/
.spinner {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  font-size: 0;
  margin: 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  -moz-animation: rotateplane 1.2s infinite ease-in-out;
  -o-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
.spinner.light {
  background-color: #eee;
}
@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    -moz-transform: perspective(120px);
    -ms-transform: perspective(120px);
    -o-transform: perspective(120px);
    transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    -moz-transform: perspective(120px) rotateY(180deg);
    -ms-transform: perspective(120px) rotateY(180deg);
    -o-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    -moz-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    -ms-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    -o-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@-moz-keyframes rotateplane {
  0% {
    -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes rotateplane {
  0% {
    -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
