.pagedown-content li,
.wmd-preview li {
  line-height: 1.5;
}
.wmd-preview {
  font-size: 12px;
}
.wmd-preview h1,
.wmd-preview h2,
.wmd-preview h3,
.wmd-preview h4,
.wmd-preview h5,
.wmd-preview h6,
.wmd-preview .my-profile span,
.wmd-preview .number-stats {
  padding-left: 0;
  padding-right: 0;
}
.wmd-input {
  max-height: 150px;
}
.btn-group {
  margin-bottom: 5px;
}
/*****************************************************************************************************/
/* Edit Event
/*****************************************************************************************************/
#event-title {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  position: relative;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);
}
#event-title .name {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  padding: 40px 90px 30px;
  color: #fff;
  margin: 0;
}
#event-title .sub {
  color: #fff;
  font-size: 22px;
  margin-top: -20px;
  padding-bottom: 30px;
}
#event-title .text {
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 18px;
  padding: 0 90px 20px;
  width: 760px;
}
#event-title .text a {
  color: #ADD6FF;
}
#event-basic-info #Address {
  width: 220px;
}
#event-basic-info #Port {
  width: 80px;
}
#event-basic-info .selectize-input .name {
  display: inline-block;
  margin-top: 1px;
}
#event-basic-info .checkbox {
  margin-bottom: 20px;
}
#banners #banner-uploader {
  padding-top: 10px;
  padding-bottom: 5px;
}
#banners .separator {
  width: 100%;
  border-top: 2px solid #ddd;
  padding-bottom: 15px;
}
#banners .tiny-banners {
  padding-right: 0;
}
#banners .tiny-banners .tiny-banner {
  float: left;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
#banners .tiny-banners .tiny-banner img {
  width: 98px;
  float: left;
  border-radius: 4px;
}
#banners .tiny-videos {
  padding-right: 0;
}
#banners .tiny-videos .tiny-video {
  float: left;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 310px;
  padding: 10px;
  background: #eee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#banners .tiny-videos .tiny-video div {
  font-weight: bold;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#description #DescriptionBody {
  height: 550px;
}
#description #EventDescriptionText {
  height: 322px;
}
#description i {
  float: none;
}
#description .wmd-input {
  max-height: 150px;
}
#carousel .tiny-banners .tiny-banner img {
  width: 148px;
  height: 51px;
}
#carousel .tiny-banners .delete-link {
  line-height: 50px;
}
#play-reqs .checkbox {
  margin-bottom: 20px;
}
#play-reqs fieldset {
  float: left;
  width: 310px;
}
#play-reqs .download-label {
  width: 100px;
}
#play-reqs .download-url {
  width: 200px;
}
#event-dates .h-block {
  float: left;
  margin-right: 15px;
}
#event-dates .selectize-control {
  width: 305px;
}
#event-dates .add {
  float: left;
  margin-top: 25px;
}
#event-dates #LengthInHours {
  width: 75px;
}
#event-dates .date-list {
  padding: 20px 0 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 105px;
}
#event-dates .date-list .event-date {
  float: left;
  width: 117px;
  height: 60px;
  font-size: 11px;
  padding: 10px;
  position: relative;
  margin: 0 10px 10px 0;
  background: #E6E9EC;
  border-radius: 4px;
}
#event-dates .date-list .event-date .list-btn {
  padding: 5px;
  margin-top: 7px;
  font-size: 11px;
  overflow: hidden;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#event-dates .date-list .event-date .duration {
  font-size: 11px;
}
#event-dates .date-list .event-date.past {
  opacity: .4;
}
#event-dates .date-list .event-date.past .list-btn {
  background-color: #0063DE;
}
#delete-event .btn {
  margin: 0 30px 30px;
}
