.pagedown-content li,
.wmd-preview li {
  line-height: 1.5;
}
.wmd-preview {
  font-size: 16px;
}
.wmd-preview h1,
.wmd-preview h2,
.wmd-preview h3,
.wmd-preview h4,
.wmd-preview h5,
.wmd-preview h6,
.wmd-preview .my-profile span,
.wmd-preview .number-stats {
  padding-left: 0;
  padding-right: 0;
}
.wmd-input {
  max-height: 150px;
}
.btn-group {
  margin-bottom: 5px;
}
/*****************************************************************************************************/
/* Edit Server
/*****************************************************************************************************/
#server-title {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  position: relative;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);
}
#server-title .name {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  padding: 40px 90px 30px;
  color: #fff;
  margin: 0;
}
#server-title .view-server {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 80px;
  padding: 16px 18px;
  line-height: 10px;
  border-radius: 3px;
  z-index: 1000;
  cursor: pointer;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}
#server-title .view-server .fa {
  margin-right: 5px;
}
#server-title .sub {
  color: #fff;
  font-size: 22px;
  margin-top: -20px;
  padding-bottom: 20px;
}
#server-title .enable {
  margin: 5px auto 20px;
  padding: 14px 18px;
  background: white;
  border-bottom: 6px solid #ddd;
  border-radius: 6px;
  display: inline-block;
}
#server-title .enable .big-blue-label {
  font-size: 32px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #333;
}
#server-title .enable .big-blue-sub {
  margin-top: 8px;
}
#server-title .text {
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 18px;
  padding: 0 90px 20px;
  width: 760px;
}
#server-title .text a {
  color: #ADD6FF;
}
#server-basic-info #Address {
  width: 220px;
}
#server-basic-info #Port {
  width: 80px;
}
#server-basic-info .selectize-input .name {
  display: inline-block;
  margin-top: 1px;
}
#banners #banner-uploader,
#featured-banners #banner-uploader,
#carousel #banner-uploader,
#banners #hero-uploader,
#featured-banners #hero-uploader,
#carousel #hero-uploader {
  padding-top: 10px;
  padding-bottom: 5px;
}
#banners .separator,
#featured-banners .separator,
#carousel .separator {
  width: 100%;
  border-top: 2px solid #ddd;
  padding-bottom: 15px;
}
#banners .tiny-banners,
#featured-banners .tiny-banners,
#carousel .tiny-banners {
  padding-right: 0;
  cursor: move;
}
#banners .tiny-banners .tiny-banner,
#featured-banners .tiny-banners .tiny-banner,
#carousel .tiny-banners .tiny-banner {
  float: left;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
#banners .tiny-banners .tiny-banner img,
#featured-banners .tiny-banners .tiny-banner img,
#carousel .tiny-banners .tiny-banner img {
  width: 310px;
  height: 40px;
  float: left;
  border-radius: 4px;
}
#banners .tiny-banners .tiny-banner img.featured,
#featured-banners .tiny-banners .tiny-banner img.featured,
#carousel .tiny-banners .tiny-banner img.featured {
  width: 310px;
  height: 137px;
}
#carousel .tiny-banners .tiny-banner img {
  width: 96px;
  height: 54px;
  border-radius: 4px 0 0 4px;
}
#carousel .tiny-banners textarea {
  height: 40px;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  margin: 0;
  font-size: 11px;
  width: 188px;
  resize: none;
  padding: 5px 10px;
  border-color: #E6E9EC;
  border-width: 2px;
}
#carousel .tiny-videos {
  padding-right: 0;
  cursor: move;
}
#carousel .tiny-videos .tiny-video {
  float: left;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
#carousel .tiny-videos .tiny-video img {
  width: 96px;
  height: 54px;
  float: left;
  border-radius: 4px 0 0 4px;
}
#carousel .tiny-videos .tiny-video textarea {
  height: 40px;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  margin: 0;
  font-size: 11px;
  width: 188px;
  resize: none;
  padding: 5px 10px;
  border-color: #E6E9EC;
  border-width: 2px;
}
#carousel #VideoUrl {
  width: 212px;
}
#serverlogo #banner-uploader {
  padding-top: 10px;
  padding-bottom: 5px;
}
#serverlogo .separator {
  width: 100%;
  border-top: 2px solid #ddd;
  padding-bottom: 15px;
}
#serverlogo .tiny-banners {
  padding-right: 0;
  cursor: move;
}
#serverlogo .tiny-banners .tiny-banner {
  float: left;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
#serverlogo .tiny-banners .tiny-banner .delete-link {
  background: #f0f0f0;
}
#serverlogo .tiny-banners .tiny-banner img {
  width: 310px;
  float: left;
  border-radius: 4px;
}
#query #Address {
  width: 220px;
}
#query #Port {
  width: 80px;
}
#votifier #Address {
  width: 220px;
}
#votifier #Port {
  width: 80px;
}
#description #DescriptionBody {
  height: 550px;
}
#description #DescriptionText {
  height: 445px;
}
#description i {
  float: none;
}
#staff .radio-btn {
  min-height: 22px;
  padding: 1px 0;
  color: #333;
  cursor: pointer;
}
#staff .radio-btn b {
  display: table-cell;
}
#staff .radio-btn span {
  display: table-cell;
}
#staff .sp-replacer {
  margin: 4px 0 12px;
}
#staff #Rank {
  width: 222px;
}
#staff .username {
  margin-bottom: 5px;
}
#staff .perms {
  float: right;
  font-size: 11px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 16px;
  color: #999;
}
#staff .staff {
  padding-right: 0;
  cursor: move;
}
#staff .staff .person {
  float: left;
  position: relative;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 310px;
  padding: 5px;
  background: #f7f7fa;
  border-radius: 4px;
}
#staff .staff .person .wrap {
  height: 35px;
}
#staff .staff .person .wrap .face {
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
}
#staff .staff .person .wrap .name {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
}
#staff .staff .person .wrap .rank {
  float: left;
  margin-top: 6px;
  margin-left: 5px;
}
#staff .staff .person .quote input {
  margin: 0;
  width: 280px;
  font-size: 11px;
  line-height: 15px;
  border: 0;
  height: 15px;
}
#plugins {
  min-height: 421px;
}
#plugins .checkbox-list {
  width: 100%;
  margin-bottom: 5px;
  height: 356px;
  overflow-y: scroll;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#plugins .checkbox-list .plugin-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
#plugins .checkbox-list .plugin-row {
  padding: 10px 0;
  height: 98px;
}
#plugins .checkbox-list .plugin-row .col1 {
  float: left;
  margin-right: 10px;
}
#plugins .checkbox-list .plugin-row .col2 {
  float: right;
  margin-right: 10px;
}
#plugins .checkbox-list .plugin-row .col2 .desc {
  width: 210px;
  height: 74px;
  line-height: 18px;
}
#plugins .checkbox-list .plugin-row .col3 {
  float: right;
  margin-right: 10px;
}
#plugins .checkbox-list .plugin-row .col3 .urls {
  display: block;
  width: 210px;
}
#plugins .checkbox-list .plugin-row .urls.plug {
  padding: 9px 10px;
  border-radius: 4px;
  border: solid 2px #f9f9f9;
  background: #f9f9f9;
  height: 20px;
  margin-bottom: 10px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}
#plugins .checkbox-list .plugin-row .desc.plug {
  padding: 8px 10px;
  border-radius: 4px;
  border: solid 2px #f9f9f9;
  background: #f9f9f9;
  margin-bottom: 10px;
  line-height: 18px;
}
#plugins .checkbox-list .plugin-row .desc.plug .glove {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 70px;
}
#plugins .checkbox-list .checkbox {
  display: inline-block;
  margin: 7px 0;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#plugins .show-plugins {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
#modpacks .add-box {
  float: left;
}
#modpacks .add-box .modpack {
  float: left;
  margin-right: 10px;
  width: 213px;
}
#modpacks .add-box .add {
  float: left;
}
#modpacks .add-new {
  display: none;
  background: #fcfcfc;
  padding: 15px 30px;
}
#modpacks .block {
  padding: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  cursor: move;
  width: 130px;
  font-size: 11px;
  height: 131px;
  position: relative;
  margin: 12px;
  float: left;
}
#modpacks .block img {
  max-width: initial;
  width: 130px;
  border-radius: 10px 10px 0 0;
  cursor: move;
}
#modpacks .block p {
  margin: 0;
}
#modpacks .block .bucket {
  border: 6px solid #fff;
  border-top: 0;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  height: 52px;
  background: #fff;
  position: absolute;
  cursor: move;
  bottom: 0;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#modpacks .block .bucket h3 {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding: 7px 7px 3px;
  color: rgba(0, 0, 0, 0.85);
}
#modpacks .block .bucket .desc {
  color: rgba(0, 0, 0, 0.65);
  height: 68px;
  width: 113px;
  overflow: hidden;
  font-size: 10px;
  margin-bottom: 8px;
  margin-left: 3px;
  margin-right: 2px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#modpacks .block .bucket .desc .nano-content {
  padding: 0 5px 5px 5px;
}
#modpacks .block .bucket .desc .nano-pane {
  background: rgba(0, 0, 0, 0.1);
}
#modpacks .block .bucket .desc .nano-slider {
  background: rgba(0, 0, 0, 0.85);
}
#modpacks .block .delete-link {
  top: 6px;
  right: 6px;
}
#modpacks .block .bucket.extended {
  height: 96px;
}
#modpacks .block .bucket.extended .desc {
  height: 70px;
}
#modpacks .checkbox-list {
  width: 100%;
  margin-bottom: 5px;
  max-height: 356px;
  overflow-y: scroll;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#modpacks .checkbox-list .modpack-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
#modpacks .checkbox-list .modpack-row {
  padding: 10px 0;
  height: 98px;
}
#modpacks .checkbox-list .modpack-row .names {
  display: inline-block;
  margin: 7px 0;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#modpacks .checkbox-list .modpack-row .names .btn {
  margin-right: 6px;
  padding: 5px 7px;
  line-height: 12px;
}
#modpacks .checkbox-list .modpack-row .desc {
  width: 210px;
  height: 74px;
  line-height: 18px;
}
#modpacks .checkbox-list .modpack-row .urls {
  display: block;
  width: 210px;
}
#modpacks .checkbox-list .modpack-row .urls.plug {
  padding: 9px 10px;
  border-radius: 4px;
  border: solid 2px #f9f9f9;
  background: #f9f9f9;
  height: 20px;
  margin-bottom: 10px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}
#modpacks .checkbox-list .modpack-row .desc.plug {
  padding: 8px 10px;
  border-radius: 4px;
  border: solid 2px #f9f9f9;
  background: #f9f9f9;
  margin-bottom: 10px;
  line-height: 18px;
}
#modpacks .checkbox-list .modpack-row .desc.plug .glove {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 70px;
}
#modpacks .button-row {
  margin-bottom: 30px;
}
#mini-games .add-box {
  float: left;
}
#mini-games .add-box .mini-game {
  float: left;
  margin-right: 10px;
  width: 213px;
}
#mini-games .add-box .add {
  float: left;
}
#mini-games .add-new {
  display: none;
  background: #fcfcfc;
  padding: 15px 30px;
}
#mini-games .block {
  padding: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  cursor: move;
  width: 130px;
  font-size: 11px;
  height: 131px;
  position: relative;
  margin: 12px;
  float: left;
}
#mini-games .block .rounded-video {
  position: relative;
  width: 130px;
}
#mini-games .block .rounded-video .tl {
  background-image: url(../images/tl.png);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
#mini-games .block .rounded-video .tr {
  background-image: url(../images/tr.png);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
#mini-games .block img {
  max-width: initial;
  width: 130px;
  cursor: move;
  border-radius: 10px 10px 0 0;
}
#mini-games .block p {
  margin: 0;
}
#mini-games .block .bucket {
  border: 6px solid #fff;
  border-top: 0;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  height: 52px;
  background: #fff;
  position: absolute;
  cursor: move;
  bottom: 0;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#mini-games .block .bucket h3 {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding: 7px 7px 3px;
  color: rgba(0, 0, 0, 0.85);
}
#mini-games .block .bucket .desc {
  color: rgba(0, 0, 0, 0.65);
  height: 68px;
  width: 113px;
  overflow: hidden;
  font-size: 10px;
  margin-bottom: 8px;
  margin-left: 3px;
  margin-right: 2px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#mini-games .block .bucket .desc .nano-content {
  padding: 0 5px 5px 5px;
}
#mini-games .block .bucket .desc .nano-pane {
  background: rgba(0, 0, 0, 0.1);
}
#mini-games .block .bucket .desc .nano-slider {
  background: rgba(0, 0, 0, 0.85);
}
#mini-games .block .delete-link {
  top: 6px;
  right: 6px;
}
#mini-games .block .bucket.extended {
  height: 96px;
}
#mini-games .block .bucket.extended .desc {
  height: 70px;
}
#mini-games .checkbox-list {
  width: 100%;
  margin-bottom: 5px;
  max-height: 356px;
  overflow-y: scroll;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#mini-games .checkbox-list .mini-game-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
#mini-games .checkbox-list .mini-game-row {
  padding: 10px 0;
  height: 98px;
}
#mini-games .checkbox-list .mini-game-row .names {
  display: inline-block;
  margin: 7px 0;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#mini-games .checkbox-list .mini-game-row .names .btn {
  margin-right: 6px;
  padding: 5px 7px;
  line-height: 12px;
}
#mini-games .checkbox-list .mini-game-row .desc {
  width: 210px;
  height: 74px;
  line-height: 18px;
}
#mini-games .checkbox-list .mini-game-row .urls {
  display: block;
  width: 210px;
}
#mini-games .checkbox-list .mini-game-row .urls.plug {
  padding: 9px 10px;
  border-radius: 4px;
  border: solid 2px #f9f9f9;
  background: #f9f9f9;
  height: 20px;
  margin-bottom: 10px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}
#mini-games .checkbox-list .mini-game-row .desc.plug {
  padding: 8px 10px;
  border-radius: 4px;
  border: solid 2px #f9f9f9;
  background: #f9f9f9;
  margin-bottom: 10px;
  line-height: 18px;
}
#mini-games .checkbox-list .mini-game-row .desc.plug .glove {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 70px;
}
#mini-games .button-row {
  margin-bottom: 30px;
}
#play-reqs .checkbox {
  margin-bottom: 20px;
}
#colors label {
  float: left;
  width: 92px;
  line-height: 31px;
}
#colors .sp-replacer {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}
#colors .fa {
  font-size: 26px;
  color: #E6E9EC;
  cursor: pointer;
}
#colors .checkbox {
  width: 140px;
  margin-top: 5px;
  line-height: 21px;
}
#colors .help-block {
  float: left;
}
#connection-infos .name {
  width: 130px;
}
#connection-infos .address {
  width: 286px;
}
#connection-infos .port {
  width: 80px;
}
#connection-infos .download-label {
  width: 130px;
}
#connection-infos .download-url {
  width: 286px;
}
#connection-infos .whitelist-url input {
  width: 286px;
}
#connection-infos .tiny-servers {
  padding-right: 0;
  cursor: move;
}
#connection-infos .tiny-servers .tiny-server {
  position: relative;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: #f7f7fa;
  min-height: 50px;
  padding: 8px;
}
#connection-infos .tiny-servers .tiny-server .delete-link {
  top: 4px;
  right: 4px;
}
#connection-infos .tiny-servers .tiny-server .ip-wrapper {
  height: 50px;
  text-align: left;
  float: left;
}
#connection-infos .tiny-servers .tiny-server .ip-wrapper .btn {
  font-size: 22px;
  padding: 14px 15px 13px;
  text-align: center;
  line-height: 19px;
  color: #777;
  border-radius: 5px;
  margin-left: 4px;
  vertical-align: top;
  background: #FFFFFF;
  cursor: pointer;
}
#connection-infos .tiny-servers .tiny-server .ip-wrapper .input-wrapper {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 4px;
  color: #777;
  border-left: none;
}
#connection-infos .tiny-servers .tiny-server .ip-wrapper .input-wrapper .title {
  float: left;
  padding: 0 20px;
  height: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #aaa;
  background: #FFFFFF;
  -moz-user-select: none;
  border-right: 1px solid #eee;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}
#connection-infos .tiny-servers .tiny-server .ip-wrapper .input-wrapper #ip {
  float: left;
  font-size: 22px;
  padding: 9px 17px;
  height: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #777;
  box-sizing: border-box;
  cursor: move;
}
