﻿
.pagedown-content,
.wmd-preview {

    li {
        line-height: 1.5;
    }
}

.wmd-preview {
    font-size: 16px;

    h1, h2, h3, h4, h5, h6, .my-profile span, .number-stats {
        padding-left: 0;
        padding-right: 0;
    }
}

.wmd-input {
    max-height: 150px;
}

.btn-group {
    margin-bottom: 5px;
}

/*****************************************************************************************************/
/* Edit Server
/*****************************************************************************************************/

#server-title {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    position: relative;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.25);

    .name {
        font-size: 80px;
        line-height: 80px;
        //text-shadow: 1px 3px 0 rgba(0,0,0,0.2);
        font-weight: bold;
        padding: 40px 90px 30px;
        color: #fff;
        margin: 0;
    }

    .view-server {
        color: #fff;
        position: absolute;
        top: 20px;
        right: 80px;
        padding: 16px 18px;
        line-height: 10px;
        border-radius: 3px;
        z-index: 1000;
        cursor: pointer;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        -webkit-transition: opacity 500ms;
        transition: opacity 500ms;

        .fa {
            margin-right: 5px;
        }
    }

    .sub {
        color: #fff;
        font-size: 22px;
        margin-top: -20px;
        padding-bottom: 20px;
    }

    .enable {
        margin: 5px auto 20px;
        padding: 14px 18px;
        background: white;
        border-bottom: 6px solid #ddd;
        border-radius: 6px;
        display: inline-block;

        .big-blue-label {
            font-size: 32px;
            font-family: 'museo-sans-rounded', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            color: #333;
        }

        .big-blue-sub {
            margin-top: 8px;
        }
    }

    .text {
        text-align: center;
        color: #fff;
        margin: 0 auto;
        font-size: 18px;
        padding: 0 90px 20px;
        width: 760px;

        a {
            color: #ADD6FF;
        }
    }
}

#server-basic-info {
    #Address {
        width: 220px;
    }

    #Port {
        width: 80px;
    }

    .selectize-input {
        .name {
            display: inline-block;
            margin-top: 1px;
        }
    }
}

#banners,
#featured-banners,
#carousel {
    #banner-uploader,
    #hero-uploader {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .separator {
        width: 100%;
        border-top: 2px solid #ddd;
        padding-bottom: 15px;
    }

    .tiny-banners {
        padding-right: 0;
        cursor: move;

        .tiny-banner {
            float: left;
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;

            img {
                width: 310px;
                height: 40px;
                float: left;
                border-radius: 4px;
            }

            img.featured {
                width: 310px;
                height: 137px;
            }
        }
    }
}

#carousel {
    .tiny-banners {
        .tiny-banner {
            img {
                width: 96px;
                height: 54px;
                border-radius: 4px 0 0 4px;
            }
        }

        textarea {
            height: 40px;
            border-radius: 0 4px 4px 0;
            border-left: 0;
            margin: 0;
            font-size: 11px;
            width: 188px;
            resize: none;
            padding: 5px 10px;
            border-color: #E6E9EC;
            border-width: 2px;
        }
    }

    .tiny-videos {
        padding-right: 0;
        cursor: move;

        .tiny-video {
            float: left;
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;

            img {
                width: 96px;
                height: 54px;
                float: left;
                border-radius: 4px 0 0 4px;
            }

            textarea {
                height: 40px;
                border-radius: 0 4px 4px 0;
                border-left: 0;
                margin: 0;
                font-size: 11px;
                width: 188px;
                resize: none;
                padding: 5px 10px;
                border-color: #E6E9EC;
                border-width: 2px;
            }
        }
    }

    #VideoUrl {
        width: 212px;
    }
}

#serverlogo {
    #banner-uploader {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .separator {
        width: 100%;
        border-top: 2px solid #ddd;
        padding-bottom: 15px;
    }

    .tiny-banners {
        padding-right: 0;
        cursor: move;

        .tiny-banner {
            float: left;
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;

            .delete-link {
                background: #f0f0f0;
            }

            img {
                width: 310px;
                float: left;
                border-radius: 4px;
            }
        }
    }
}

#query {
    #Address {
        width: 220px;
    }

    #Port {
        width: 80px;
    }

    .button-row {
        .test {
        }
    }
}

#votifier {
    #Address {
        width: 220px;
    }

    #Port {
        width: 80px;
    }

    .button-row {
        .test {
        }
    }
}

#description {
    #DescriptionBody {
        height: 550px;
    }

    #DescriptionText {
        height: 445px;
    }

    i {
        float: none;
    }
}

#staff {

    .radio-btn {
        min-height: 22px;
        padding: 1px 0;
        color: #333;
        cursor: pointer;

        b {
            display: table-cell;
        }

        span {
            display: table-cell;
        }
    }

    .sp-replacer {
        margin: 4px 0 12px;
    }

    #Rank {
        width: 222px;
    }

    .username {
        margin-bottom: 5px;
    }

    .perms {
        float: right;
        font-size: 11px;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 16px;
        color: #999;
    }

    .staff {
        padding-right: 0;
        cursor: move;

        .person {
            float: left;
            position: relative;
            margin-bottom: 10px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 310px;
            padding: 5px;
            background: #f7f7fa;;
            border-radius: 4px;

            .wrap {
                height: 35px;

                .face {
                    width: 30px;
                    height: 30px;
                    float: left;
                    cursor: pointer;
                }

                .name {
                    float: left;
                    margin-top: 6px;
                    margin-left: 10px;
                    cursor: pointer;
                }

                .rank {
                    float: left;
                    margin-top: 6px;
                    margin-left: 5px;
                }
            }

            .quote {
                input {
                    margin: 0;
                    width: 280px;
                    font-size: 11px;
                    line-height: 15px;
                    border: 0;
                    height: 15px;
                }
            }
        }
    }
}

#plugins {
    min-height: 421px;

    .checkbox-list {
        width: 100%;
        margin-bottom: 5px;
        height: 356px;
        overflow-y: scroll;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .plugin-row:not(:last-child) {
            border-bottom: 1px solid #eee;
        }

        .plugin-row {
            padding: 10px 0;
            height: 98px;

            .col1 {
                float: left;
                margin-right: 10px;
            }

            .col2 {
                float: right;
                margin-right: 10px;

                .desc {
                    width: 210px;
                    height: 74px;
                    line-height: 18px;
                }
            }

            .col3 {
                float: right;
                margin-right: 10px;

                .urls {
                    display: block;
                    width: 210px;
                }
            }

            .urls.plug {
                padding: 9px 10px;
                border-radius: 4px;
                border: solid 2px #f9f9f9;
                background: #f9f9f9;
                height: 20px;
                margin-bottom: 10px;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 20px;
            }

            .desc.plug {
                padding: 8px 10px;
                border-radius: 4px;
                border: solid 2px #f9f9f9;
                background: #f9f9f9;
                margin-bottom: 10px;
                line-height: 18px;

                .glove {
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 70px;
                }
            }
        }

        .checkbox {
            display: inline-block;
            margin: 7px 0;
            font-weight: bold;
            font-size: 15px;
            width: 200px;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .show-plugins {
        float: right;
        margin-right: 20px;
        margin-top: 10px;
    }
}

#modpacks {
    .add-box {
        float: left;

        .modpack {
            float: left;
            margin-right: 10px;
            width: 213px;
        }

        .add {
            float: left;
        }
    }

    .add-new {
        display: none;
        background: #fcfcfc;
        padding: 15px 30px;
    }

    .block {
        padding: 0;
        box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
        border-radius: 12px;
        cursor: move;
        width: 130px;
        font-size: 11px;
        height: 131px;
        position: relative;
        margin: 12px;
        float: left;

        img {
            max-width: initial;
            width: 130px;
            border-radius: 10px 10px 0 0;
            cursor: move;
        }

        p {
            margin: 0;
        }

        .bucket {
            border: 6px solid #fff;
            border-top: 0;
            border-radius: 0 0 12px 12px;
            overflow: hidden;
            height: 52px;
            background: #fff;
            position: absolute;
            cursor: move;
            bottom: 0;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;

            h3 {
                margin: 0;
                font-size: 12px;
                line-height: 12px;
                font-weight: 400;
                padding: 7px 7px 3px;
                color: rgba(0, 0, 0, 0.85);
            }

            .desc {
                color: rgba(0, 0, 0, 0.65);
                height: 68px;
                width: 113px;
                overflow: hidden;
                font-size: 10px;
                margin-bottom: 8px;
                margin-left: 3px;
                margin-right: 2px;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;

                .nano-content {
                    padding: 0 5px 5px 5px;
                }

                .nano-pane {
                    background: rgba(0,0,0,.1);
                }

                .nano-slider {
                    background: rgba(0, 0, 0, 0.85);
                }
            }
        }

        .delete-link {
            top: 6px;
            right: 6px;
        }

        .bucket.extended {
            height: 96px;

            .desc {
                height: 70px;
            }
        }
    }

    .checkbox-list {
        width: 100%;
        margin-bottom: 5px;
        max-height: 356px;
        overflow-y: scroll;
        background: #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .modpack-row:not(:last-child) {
            border-bottom: 1px solid #eee;
        }

        .modpack-row {
            padding: 10px 0;
            height: 98px;

            .names {
                display: inline-block;
                margin: 7px 0;
                font-weight: bold;
                font-size: 15px;
                width: 200px;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .btn {
                    margin-right: 6px;
                    padding: 5px 7px;
                    line-height: 12px;
                }
            }

            .desc {
                width: 210px;
                height: 74px;
                line-height: 18px;
            }

            .urls {
                display: block;
                width: 210px;
            }

            .urls.plug {
                padding: 9px 10px;
                border-radius: 4px;
                border: solid 2px #f9f9f9;
                background: #f9f9f9;
                height: 20px;
                margin-bottom: 10px;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 20px;
            }

            .desc.plug {
                padding: 8px 10px;
                border-radius: 4px;
                border: solid 2px #f9f9f9;
                background: #f9f9f9;
                margin-bottom: 10px;
                line-height: 18px;

                .glove {
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 70px;
                }
            }
        }
    }

    .button-row {
        margin-bottom: 30px;
    }
}

#mini-games {
    .add-box {
        float: left;

        .mini-game {
            float: left;
            margin-right: 10px;
            width: 213px;
        }

        .add {
            float: left;
        }
    }

    .add-new {
        display: none;
        background: #fcfcfc;
        padding: 15px 30px;
    }

    .block {
        padding: 0;
        box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
        border-radius: 12px;
        cursor: move;
        width: 130px;
        font-size: 11px;
        height: 131px;
        position: relative;
        margin: 12px;
        float: left;

        .rounded-video {
            position: relative;
            width: 130px;

            .tl {
                background-image: url(../images/tl.png);
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: 0;
            }

            .tr {
                background-image: url(../images/tr.png);
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }


        img {
            max-width: initial;
            width: 130px;
            cursor: move;
            border-radius: 10px 10px 0 0;
        }

        p {
            margin: 0;
        }

        .bucket {
            border: 6px solid #fff;
            border-top: 0;
            border-radius: 0 0 12px 12px;
            overflow: hidden;
            height: 52px;
            background: #fff;
            position: absolute;
            cursor: move;
            bottom: 0;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;

            h3 {
                margin: 0;
                font-size: 12px;
                line-height: 12px;
                font-weight: 400;
                padding: 7px 7px 3px;
                color: rgba(0, 0, 0, 0.85);
            }

            .desc {
                color: rgba(0, 0, 0, 0.65);
                height: 68px;
                width: 113px;
                overflow: hidden;
                font-size: 10px;
                margin-bottom: 8px;
                margin-left: 3px;
                margin-right: 2px;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;

                .nano-content {
                    padding: 0 5px 5px 5px;
                }

                .nano-pane {
                    background: rgba(0,0,0,.1);
                }

                .nano-slider {
                    background: rgba(0, 0, 0, 0.85);
                }
            }
        }

        .delete-link {
            top: 6px;
            right: 6px;
        }

        .bucket.extended {
            height: 96px;

            .desc {
                height: 70px;
            }
        }
    }

    .checkbox-list {
        width: 100%;
        margin-bottom: 5px;
        max-height: 356px;
        overflow-y: scroll;
        background: #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .mini-game-row:not(:last-child) {
            border-bottom: 1px solid #eee;
        }

        .mini-game-row {
            padding: 10px 0;
            height: 98px;

            .names {
                display: inline-block;
                margin: 7px 0;
                font-weight: bold;
                font-size: 15px;
                width: 200px;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .btn {
                    margin-right: 6px;
                    padding: 5px 7px;
                    line-height: 12px;
                }
            }

            .desc {
                width: 210px;
                height: 74px;
                line-height: 18px;
            }


            .urls {
                display: block;
                width: 210px;
            }

            .urls.plug {
                padding: 9px 10px;
                border-radius: 4px;
                border: solid 2px #f9f9f9;
                background: #f9f9f9;
                height: 20px;
                margin-bottom: 10px;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 20px;
            }

            .desc.plug {
                padding: 8px 10px;
                border-radius: 4px;
                border: solid 2px #f9f9f9;
                background: #f9f9f9;
                margin-bottom: 10px;
                line-height: 18px;

                .glove {
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 70px;
                }
            }
        }
    }

    .button-row {
        margin-bottom: 30px;
    }
}

#play-reqs {
    .checkbox {
        margin-bottom: 20px;
    }
}

#colors {
    label {
        float: left;
        width: 92px;
        line-height: 31px;
    }

    .sp-replacer {
        float: left;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .fa {
        font-size: 26px;
        color: #E6E9EC;
        cursor: pointer;
    }

    .checkbox {
        width: 140px;
        margin-top: 5px;
        line-height: 21px;
    }

    .help-block {
        float: left;
    }
}

#connection-infos {
    .name {
        width: 130px;
    }

    .address {
        width: 286px;
    }

    .port {
        width: 80px;
    }

    .download-label {
        width: 130px;
    }

    .download-url {
        width: 286px;
    }

    .whitelist-url {
        input {
            width: 286px;
        }
    }

    .tiny-servers {
        padding-right: 0;
        cursor: move;

        .tiny-server {
            position: relative;
            margin-right: 30px;
            margin-bottom: 10px;
            border-radius: 6px;
            background: #f7f7fa;;
            min-height: 50px;
            padding: 8px;

            .delete-link {
                top: 4px;
                right: 4px;
            }

            .ip-wrapper {
                height: 50px;
                text-align: left;
                float: left;

                .btn {
                    font-size: 22px;
                    padding: 14px 15px 13px;
                    text-align: center;
                    line-height: 19px;
                    color: #777;
                    border-radius: 5px;
                    margin-left: 4px;
                    vertical-align: top;
                    background: #FFFFFF;
                    cursor: pointer;
                }

                .input-wrapper {
                    display: inline-block;
                    background: #FFFFFF;
                    border-radius: 4px;
                    color: #777;
                    border-left: none;

                    .title {
                        float: left;
                        padding: 0 20px;
                        height: 50px;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border-radius: 5px 0 0 5px;
                        text-align: center;
                        line-height: 50px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #aaa;
                        background: #FFFFFF;
                        -moz-user-select: none;
                        border-right: 1px solid #eee;
                        -ms-user-select: none;
                        -webkit-user-select: none;
                        user-select: none;
                        cursor: move;
                    }

                    #ip {
                        float: left;
                        font-size: 22px;
                        padding: 9px 17px;
                        height: 50px;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        color: #777;
                        box-sizing: border-box;
                        cursor: move;
                    }
                }
            }
        }
    }
}
