﻿
.pagedown-content,
.wmd-preview {

    li {
        line-height: 1.5;
    }
}

.wmd-preview {
    font-size: 12px;

    h1, h2, h3, h4, h5, h6, .my-profile span, .number-stats {
        padding-left: 0;
        padding-right: 0;
    }
}

.wmd-input {
    max-height: 150px;
}

.btn-group {
    margin-bottom: 5px;
}


/*****************************************************************************************************/
/* Edit Event
/*****************************************************************************************************/

#event-title {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    position: relative;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.25);

    .name {
        font-size: 80px;
        line-height: 80px;
        //text-shadow: 1px 3px 0 rgba(0,0,0,0.2);
        font-weight: bold;
        padding: 40px 90px 30px;
        color: #fff;
        margin: 0;
    }

    .sub {
        color: #fff;
        font-size: 22px;
        margin-top: -20px;
        padding-bottom: 30px;
    }

    .text {
        text-align: center;
        color: #fff;
        margin: 0 auto;
        font-size: 18px;
        padding: 0 90px 20px;
        width: 760px;

        a {
            color: #ADD6FF;
        }
    }
}

#event-basic-info {
    #Address {
        width: 220px;
    }

    #Port {
        width: 80px;
    }

    .selectize-input {
        .name {
            display: inline-block;
            margin-top: 1px;
        }
    }

    .checkbox {
        margin-bottom: 20px;
    }
}

#banners {
    #banner-uploader {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .separator {
        width: 100%;
        border-top: 2px solid #ddd;
        padding-bottom: 15px;
    }

    .tiny-banners {
        padding-right: 0;

        .tiny-banner {
            float: left;
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;

            img {
                width: 98px;
                float: left;
                border-radius: 4px;
            }
        }
    }

    .tiny-videos {
        padding-right: 0;

        .tiny-video {
            float: left;
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 310px;
            padding: 10px;
            background: #eee;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            div {
                font-weight: bold;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
        }
    }
}

#description {
    #DescriptionBody {
        height: 550px;
    }

    #EventDescriptionText {
        height: 322px;
    }

    i {
        float: none;
    }

    .wmd-input {
        max-height: 150px;
    }
}

#carousel {
    .tiny-banners {
        .tiny-banner {
            img {
                width: 148px;
                height: 51px;
            }
        }

        .delete-link {
            line-height: 50px;
        }
    }
}

#play-reqs {
    .checkbox {
        margin-bottom: 20px;
    }

    fieldset {
        float: left;
        width: 310px;
    }


    .download-label {
        width: 100px;
    }

    .download-url {
        width: 200px;
    }
}

#event-dates {
    .h-block {
        float: left;
        margin-right: 15px;
    }

    .selectize-control {
        width: 305px;
    }

    .add {
        float: left;
        margin-top: 25px;
    }

    #LengthInHours {
        width: 75px;
    }

    .date-list {
        padding: 20px 0 10px 20px;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 105px;

        .event-date {
            float: left;
            width: 117px;
            height: 60px;
            font-size: 11px;
            padding: 10px;
            position: relative;
            margin: 0 10px 10px 0;
            background: #E6E9EC;
            border-radius: 4px;

            .list-btn {
                padding: 5px;
                margin-top: 7px;
                font-size: 11px;
                overflow: hidden;
                width: 100%;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                white-space: nowrap;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            .duration {
                font-size: 11px;
            }
        }

        .event-date.past {
            opacity: .4;

            .list-btn {
                background-color: #0063DE;
            }
        }
    }
}

#delete-event {
    .btn {
        margin: 0 30px 30px;
    }
}
