﻿html {
    overflow-y: scroll;
}

#settings {
    bottom: -80px;
}

footer {
    margin-top: 60px;
    display: none;
}


.dd-item {
    padding: 1px 2px !important;
    clear: both;
    height: 30px;

    .img-wrap {
        float: left;
        vertical-align: text-top;
        text-align: center;
        padding-right: 8px;
        height: 30px;

        img {
            max-width: 53px;
            max-height: 30px;
            border-radius: 3px;
        }
    }

    .flag {
        font-size: 30px;
        margin-right: 8px;
    }

    .name {
        margin-top: 5px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 20px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .count {
        margin-top: 5px;
        margin-right: 9px;
    }
}

.dd-option {
    padding: 4px 6px !important;
    clear: both;
    height: 30px;

    .flag {
        font-size: 27px;
        margin-right: 8px;
        margin-top: 1px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }

    .name {
        margin-top: 5px;
        vertical-align: top;
        display: inline-block;
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .count {
        margin-top: 5px;
        min-width: 15px;
    }
}

.dd-option.active {
    .name {
        color: #fff;
    }
}
/*****************************************************************************************************/
/* Events
/*****************************************************************************************************/

.page-container {
    width: 1210px;
    margin-top: 30px;
}

.hero {
    height: 490px;
    background: url('../images/events-hero.jpg');
    background-size: cover;
    background-position-y: -135px;

    .inner {
        width: 110%;
        margin-top: 70px;
        text-align: center;

        .copy {
            position: absolute;
            color: #fff;
            width: 100%;
            text-align: center;
            padding-top: 155px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 490px;
            z-index: 2;

            h1 {
                color: #fff;
                font-size: 75px;
                line-height: 85px;
                max-width: 960px;
                font-weight: 300;
                margin: 0 auto;
            }

            div {
                font-size: 25px;
                margin: 20px auto 0;
            }
        }
    }

    .radial {
        width: 100%;
        height: 490px;
        opacity: .75;
        position: absolute;
        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}

#filter-container {
    position: relative;
    z-index: 100;
    background: hsl(215, 73%, 47%);
    border-bottom: 7px solid rgba(19, 76, 190, 0.5);
    display: none;

    .main {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .add-event {
            position: absolute;
            top: 2px;
            width: 80px;
            line-height: 15px;
            right: 0;
            font-size: 13px;
            font-weight: bold;
            padding: 10px 12px;
            z-index: 2;
            background: hsla(214, 90%, 31%, 0.2);
            background-image: none;
            border-radius: 6px;

            .fa {
                font-size: 22px;
                line-height: 22px;
                font-weight: normal;
                margin-top: 6px;
                float: left;
            }
        }

        .add-event:hover {
            background: hsla(214, 90%, 31%, 0.55);
            box-shadow: none;
        }

        .info-button {
            width: 35px;
            height: 35px;
            background: transparent;
            border: 4px solid #fff;
            color: #fff;
            text-align: center;
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 20px;
            opacity: .1;
            border-radius: 999px;
            z-index: 100;
            text-decoration: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
        }

        .info-button:hover,
        .info-button:active {
            opacity: 1 !important;
        }

        .tags-box {
            position: relative;

            .title {
                font-size: 34px;
                color: #fff;
                line-height: 46px;
                padding: 30px 0 10px;
                text-align: center;
                font-weight: 600;
                font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;
            }

            .tags {
                margin: 0 0 25px;
                padding-top: 35px;
                text-align: center;

                .tag-row:first-child {
                    margin-bottom: 4px;
                }

                .fa-search {
                    position: relative;
                    z-index: 2;
                    left: -38px;
                    top: 16px;
                    vertical-align: top;
                    font-size: 20px;
                    color: #ddd;
                    width: 0;
                    cursor: pointer;
                }

                .selectize-dropdown-content {
                    //background: #222;
                    //color: #ccc;
                }

                .selectize-control {
                    width: 218px;
                    margin: 0 8px;
                    text-align: left;
                    display: inline-block;
                    //background: #fff;
                    border-radius: 4px;

                    .selectize-dropdown-content {
                        font-size: 12px;
                    }

                    .selectize-input {
                        line-height: 26px;
                        color: #000;
                        font-weight: bold;
                        font-family: 'museo-sans-rounded','Helvetica Neue',Helvetica,Arial,sans-serif !important;
                        border-color: transparent;
                        background-color: hsl(220, 82%, 41%);
                        //box-shadow: 0 1px 3px rgba(0,0,0,0.15);
                        border-radius: 4px;
                        height: 50px;
                        z-index: 3;

                        input {
                            width: auto !important;
                            cursor: pointer;
                            color: #fff !important;
                            font-size: 14px;
                        }

                        input::-moz-placeholder {
                            color: #fff;
                            opacity: 1;
                            font-size: 18px;
                            font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        }

                        input:-ms-input-placeholder {
                            color: #fff;
                            opacity: 1;
                            font-size: 18px;
                            font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        }

                        input::-webkit-input-placeholder {
                            color: #fff;
                            opacity: 1;
                            font-size: 18px;
                            font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        }
                    }

                    .selectize-input.dropdown-active {
                        border-radius: 4px 4px 0 0 !important;

                        ::before {
                            background: transparent !important;
                        }

                        input {
                            color: #000 !important;
                        }
                    }

                    .selectize-input::after {
                        border-color: rgba(255,255,255,1) transparent transparent transparent;
                    }

                    .selectize-input.disabled::after {
                        border-color: hsla(210, 74%, 55%, .33) transparent transparent transparent;
                    }

                    .selectize-input.focus {
                        border-color: #fff !important;
                        background-color: #fff !important;
                        z-index: 1;

                        input::-moz-placeholder {
                            color: #ccc;
                            opacity: 1;
                        }

                        input:-ms-input-placeholder {
                            color: #ccc;
                        }

                        input::-webkit-input-placeholder {
                            color: #ccc;
                        }

                        input {
                            cursor: text;
                        }
                    }

                    .selectize-input.disabled {
                        input::-moz-placeholder {
                            color: hsl(210, 74%, 55%);
                        }

                        input:-ms-input-placeholder {
                            color: hsl(210, 74%, 55%);
                        }

                        input::-webkit-input-placeholder {
                            color: hsl(210, 74%, 55%);
                        }

                        input {
                            cursor: text;
                        }
                    }

                    .selectize-dropdown {
                        max-height: 400px;

                        .name {
                        }

                        .count {
                            float: right;
                            color: rgba(0,0,0,.15);
                            font-weight: bold;
                        }

                        .active {
                            //background-color: hsl(0, 93%, 32%);
                            .count {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .filters-wrapper {
                padding: 0 12px 0;
                border-radius: 6px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-align: center;
                display: none;

                .selectize-control.default.multi .selectize-input {
                    > div {
                        background: #fff !important;
                        color: hsl(217, 25%, 12%);
                    }

                    .remove {
                        color: hsl(217, 25%, 12%);
                        line-height: 12px;
                        border-radius: 0 4px 4px 0;
                    }

                    .remove:hover {
                        background-color: #DFEBF9;
                    }

                    .item {
                        padding: 2px !important;
                        margin: 0 10px 10px 0;
                        font-size: 12px;
                        border-bottom: 3px solid rgba(0,0,0,.075);
                        border-radius: 4px;
                    }
                }

                .selectize-control {
                    .selectize-input {
                        border: 0;
                        box-shadow: none;
                        padding: 4px 0 0 0 !important;
                        min-height: 39px;
                        background: transparent;

                        input {
                            opacity: 0 !important;
                            width: 0 !important;
                        }
                    }
                }

                .selectize-control.hide {
                    display: none !important;
                }

                #filters {
                    display: inline;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 22px 10px;
                    border: 0;
                    background: transparent;
                }

                #counts {
                    display: inline-block;
                    font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    color: #fff;
                    font-size: 16px;
                    margin-top: 12px;
                    vertical-align: top;

                    .shaded {
                        opacity: .2;
                    }

                    span {
                        vertical-align: middle;
                    }
                }
            }

            .clear-link {
                display: inline-block;
                vertical-align: top;
                margin-top: 13px;
                text-align: center;
                margin-right: 13px;

                a {
                    color: #fff;
                }
            }

            .sorting {

                #sort {
                    width: 180px;
                    margin-bottom: 0;
                    float: left;
                    border-radius: 0;
                    border: 0;
                    padding: 3px;
                }

                .selectize-control {
                    margin: 0 auto;
                    width: 345px;
                    padding-bottom: 10px;

                    .selectize-input {
                        color: #fff;
                        font-weight: bold;
                        font-size: 22px;
                        text-align: center;
                        margin-top: 2px;
                        border-color: transparent;
                        letter-spacing: -1px;
                        background: transparent;
                    }

                    .selectize-input.focus {
                        background: hsl(220, 82%, 41%) !important;
                        border-color: transparent !important;

                        input {
                            cursor: text;
                        }
                    }

                    .selectize-input::after {
                        border-color: #fff transparent;
                    }

                    .selectize-input.dropdown-active::before {
                        background: transparent !important;
                    }
                }

                .selectize-dropdown {
                    max-height: 250px;
                    text-align: center;
                    z-index: 1000;

                    [data-selectable],
                    .optgroup-header {
                        padding: 4px 9px;
                    }
                }
            }
        }
    }
}

#event-list-contents {
    #counts {
        text-align: center;
        font-size: 22px;
        font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #222;
        padding-top: 30px;
    }

    #loading {
        margin: 100px auto 0;
        display: none;
    }

    #loading.spinner {
        display: block;
    }
}

.list {
    // stacking context fix for transformed items
    z-index: 1;
    position: relative;
    float: left;

    .event {
        width: 272px;
        margin-bottom: 30px;
        min-height: 296px;
        position: relative;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -ms-perspective: 1000px;
        perspective: 1000px;
        text-align: left;

        .card {
            width: 100%;
            height: 100%;
            cursor: pointer;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;


            .icheckbox,
            .iradio {
                background-image: url(../images/libs/icheck/green.png);
            }
            /* Retina support */
            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
                .icheckbox,
                .iradio {
                    background-image: url(../images/libs/icheck/green@2x.png);
                }
            }


            .front {
                //background: hsl(210, 20%, 19%);
                background: #fff;
                border-bottom: 4px solid rgba(0,0,0,.03);
                box-shadow: 0 0 3px rgba(0,0,0,.25);
                border-radius: 3px;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;

                p {
                    cursor: default;
                }

                .btn {
                    padding: 8px 12px;

                    i {
                        margin-right: 2px;
                    }
                }

                .hasstarted-wrapper {
                    background: #3CAA30;
                    padding: 15px;

                    .hasstarted {
                        font-size: 40px;
                        color: #fff;
                        font-weight: 100;
                        text-align: center;
                        font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    }
                }

                .attend-wrapper {
                    background: rgba(55, 140, 225, 0.10);
                    padding: 15px;

                    .attend {
                        padding: 25px 15px;
                        text-align: center;
                        color: #fff;
                        //background: #bf1818;
                        //border-bottom: 5px solid #9a0909;
                        background: #378ce1;
                        border-bottom: 5px solid #236eb8;
                        border-radius: 4px;

                        > .checkbox {
                            font-size: 23px;
                            line-height: 22px;
                            width: 170px;
                            margin: 0 auto;
                        }

                        .icheckbox {
                            margin-left: 15px;
                            margin-right: 0;
                        }

                        .tagline {
                            line-height: 14px;
                            font-size: 11px;
                            margin: 10px auto 0;
                            width: 170px;
                            display: inline-block;
                        }
                    }

                    .attend-started {
                        background: #3CAA30;
                        border-bottom: 5px solid #248D19;
                    }
                }

                .attend.on {
                    background: #3CAA30;
                    border-bottom: 5px solid #248D19;
                }

                .titular {
                    color: rgba(0,0,0,.75);
                    font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 20px;
                    line-height: 20px;
                    margin: 0;
                    margin-bottom: 5px;
                }

                .panel {
                    background: rgba(55, 140, 225, 0.10);
                    text-align: center;

                    .requirements {
                        padding: 0 15px 20px;
                        display: none;

                        h3 {
                            text-align: center;
                        }

                        .buttons {
                            margin-top: 8px;

                            a {
                                margin: 12px 15px 0;
                            }
                        }

                        .tagline {
                            color: rgba(0,0,0,.75);

                            a {
                                margin: 0;
                            }
                        }
                    }

                    .attendee-whitelist,
                    .attendee-whitelist-enabled {
                        padding: 0 15px 15px 15px;
                        color: rgba(0,0,0,.75);
                    }

                    .attendee-whitelist-enabled {
                        display: none;
                        padding-top: 0;
                        font-weight: bold;
                    }
                }

                .panel.hasstarted {
                    background: #3CAA30;

                    .requirements {
                        padding-top: 0;
                        margin-top: -12px;

                        .buttons {
                            margin-top: 0;
                        }
                    }
                }

                .startsin {
                    text-align: center;
                    padding: 15px;
                    font-weight: 300;
                    line-height: 28px;
                    font-size: 25px;
                    color: rgba(0,0,0,.75);

                    small {
                        display: block;
                        font-size: 12px;
                        line-height: 15px;
                        margin-top: 5px;
                        color: rgba(0,0,0,.75);
                    }

                    p {
                        margin: 0;
                    }
                }

                .serverip {
                    text-align: center;
                    margin-top: 20px;
                    color: rgba(0,0,0,.75);
                    margin-bottom: 15px;

                    h3 {
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    .wrap {
                        padding: 10px 0;
                        overflow: hidden;

                        .ip {
                            color: #fff;
                            display: inline-block;
                            background: #3C9D31;
                            padding: 6px 12px;
                            border-radius: 4px;
                            margin: 8px 0;
                        }

                        .version {
                            font-size: 11px;
                        }
                    }
                }
            }

            .back {
                background: #fff;
                border-radius: 3px;
                width: 100%;
                height: 100%;
                border-bottom: 3px solid rgba(0, 0, 0, 0.03);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0,.04);
                position: absolute;
                z-index: 2;
                -webkit-transform: rotatex(-180deg) translateZ(1px);
                -moz-transform: rotatex(-180deg);
                -ms-transform: rotatex(-180deg);
                -o-transform: rotatex(-180deg);
                transform: rotatex(-180deg);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                .timebar {
                    padding: 6px 10px 2px;
                    position: absolute;
                    top: -16px;
                    left: -14px;
                    min-height: 34px;
                    color: #fff;
                    z-index: 10;
                    line-height: 14px;
                    font-size: 11px;
                    width: 260px;
                    border-radius: 4px;

                    .fa {
                        font-size: 32px;
                        margin-right: 8px;
                        float: left;
                    }

                    .time {
                        float: left;
                        padding-bottom: 4px;
                        margin-top: 1px;

                        div {
                            font-weight: 500;
                        }
                    }

                    .attending {
                        background: #3CAA30;
                        border-bottom: 5px solid #248D19;
                        //background: #E7C536;
                        //border-bottom: 5px solid #CCAB22;
                        color: #fff;
                        font-size: 10px;
                        padding: 4px 0;
                        line-height: 12px;
                        text-align: center;
                        font-weight: normal;
                        position: absolute;
                        bottom: -25px;
                        left: 0;
                        display: inline-block;
                        border-radius: 0 0 4px 4px;
                        width: 100%;
                        float: left;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        text-shadow: none;
                        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    }
                }

                .timebar.small {
                    opacity: 0;
                    -moz-transition: opacity .2s;
                    -o-transition: opacity .2s;
                    -webkit-transition: opacity .2s;
                    transition: opacity .2s;

                    .attending {
                        display: none;
                    }

                    .time {
                        opacity: 0;
                    }
                }

                .banner-wrapper {
                    width: 272px;
                    height: 190px;
                    z-index: 3;
                    overflow: hidden;
                    position: relative;

                    .banner {
                        width: 272px;
                        height: 190px;
                        border-radius: 3px 3px 0 0;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        -webkit-user-select: none;
                        user-select: none;
                    }

                    .slider {
                        margin: 0;

                        li {
                            list-style: none;

                            img {
                                width: 272px;
                                height: 190px;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                -webkit-user-select: none;
                                user-select: none;
                            }
                        }
                    }
                }

                .body {
                    cursor: pointer;

                    span, div {
                        cursor: default;
                    }

                    .names {
                        padding: 15px;
                        color: rgba(0,0,0,.75);
                        -moz-transition: all linear .1s;
                        -o-transition: all linear .1s;
                        -webkit-transition: all linear .1s;
                        transition: all linear .1s;
                        position: relative;
                        cursor: pointer;

                        .name {
                            font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            font-size: 20px;
                            margin: 0;
                            line-height: 24px;
                            color: #222;
                            cursor: pointer;
                        }

                        .nano > .nano-pane {
                            background: rgba(255, 255, 255, 0.1);

                            > .nano-slider {
                                background: rgba(255, 255, 255, 0.85);
                            }
                        }

                        .description {
                            margin: 5px 0;
                            font-size: 12px !important;
                            max-height: 150px;
                            overflow: hidden;
                            cursor: pointer;
                            min-height: 96px;

                            * {
                                cursor: pointer;
                            }

                            p {
                                margin-bottom: 5px;
                            }

                            li {
                                line-height: 15px;
                            }
                        }

                        .info {
                            width: 240px;
                            cursor: pointer;
                            font-size: 12px;

                            time {
                                display: inline-block;
                                color: #0F7EEC;

                                div {
                                    display: inline;
                                    font-weight: bold;
                                }
                            }

                            .dur {
                                float: right;
                                white-space: nowrap;
                            }

                            .server {
                                display: inline-block;
                                position: relative;
                            }

                            .sect {
                                cursor: pointer;
                                font-size: 11px;
                                color: #eee;
                                float: right;

                                .f16 {
                                    cursor: pointer;
                                }

                                .language {
                                    cursor: pointer;
                                    display: inline-block;
                                    color: rgba(0,0,0,.75);
                                }
                            }
                        }
                    }

                    .attendees {
                        padding: 10px 15px;
                        position: relative;
                        cursor: pointer;

                        .title {
                            margin-bottom: 10px;
                            color: rgba(0,0,0,.75);
                            font-weight: bold;
                            font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            cursor: pointer;
                        }

                        .heads {
                            max-height: 60px;
                            overflow: hidden;

                            .head {
                                height: 18px;
                                float: left;
                                margin-right: 4px;
                                margin-bottom: 4px;
                            }
                        }


                        .nano-pane {
                        }

                        .nano-slider {
                            background: rgba(0, 0, 0, 0.85);
                        }
                    }
                }
            }
        }
    }

    .event.flip {
        .card {
            -webkit-transform: rotatex(-180deg) translateZ(1px);
            -moz-transform: rotatex(-180deg);
            -ms-transform: rotatex(-180deg);
            -o-transform: rotatex(-180deg);
            transform: rotatex(-180deg);
        }
    }

    .event.shadowed {
        //box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    }


    .event {
        .card {
            .back .timebar {
                background: hsl(215, 74%, 55%);
                border-bottom: 5px solid hsl(215, 74%, 46%);
            }
        }
    }

    .event.started {
        .card {
            .back .timebar {
                //background: #742FA7;
                //border-bottom: 5px solid #4D1279;
                //background: hsl(210, 74%, 55%);
                //border-bottom: 5px solid hsl(210, 68%, 43%);
                //background: #3C9D31;
                //border-bottom: 6px solid #2E7926;
                //background: #742FA7;
                //border-bottom: 5px solid #4D1279;
                //background: #5A2FA7;
                //border-bottom: 5px solid #2F1279;
                //background: #3989EB;
                //border-bottom: 6px solid #205DA7;
            }

            .front .serverip .wrap .ip {
                //background: #742FA7;
            }
        }
    }

    .event.soon {
        .card {
            .back .timebar {
                //background: #E1BF37;
                //border-bottom: 5px solid #BD9D1F;
                //background: #3C9D31;
                //border-bottom: 6px solid #2E7926;
            }
        }
    }

    .event.today {
        .card {
            .back .timebar {
                //background: #742FA7;
                //border-bottom: 5px solid #4D1279;
            }
        }
    }

    .event.thisweek {
        .card {
            .back .timebar {
                color: #fff;
            }
        }
    }

    .event.future {
        .card {
            .back .timebar {
                color: #fff;
            }
        }
    }

    .event.attending {
        a {
            color: #42813B;
        }

        .front {
            .attend-wrapper {
                background: rgba(60, 157, 49, 0.12);
            }

            .panel {
                background: rgba(60, 157, 49, 0.12);
            }
        }

        .back {
            .timebar {
                background: #3CAA30;
                border-bottom: 5px solid #248D19;
            }

            .body {
                .names {
                    background: rgba(95, 185, 99, 0.12);
                    border-bottom: 1px solid transparent;

                    .info {
                        time {
                            color: rgb(60, 157, 49);
                        }
                    }
                }
            }
        }
    }

    .event.hasAttendees {
        .body {
            .names {
                border-bottom: 1px solid #eee;
            }
        }
    }
}

.list:not(:last-child) {
    margin-right: 30px;
}



// ********************************************************************************************************************* MEDIA QUERIES
// on an ipad
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
// on an ipad in landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
// on an ipad in portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}
