html {
  overflow-y: scroll;
}
#settings {
  bottom: -80px;
}
footer {
  margin-top: 60px;
  display: none;
}
.dd-item {
  padding: 1px 2px !important;
  clear: both;
  height: 30px;
}
.dd-item .img-wrap {
  float: left;
  vertical-align: text-top;
  text-align: center;
  padding-right: 8px;
  height: 30px;
}
.dd-item .img-wrap img {
  max-width: 53px;
  max-height: 30px;
  border-radius: 3px;
}
.dd-item .flag {
  font-size: 30px;
  margin-right: 8px;
}
.dd-item .name {
  margin-top: 5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dd-item .count {
  margin-top: 5px;
  margin-right: 9px;
}
.dd-option {
  padding: 4px 6px !important;
  clear: both;
  height: 30px;
}
.dd-option .flag {
  font-size: 27px;
  margin-right: 8px;
  margin-top: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.dd-option .name {
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dd-option .count {
  margin-top: 5px;
  min-width: 15px;
}
.dd-option.active .name {
  color: #fff;
}
/*****************************************************************************************************/
/* Events
/*****************************************************************************************************/
.page-container {
  width: 1210px;
  margin-top: 30px;
}
.hero {
  height: 490px;
  background: url('../images/events-hero.jpg');
  background-size: cover;
  background-position-y: -135px;
}
.hero .inner {
  width: 110%;
  margin-top: 70px;
  text-align: center;
}
.hero .inner .copy {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 155px;
  box-sizing: border-box;
  height: 490px;
  z-index: 2;
}
.hero .inner .copy h1 {
  color: #fff;
  font-size: 75px;
  line-height: 85px;
  max-width: 960px;
  font-weight: 300;
  margin: 0 auto;
}
.hero .inner .copy div {
  font-size: 25px;
  margin: 20px auto 0;
}
.hero .radial {
  width: 100%;
  height: 490px;
  opacity: .75;
  position: absolute;
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: -webkit-radial-gradient(center ellipse, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at center, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
#filter-container {
  position: relative;
  z-index: 100;
  background: #2069cf;
  border-bottom: 7px solid rgba(19, 76, 190, 0.5);
  display: none;
}
#filter-container .main {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#filter-container .main .add-event {
  position: absolute;
  top: 2px;
  width: 80px;
  line-height: 15px;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 12px;
  z-index: 2;
  background: rgba(8, 70, 150, 0.2);
  background-image: none;
  border-radius: 6px;
}
#filter-container .main .add-event .fa {
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  margin-top: 6px;
  float: left;
}
#filter-container .main .add-event:hover {
  background: rgba(8, 70, 150, 0.55);
  box-shadow: none;
}
#filter-container .main .info-button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 4px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
  opacity: .1;
  border-radius: 999px;
  z-index: 100;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#filter-container .main .info-button:hover,
#filter-container .main .info-button:active {
  opacity: 1 !important;
}
#filter-container .main .tags-box {
  position: relative;
}
#filter-container .main .tags-box .title {
  font-size: 34px;
  color: #fff;
  line-height: 46px;
  padding: 30px 0 10px;
  text-align: center;
  font-weight: 600;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#filter-container .main .tags-box .tags {
  margin: 0 0 25px;
  padding-top: 35px;
  text-align: center;
}
#filter-container .main .tags-box .tags .tag-row:first-child {
  margin-bottom: 4px;
}
#filter-container .main .tags-box .tags .fa-search {
  position: relative;
  z-index: 2;
  left: -38px;
  top: 16px;
  vertical-align: top;
  font-size: 20px;
  color: #ddd;
  width: 0;
  cursor: pointer;
}
#filter-container .main .tags-box .tags .selectize-control {
  width: 218px;
  margin: 0 8px;
  text-align: left;
  display: inline-block;
  border-radius: 4px;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-dropdown-content {
  font-size: 12px;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input {
  line-height: 26px;
  color: #000;
  font-weight: bold;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  border-color: transparent;
  background-color: #134cbe;
  border-radius: 4px;
  height: 50px;
  z-index: 3;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input input {
  width: auto !important;
  cursor: pointer;
  color: #fff !important;
  font-size: 14px;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 18px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 18px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 18px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.dropdown-active {
  border-radius: 4px 4px 0 0 !important;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.dropdown-active ::before {
  background: transparent !important;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.dropdown-active input {
  color: #000 !important;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input::after {
  border-color: #ffffff transparent transparent transparent;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.disabled::after {
  border-color: rgba(55, 140, 225, 0.33) transparent transparent transparent;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.focus {
  border-color: #fff !important;
  background-color: #fff !important;
  z-index: 1;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.focus input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.focus input:-ms-input-placeholder {
  color: #ccc;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.focus input::-webkit-input-placeholder {
  color: #ccc;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.focus input {
  cursor: text;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.disabled input::-moz-placeholder {
  color: #378ce1;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.disabled input:-ms-input-placeholder {
  color: #378ce1;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.disabled input::-webkit-input-placeholder {
  color: #378ce1;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-input.disabled input {
  cursor: text;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-dropdown {
  max-height: 400px;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-dropdown .count {
  float: right;
  color: rgba(0, 0, 0, 0.15);
  font-weight: bold;
}
#filter-container .main .tags-box .tags .selectize-control .selectize-dropdown .active .count {
  color: #fff;
}
#filter-container .main .tags-box .filters-wrapper {
  padding: 0 12px 0;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  display: none;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input > div {
  background: #fff !important;
  color: #171d26;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input .remove {
  color: #171d26;
  line-height: 12px;
  border-radius: 0 4px 4px 0;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input .remove:hover {
  background-color: #DFEBF9;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input .item {
  padding: 2px !important;
  margin: 0 10px 10px 0;
  font-size: 12px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control .selectize-input {
  border: 0;
  box-shadow: none;
  padding: 4px 0 0 0 !important;
  min-height: 39px;
  background: transparent;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control .selectize-input input {
  opacity: 0 !important;
  width: 0 !important;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.hide {
  display: none !important;
}
#filter-container .main .tags-box .filters-wrapper #filters {
  display: inline;
  box-sizing: border-box;
  padding: 22px 10px;
  border: 0;
  background: transparent;
}
#filter-container .main .tags-box .filters-wrapper #counts {
  display: inline-block;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 12px;
  vertical-align: top;
}
#filter-container .main .tags-box .filters-wrapper #counts .shaded {
  opacity: .2;
}
#filter-container .main .tags-box .filters-wrapper #counts span {
  vertical-align: middle;
}
#filter-container .main .tags-box .clear-link {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  text-align: center;
  margin-right: 13px;
}
#filter-container .main .tags-box .clear-link a {
  color: #fff;
}
#filter-container .main .tags-box .sorting #sort {
  width: 180px;
  margin-bottom: 0;
  float: left;
  border-radius: 0;
  border: 0;
  padding: 3px;
}
#filter-container .main .tags-box .sorting .selectize-control {
  margin: 0 auto;
  width: 345px;
  padding-bottom: 10px;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 2px;
  border-color: transparent;
  letter-spacing: -1px;
  background: transparent;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input.focus {
  background: #134cbe !important;
  border-color: transparent !important;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input.focus input {
  cursor: text;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input::after {
  border-color: #fff transparent;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input.dropdown-active::before {
  background: transparent !important;
}
#filter-container .main .tags-box .sorting .selectize-dropdown {
  max-height: 250px;
  text-align: center;
  z-index: 1000;
}
#filter-container .main .tags-box .sorting .selectize-dropdown [data-selectable],
#filter-container .main .tags-box .sorting .selectize-dropdown .optgroup-header {
  padding: 4px 9px;
}
#event-list-contents #counts {
  text-align: center;
  font-size: 22px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
  padding-top: 30px;
}
#event-list-contents #loading {
  margin: 100px auto 0;
  display: none;
}
#event-list-contents #loading.spinner {
  display: block;
}
.list {
  z-index: 1;
  position: relative;
  float: left;
}
.list .event {
  width: 272px;
  margin-bottom: 30px;
  min-height: 296px;
  position: relative;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  text-align: left;
}
.list .event .card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Retina support */
}
.list .event .card .icheckbox,
.list .event .card .iradio {
  background-image: url(../images/libs/icheck/green.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .list .event .card .icheckbox,
  .list .event .card .iradio {
    background-image: url(../images/libs/icheck/green@2x.png);
  }
}
.list .event .card .front {
  background: #fff;
  border-bottom: 4px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.list .event .card .front p {
  cursor: default;
}
.list .event .card .front .btn {
  padding: 8px 12px;
}
.list .event .card .front .btn i {
  margin-right: 2px;
}
.list .event .card .front .hasstarted-wrapper {
  background: #3CAA30;
  padding: 15px;
}
.list .event .card .front .hasstarted-wrapper .hasstarted {
  font-size: 40px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.list .event .card .front .attend-wrapper {
  background: rgba(55, 140, 225, 0.1);
  padding: 15px;
}
.list .event .card .front .attend-wrapper .attend {
  padding: 25px 15px;
  text-align: center;
  color: #fff;
  background: #378ce1;
  border-bottom: 5px solid #236eb8;
  border-radius: 4px;
}
.list .event .card .front .attend-wrapper .attend > .checkbox {
  font-size: 23px;
  line-height: 22px;
  width: 170px;
  margin: 0 auto;
}
.list .event .card .front .attend-wrapper .attend .icheckbox {
  margin-left: 15px;
  margin-right: 0;
}
.list .event .card .front .attend-wrapper .attend .tagline {
  line-height: 14px;
  font-size: 11px;
  margin: 10px auto 0;
  width: 170px;
  display: inline-block;
}
.list .event .card .front .attend-wrapper .attend-started {
  background: #3CAA30;
  border-bottom: 5px solid #248D19;
}
.list .event .card .front .attend.on {
  background: #3CAA30;
  border-bottom: 5px solid #248D19;
}
.list .event .card .front .titular {
  color: rgba(0, 0, 0, 0.75);
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 5px;
}
.list .event .card .front .panel {
  background: rgba(55, 140, 225, 0.1);
  text-align: center;
}
.list .event .card .front .panel .requirements {
  padding: 0 15px 20px;
  display: none;
}
.list .event .card .front .panel .requirements h3 {
  text-align: center;
}
.list .event .card .front .panel .requirements .buttons {
  margin-top: 8px;
}
.list .event .card .front .panel .requirements .buttons a {
  margin: 12px 15px 0;
}
.list .event .card .front .panel .requirements .tagline {
  color: rgba(0, 0, 0, 0.75);
}
.list .event .card .front .panel .requirements .tagline a {
  margin: 0;
}
.list .event .card .front .panel .attendee-whitelist,
.list .event .card .front .panel .attendee-whitelist-enabled {
  padding: 0 15px 15px 15px;
  color: rgba(0, 0, 0, 0.75);
}
.list .event .card .front .panel .attendee-whitelist-enabled {
  display: none;
  padding-top: 0;
  font-weight: bold;
}
.list .event .card .front .panel.hasstarted {
  background: #3CAA30;
}
.list .event .card .front .panel.hasstarted .requirements {
  padding-top: 0;
  margin-top: -12px;
}
.list .event .card .front .panel.hasstarted .requirements .buttons {
  margin-top: 0;
}
.list .event .card .front .startsin {
  text-align: center;
  padding: 15px;
  font-weight: 300;
  line-height: 28px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.75);
}
.list .event .card .front .startsin small {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.75);
}
.list .event .card .front .startsin p {
  margin: 0;
}
.list .event .card .front .serverip {
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
}
.list .event .card .front .serverip h3 {
  text-align: center;
  margin-bottom: 10px;
}
.list .event .card .front .serverip .wrap {
  padding: 10px 0;
  overflow: hidden;
}
.list .event .card .front .serverip .wrap .ip {
  color: #fff;
  display: inline-block;
  background: #3C9D31;
  padding: 6px 12px;
  border-radius: 4px;
  margin: 8px 0;
}
.list .event .card .front .serverip .wrap .version {
  font-size: 11px;
}
.list .event .card .back {
  background: #fff;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  z-index: 2;
  -webkit-transform: rotatex(-180deg) translateZ(1px);
  transform: rotatex(-180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}
.list .event .card .back .timebar {
  padding: 6px 10px 2px;
  position: absolute;
  top: -16px;
  left: -14px;
  min-height: 34px;
  color: #fff;
  z-index: 10;
  line-height: 14px;
  font-size: 11px;
  width: 260px;
  border-radius: 4px;
}
.list .event .card .back .timebar .fa {
  font-size: 32px;
  margin-right: 8px;
  float: left;
}
.list .event .card .back .timebar .time {
  float: left;
  padding-bottom: 4px;
  margin-top: 1px;
}
.list .event .card .back .timebar .time div {
  font-weight: 500;
}
.list .event .card .back .timebar .attending {
  background: #3CAA30;
  border-bottom: 5px solid #248D19;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
  line-height: 12px;
  text-align: center;
  font-weight: normal;
  position: absolute;
  bottom: -25px;
  left: 0;
  display: inline-block;
  border-radius: 0 0 4px 4px;
  width: 100%;
  float: left;
  box-sizing: border-box;
  text-shadow: none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.list .event .card .back .timebar.small {
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.list .event .card .back .timebar.small .attending {
  display: none;
}
.list .event .card .back .timebar.small .time {
  opacity: 0;
}
.list .event .card .back .banner-wrapper {
  width: 272px;
  height: 190px;
  z-index: 3;
  overflow: hidden;
  position: relative;
}
.list .event .card .back .banner-wrapper .banner {
  width: 272px;
  height: 190px;
  border-radius: 3px 3px 0 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.list .event .card .back .banner-wrapper .slider {
  margin: 0;
}
.list .event .card .back .banner-wrapper .slider li {
  list-style: none;
}
.list .event .card .back .banner-wrapper .slider li img {
  width: 272px;
  height: 190px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.list .event .card .back .body {
  cursor: pointer;
}
.list .event .card .back .body span,
.list .event .card .back .body div {
  cursor: default;
}
.list .event .card .back .body .names {
  padding: 15px;
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  position: relative;
  cursor: pointer;
}
.list .event .card .back .body .names .name {
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
  color: #222;
  cursor: pointer;
}
.list .event .card .back .body .names .nano > .nano-pane {
  background: rgba(255, 255, 255, 0.1);
}
.list .event .card .back .body .names .nano > .nano-pane > .nano-slider {
  background: rgba(255, 255, 255, 0.85);
}
.list .event .card .back .body .names .description {
  margin: 5px 0;
  font-size: 12px !important;
  max-height: 150px;
  overflow: hidden;
  cursor: pointer;
  min-height: 96px;
}
.list .event .card .back .body .names .description * {
  cursor: pointer;
}
.list .event .card .back .body .names .description p {
  margin-bottom: 5px;
}
.list .event .card .back .body .names .description li {
  line-height: 15px;
}
.list .event .card .back .body .names .info {
  width: 240px;
  cursor: pointer;
  font-size: 12px;
}
.list .event .card .back .body .names .info time {
  display: inline-block;
  color: #0F7EEC;
}
.list .event .card .back .body .names .info time div {
  display: inline;
  font-weight: bold;
}
.list .event .card .back .body .names .info .dur {
  float: right;
  white-space: nowrap;
}
.list .event .card .back .body .names .info .server {
  display: inline-block;
  position: relative;
}
.list .event .card .back .body .names .info .sect {
  cursor: pointer;
  font-size: 11px;
  color: #eee;
  float: right;
}
.list .event .card .back .body .names .info .sect .f16 {
  cursor: pointer;
}
.list .event .card .back .body .names .info .sect .language {
  cursor: pointer;
  display: inline-block;
  color: rgba(0, 0, 0, 0.75);
}
.list .event .card .back .body .attendees {
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
}
.list .event .card .back .body .attendees .title {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.list .event .card .back .body .attendees .heads {
  max-height: 60px;
  overflow: hidden;
}
.list .event .card .back .body .attendees .heads .head {
  height: 18px;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
}
.list .event .card .back .body .attendees .nano-slider {
  background: rgba(0, 0, 0, 0.85);
}
.list .event.flip .card {
  -webkit-transform: rotatex(-180deg) translateZ(1px);
  transform: rotatex(-180deg);
}
.list .event .card .back .timebar {
  background: #377ee1;
  border-bottom: 5px solid #1e67cc;
}
.list .event.thisweek .card .back .timebar {
  color: #fff;
}
.list .event.future .card .back .timebar {
  color: #fff;
}
.list .event.attending a {
  color: #42813B;
}
.list .event.attending .front .attend-wrapper {
  background: rgba(60, 157, 49, 0.12);
}
.list .event.attending .front .panel {
  background: rgba(60, 157, 49, 0.12);
}
.list .event.attending .back .timebar {
  background: #3CAA30;
  border-bottom: 5px solid #248D19;
}
.list .event.attending .back .body .names {
  background: rgba(95, 185, 99, 0.12);
  border-bottom: 1px solid transparent;
}
.list .event.attending .back .body .names .info time {
  color: #3c9d31;
}
.list .event.hasAttendees .body .names {
  border-bottom: 1px solid #eee;
}
.list:not(:last-child) {
  margin-right: 30px;
}
