h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}
.hero {
  overflow-x: hidden;
  text-align: center;
}
.hero .inner {
  width: 110%;
  margin-top: 70px;
  text-align: center;
}
.hero .inner .copy {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 155px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 490px;
  z-index: 2;
}
.hero .inner .copy h1 {
  color: #fff;
  font-size: 75px;
  line-height: 85px;
  max-width: 960px;
  font-weight: 300;
  margin: 0 auto;
}
.hero .inner .copy div {
  font-size: 25px;
  margin: 20px auto 0;
}
.hero .radial {
  width: 100%;
  height: 490px;
  opacity: .75;
  position: absolute;
  background: -moz-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.hero .dimmer {
  width: 100%;
  height: 490px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.hero .players {
  height: 490px;
  overflow: hidden;
  background-image: url('../images/hero-bg.png');
}
.hero .players img {
  float: left;
}
.matrix-container {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible !important;
  margin-top: 50px;
}
.matrix-container .matbox {
  display: block;
  background: #f1f1f1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
.matrix-container .matbox h3 {
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  word-spacing: 1000px;
}
.matrix-container .matbox h3 small {
  display: block;
  color: #fff;
  font-weight: bold;
}
.matrix-container .matbox img.background {
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: all 25ms;
  -o-transition: all 25ms;
  -webkit-transition: all 25ms;
  transition: all 25ms;
}
.matbox.square {
  width: 280px;
  height: 280px;
}
.matbox.square small {
  font-size: 40px;
}
.matbox.long {
  width: 580px;
  height: 280px;
}
.matbox.long small {
  font-size: 50px;
}
#events.list {
  width: 100%;
  padding-top: 0;
  text-align: center;
}
#events.list .event {
  display: inline-block;
  vertical-align: top;
}
#events.list .event:not(:last-child) {
  margin-right: 30px;
}
footer {
  display: block;
}
