/*****************************************************************************************************/
/*****************************************************************************************************/
#privacy,
#api,
#faq,
#terms {
  margin: 90px auto;
}
#privacy h1,
#api h1,
#faq h1,
#terms h1 {
  margin-bottom: 0;
}
#privacy .inner,
#api .inner,
#faq .inner,
#terms .inner {
  text-align: left;
}
#faq .inner code {
  margin: 0 4px 4px 0;
  float: left;
}
#faq .accordion-inner {
  border: 0;
  background: #f8f8f8;
}
