﻿
/*****************************************************************************************************/
// HOW IT WORKS
/*****************************************************************************************************/

#privacy,
#api,
#faq,
#terms {
    margin: 90px auto;

    h1 {
        margin-bottom: 0;
    }

    .inner {
        text-align: left;
    }
}

#faq {
    .inner {
        code {
            margin: 0 4px 4px 0;
            float: left;
        }
    }

    .accordion-inner {
        border: 0;
        background: #f8f8f8;
    }
}
