﻿html {
    overflow-y: scroll;
}

footer {
    margin-top: 60px;
    display: none;
}

.tooltiptext {
    display: none;
    max-width: 250px;
}

.page-container {
    margin-top: 15px;
}

.dd-option {
    //padding: 6px !important;
    padding: 4px 6px !important;
    clear: both;
    height: 30px;
    font-size: 12px;

    .img-wrap {
        float: left;
        margin-right: 9px;
        vertical-align: text-top;
        text-align: center;
        width: 48px; // on purpose
        height: 27px;

        img {
            max-width: 48px;
            max-height: 27px;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        }
    }

    .flag {
        font-size: 27px;
        margin-right: 8px;
        margin-top: 1px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }

    .name {
        margin-top: 5px;
        vertical-align: top;
        display: inline-block;
        max-width: 145px;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .count {
        margin-top: 5px;
        min-width: 15px;
    }
}

.tt-tip {
    display: none;
    position: relative;
    width: 150px;

    .tt-name {
        margin: 5px 0;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 13px;
    }

    .tt-img {
        width: 150px;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        margin: 4px 0;
    }

    .tt-desc {
        font-size: 11px;
        text-align: center;
        line-height: 14px;
        margin: 4px 0;
    }
}

.dd-item {
    padding: 1px 2px !important;
    clear: both;
    height: 30px;

    .img-wrap {
        float: left;
        vertical-align: text-top;
        text-align: center;
        padding-right: 8px;
        height: 30px;

        img {
            margin-top: 1px;
            max-width: 53px;
            max-height: 30px;
            border-radius: 3px;
        }
    }

    .flag {
        font-size: 30px;
        margin-right: 8px;
    }

    .name {
        margin-top: 5px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 20px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .count {
        margin-top: 5px;
        margin-right: 9px;
    }
}

.dd-dd-option.active {
    .name {
        color: #fff;
    }
}

/*****************************************************************************************************/
/* Hero
/*****************************************************************************************************/

.hero {
    overflow-x: hidden;
    text-align: center;

    .inner {
        width: 110%;
        margin-top: 70px;
        text-align: center;

        .copy {
            position: absolute;
            color: #fff;
            width: 100%;
            text-align: center;
            padding-top: 155px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 490px;
            z-index: 2;

            h1 {
                color: #fff;
                font-size: 75px;
                line-height: 85px;
                max-width: 960px;
                font-weight: 300;
                margin: 0 auto;
            }

            div {
                font-size: 25px;
                margin: 20px auto 0;
            }
        }
    }
    
    .radial {
        width: 100%;
        height: 490px;
        opacity: .75;
        position: absolute;
        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .dimmer {
        width: 100%;
        height: 490px;
        position: absolute;
        background: rgba(0,0,0,.5);
    }

    .players {
        height: 490px;
        overflow: hidden;
        background-image: url('../images/hero-bg.png');

        img {
            float: left;
        }
    }
}

/*****************************************************************************************************/
/* List
/*****************************************************************************************************/
#filter-container {
    z-index: 20;
    background: hsl(215, 73%, 47%);
    border-bottom: 7px solid rgba(19, 76, 190, 0.5);
    position: relative;
    display: none;

    .main {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .add-server {
            position: absolute;
            top: 2px;
            width: 90px;
            line-height: 15px;
            right: 0;
            font-size: 13px;
            font-weight: bold;
            padding: 10px 12px;
            z-index: 2;
            color: #fff;
            background: hsla(214, 90%, 31%, 0.2);
            background-image: none;
            border-radius: 6px;

            .fa {
                font-size: 22px;
                line-height: 22px;
                font-weight: normal;
                margin-top: 6px;
                float: left;
            }
        }

        .add-server:hover {
            background: hsla(214, 90%, 31%, 0.55);
            box-shadow: none;
        }

        .feature-server {
            position: absolute;
            top: 8px;
            right: 0;
            font-size: 15px;
            font-weight: bold;
            z-index: 2;
        }

        .info-button {
            width: 35px;
            height: 35px;
            background: transparent;
            border: 4px solid #fff;
            color: #fff;
            text-align: center;
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 20px;
            opacity: .1;
            border-radius: 999px;
            z-index: 100;
            text-decoration: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
        }

        .info-button:hover,
        .info-button:active {
            opacity: 1 !important;
        }

        .tags-box {
            position: relative;

            .title {
                font-size: 34px;
                color: #fff;
                line-height: 46px;
                padding: 30px 0 10px;
                text-align: center;
                font-weight: 600;
                font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;
            }

            .tags {
                margin: 0 0 25px;
                padding-top: 35px;
                text-align: center;

                .tag-row:first-child {
                    margin-bottom: 10px;
                }

                .tag-row {
                    .selectize-control {
                        margin: 0 8px;
                    }

                    .fa-search {
                        position: relative;
                        z-index: 2;
                        left: -38px;
                        top: 16px;
                        vertical-align: top;
                        font-size: 20px;
                        color: #ddd;
                        width: 0;
                        cursor: pointer;
                    }

                    .selectize-dropdown-content {
                        //background: #222;
                        //color: #ccc;
                    }

                    .selectize-control {
                        width: 251px;
                        text-align: left;

                        .selectize-dropdown-content {
                            font-size: 12px;
                        }


                        .selectize-input {
                            line-height: 26px;
                            font-weight: bold;
                            font-family: 'museo-sans-rounded','Helvetica Neue',Helvetica,Arial,sans-serif !important;
                            border-color: transparent;
                            background-color: hsl(220, 82%, 41%);
                            //box-shadow: 0 1px 3px rgba(0,0,0,0.15);
                            border-radius: 4px;
                            z-index: 3;
                            height: 50px;

                            input {
                                width: auto !important;
                                cursor: pointer;
                                color: #fff !important;
                                font-size: 14px;
                            }

                            input::-moz-placeholder {
                                color: #fff;
                                opacity: 1;
                                font-size: 18px;
                                font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            }

                            input:-ms-input-placeholder {
                                color: #fff;
                                font-size: 18px;
                                font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            }

                            input::-webkit-input-placeholder {
                                color: #fff;
                                font-size: 18px;
                                font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            }
                        }

                        .selectize-input::after {
                            border-color: rgba(255,255,255,1) transparent transparent transparent;
                        }

                        .selectize-input.disabled::after {
                            border-color: hsla(210, 74%, 55%, .33) transparent transparent transparent;
                        }

                        .selectize-input.dropdown-active {
                            border-radius: 4px 4px 0 0 !important;

                            ::before {
                                background: transparent !important;
                            }

                            input {
                                color: #000 !important;
                            }
                        }

                        .selectize-input.focus {
                            border-color: #fff !important;
                            background-color: #fff !important;
                            z-index: 1;

                            input::-moz-placeholder {
                                color: #ccc;
                                opacity: 1;
                            }

                            input:-ms-input-placeholder {
                                color: #ccc;
                            }

                            input::-webkit-input-placeholder {
                                color: #ccc;
                            }

                            input {
                                cursor: text;
                            }
                        }

                        .selectize-input.disabled {
                            input::-moz-placeholder {
                                color: hsl(210, 74%, 55%);
                            }

                            input:-ms-input-placeholder {
                                color: hsl(210, 74%, 55%);
                            }

                            input::-webkit-input-placeholder {
                                color: hsl(210, 74%, 55%);
                            }

                            input {
                                cursor: text;
                            }
                        }

                        .selectize-dropdown {
                            max-height: 400px;
                            z-index: 4;

                            .name {
                            }

                            .count {
                                float: right;
                                color: rgba(0,0,0,.15);
                                font-weight: bold;
                            }

                            .active {
                                .count {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }

            .filters-wrapper {
                padding: 0 12px 0;
                border-radius: 6px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-align: center;
                display: none;

                .selectize-control.default.multi .selectize-input {
                    > div {
                        background: #fff !important;
                        color: hsl(217, 25%, 12%);
                    }

                    .remove {
                        color: hsl(217, 25%, 12%);
                        line-height: 12px;
                        border-radius: 0 4px 4px 0;
                    }

                    .remove:hover {
                        background-color: #DFEBF9;
                    }

                    .item {
                        padding: 2px !important;
                        margin: 0 10px 10px 0;
                        font-size: 12px;
                        border-bottom: 3px solid rgba(0, 0, 0, 0.075);
                        border-radius: 4px;
                    }
                }

                .selectize-control {
                    .selectize-input {
                        border: 0;
                        box-shadow: none;
                        padding: 4px 0 0 0 !important;
                        min-height: 39px;
                        background: transparent;

                        input {
                            opacity: 0 !important;
                            width: 0 !important;
                        }
                    }
                }

                .selectize-control.hide {
                    display: none !important;
                }

                #filters {
                    display: inline;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 22px 10px;
                    border: 0;
                    background: transparent;
                }

                #counts {
                    display: inline-block;
                    font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    color: #fff;
                    font-size: 16px;
                    margin-top: 12px;
                    vertical-align: top;

                    .shaded {
                        opacity: .2;
                    }

                    span {
                        vertical-align: middle;
                    }
                }
            }

            .clear-link {
                display: inline-block;
                vertical-align: top;
                margin-top: 13px;
                text-align: center;
                margin-right: 13px;

                a {
                    color: #fff;
                }
            }

            .sorting {

                #sort {
                    width: 180px;
                    margin-bottom: 0;
                    float: left;
                    border-radius: 0;
                    border: 0;
                    padding: 3px;
                }

                .selectize-control {
                    margin: 0 auto;
                    width: 345px;
                    padding-bottom: 10px;

                    .selectize-input {
                        color: #fff;
                        font-weight: bold;
                        font-size: 22px;
                        text-align: center;
                        margin-top: 2px;
                        border-color: transparent;
                        letter-spacing: -1px;
                        background: transparent;
                    }

                    .selectize-input.focus {
                        background: hsl(220, 82%, 41%) !important;
                        border-color: transparent !important;

                        input {
                            cursor: text;
                        }
                    }

                    .selectize-input::after {
                        border-color: #fff transparent;
                    }

                    .selectize-input.dropdown-active::before {
                        background: transparent !important;
                    }
                }

                .selectize-dropdown {
                    max-height: 250px;
                    text-align: center;
                    z-index: 1000;

                    [data-selectable],
                    .optgroup-header {
                        padding: 4px 9px;
                    }
                }
            }
        }
    }
}

#server-list-contents {
    margin-bottom: 20px;
    //margin-top: 20px;
    #counts {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #999;
        margin: 25px 0;
    }

    #loading {
        margin: 100px auto 0;
        display: none;
    }

    #loading.spinner {
        display: block;
    }

    #organic-list {
        z-index: 1;
        position: relative;
    }

    .list {
        width: 1198px;
        margin-left: -9px;

        .server {
            display: none;
            float: left;
            color: #555;
            height: 150px;
            width: 573px;
            margin: 10px 13px;
            position: relative;
            -webkit-perspective: 1000px;
            -moz-perspective: 1000px;
            -ms-perspective: 1000px;
            perspective: 1000px;

            .card {
                width: 100%;
                height: 100%;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;

                .front {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    backface-visibility: hidden;
                    display: none;
                    border-radius: 3px;
                }

                .back {
                    background: #fff;
                    border-bottom: 3px solid rgba(0, 0, 0, 0.03);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0,.04);
                    border-radius: 3px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 5;
                    -webkit-transform: rotatex(-180deg) translateZ(1px);
                    -moz-transform: rotatex(-180deg);
                    -ms-transform: rotatex(-180deg);
                    -o-transform: rotatex(-180deg);
                    transform: rotatex(-180deg);
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    backface-visibility: hidden;

                    .banner {
                        height: 73px;
                        width: 573px;
                        cursor: pointer;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        -webkit-user-select: none;
                        user-select: none;
                        z-index: 10;
                        position: relative;
                        border-radius: 3px 3px 0 0;
                    }

                    .featured-banner-wrapper {
                        height: 248px;
                        width: 573px;
                        cursor: pointer;
                        overflow: hidden;
                        z-index: 10;
                        position: relative;

                        .banner {
                            height: 248px;
                            width: 573px;
                            cursor: pointer;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            -webkit-user-select: none;
                            user-select: none;
                            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.11);
                            border-radius: 3px 3px 0 0;
                        }
                    }

                    .index {
                        position: absolute;
                        top: 60px;
                        font-size: 11px;
                        font-weight: bold;
                        right: -36px;
                        text-align: center;
                        width: 32px;
                        color: rgba(0, 0, 0, 0.4);
                        display: none;
                    }

                    .off {
                    }

                    .server-name {
                        position: absolute;
                        top: 10px;
                        left: 15px;
                        z-index: 11;
                        font-size: 40px;
                        color: #fff;
                        font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    }

                    .server-name.low {
                        z-index: 0;
                    }

                    .details {
                        width: 573px;
                        height: 78px;
                        position: relative;

                        .metrics {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            display: table;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            -webkit-user-select: none;
                            user-select: none;
                            cursor: default;

                            .block {
                                display: table-cell;
                                text-align: center;
                                -moz-transition: all .5s;
                                -o-transition: all .5s;
                                -webkit-transition: all .5s;
                                transition: all .5s;
                                width: 93px;
                                padding-top: 10px;
                                vertical-align: top;

                                .count {
                                    font-size: 20px;
                                    font-weight: 600;
                                    line-height: 28px;
                                    vertical-align: bottom;

                                    .fa {
                                        font-size: 16px;
                                        color: #eee;
                                    }

                                    .sparkline-bar {
                                        canvas {
                                            vertical-align: baseline !important;
                                        }
                                    }
                                }

                                .title {
                                    font-size: 11px;
                                    color: hsl(211, 0%, 65%);
                                    line-height: 14px;
                                    -moz-transition: all .5s;
                                    -o-transition: all .5s;
                                    -webkit-transition: all .5s;
                                    transition: all .5s;
                                    cursor: default;

                                    .fa {
                                        font-size: 24px;
                                    }

                                    .ping-button {
                                        text-transform: uppercase;
                                        font-size: 10px;
                                        margin-top: 3px;
                                        text-align: center;
                                        padding: 4px 0;
                                        width: 58px;
                                        color: #555;
                                        background: #fff;
                                        border: 1px solid #eee;
                                    }

                                    .ping-button:hover {
                                        background: hsl(215, 74%, 55%);
                                        border-color: hsl(215, 74%, 55%);
                                        color: #fff;
                                    }

                                    .ping-button[disabled],
                                    .ping-button[disabled]:hover {
                                        text-align: center;
                                    }
                                }

                                .ping-label.dark {
                                    opacity: .2;
                                }
                            }


                            .block.ping {
                                min-width: 80px;
                            }

                            .block.hover,
                            .block:hover {
                                .title {
                                    //color: #eee;
                                }
                            }

                            .block.highlight {
                                .count {
                                    color: hsl(215, 74%, 55%);
                                    font-weight: bold;
                                }

                                .title {
                                    color: hsl(215, 74%, 55%);
                                }
                            }

                            .knob {
                                input {
                                    cursor: pointer !important;
                                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
                                    font-size: 10px !important;
                                    font-weight: 100 !important;
                                    margin-left: -29px !important;
                                    margin-top: 11px !important;
                                }
                            }

                            .knob.highlight {
                                input {
                                    color: #378ce1 !important;
                                }
                            }
                        }

                        .metrics.offline {
                            .btn {
                                color: #FFFFFF;
                            }
                        }

                        .localization {
                            font-size: 11px;
                            color: hsl(211, 0%, 65%);
                            padding-top: 10px !important;

                            .language {
                                font-size: 9px;
                            }

                            .flag {
                                font-size: 24px;
                                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        }

        .server.big {
            height: 325px;

            .front {
            }
        }

        .server.flip {
            .card {
                -webkit-transform: rotatex(-180deg);
                -moz-transform: rotatex(-180deg);
                -ms-transform: rotatex(-180deg);
                -o-transform: rotatex(-180deg);
                transform: rotatex(-180deg);
            }
        }

        .server.no-transform {
            .card {
                -moz-transform: none !important;
                -ms-transform: none !important;
                -o-transform: none !important;
                -webkit-transform: none !important;
                transform: none !important;
            }
        }

        .server.pressed {
            .card {
                -webkit-transform: rotatex(-170deg);
                -moz-transform: rotatex(-170deg);
                -ms-transform: rotatex(-170deg);
                -o-transform: rotatex(-170deg);
                transform: rotatex(-170deg);
            }
        }

        .server.blocked {
            .card {
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                -webkit-transform: none;
                transform: none;
            }
        }

        .server.shadowed {
            //box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
        }
    }
}

// ********************************************************************************************************************* MEDIA QUERIES
// on an ipad
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    // thinner tag search
    #filter-container .main {
        padding: 0 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #filter-container .main .tags-box .tags .tag-row .selectize-control {
        width: 210px;
    }
}
// on an ipad in landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
// on an ipad in portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}
