html {
  overflow-y: scroll;
}
footer {
  margin-top: 60px;
  display: none;
}
.tooltiptext {
  display: none;
  max-width: 250px;
}
.page-container {
  margin-top: 15px;
}
.dd-option {
  padding: 4px 6px !important;
  clear: both;
  height: 30px;
  font-size: 12px;
}
.dd-option .img-wrap {
  float: left;
  margin-right: 9px;
  vertical-align: text-top;
  text-align: center;
  width: 48px;
  height: 27px;
}
.dd-option .img-wrap img {
  max-width: 48px;
  max-height: 27px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.dd-option .flag {
  font-size: 27px;
  margin-right: 8px;
  margin-top: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.dd-option .name {
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
  max-width: 145px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dd-option .count {
  margin-top: 5px;
  min-width: 15px;
}
.tt-tip {
  display: none;
  position: relative;
  width: 150px;
}
.tt-tip .tt-name {
  margin: 5px 0;
  text-align: center;
  font-weight: bold;
  width: 150px;
  font-size: 13px;
}
.tt-tip .tt-img {
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin: 4px 0;
}
.tt-tip .tt-desc {
  font-size: 11px;
  text-align: center;
  line-height: 14px;
  margin: 4px 0;
}
.dd-item {
  padding: 1px 2px !important;
  clear: both;
  height: 30px;
}
.dd-item .img-wrap {
  float: left;
  vertical-align: text-top;
  text-align: center;
  padding-right: 8px;
  height: 30px;
}
.dd-item .img-wrap img {
  margin-top: 1px;
  max-width: 53px;
  max-height: 30px;
  border-radius: 3px;
}
.dd-item .flag {
  font-size: 30px;
  margin-right: 8px;
}
.dd-item .name {
  margin-top: 5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dd-item .count {
  margin-top: 5px;
  margin-right: 9px;
}
.dd-dd-option.active .name {
  color: #fff;
}
/*****************************************************************************************************/
/* Hero
/*****************************************************************************************************/
.hero {
  overflow-x: hidden;
  text-align: center;
}
.hero .inner {
  width: 110%;
  margin-top: 70px;
  text-align: center;
}
.hero .inner .copy {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 155px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 490px;
  z-index: 2;
}
.hero .inner .copy h1 {
  color: #fff;
  font-size: 75px;
  line-height: 85px;
  max-width: 960px;
  font-weight: 300;
  margin: 0 auto;
}
.hero .inner .copy div {
  font-size: 25px;
  margin: 20px auto 0;
}
.hero .radial {
  width: 100%;
  height: 490px;
  opacity: .75;
  position: absolute;
  background: -moz-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.hero .dimmer {
  width: 100%;
  height: 490px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.hero .players {
  height: 490px;
  overflow: hidden;
  background-image: url('../images/hero-bg.png');
}
.hero .players img {
  float: left;
}
/*****************************************************************************************************/
/* List
/*****************************************************************************************************/
#filter-container {
  z-index: 20;
  background: #2069cf;
  border-bottom: 7px solid rgba(19, 76, 190, 0.5);
  position: relative;
  display: none;
}
#filter-container .main {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#filter-container .main .add-server {
  position: absolute;
  top: 2px;
  width: 90px;
  line-height: 15px;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 12px;
  z-index: 2;
  color: #fff;
  background: rgba(8, 70, 150, 0.2);
  background-image: none;
  border-radius: 6px;
}
#filter-container .main .add-server .fa {
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  margin-top: 6px;
  float: left;
}
#filter-container .main .add-server:hover {
  background: rgba(8, 70, 150, 0.55);
  box-shadow: none;
}
#filter-container .main .feature-server {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 15px;
  font-weight: bold;
  z-index: 2;
}
#filter-container .main .info-button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 4px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
  opacity: .1;
  border-radius: 999px;
  z-index: 100;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#filter-container .main .info-button:hover,
#filter-container .main .info-button:active {
  opacity: 1 !important;
}
#filter-container .main .tags-box {
  position: relative;
}
#filter-container .main .tags-box .title {
  font-size: 34px;
  color: #fff;
  line-height: 46px;
  padding: 30px 0 10px;
  text-align: center;
  font-weight: 600;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#filter-container .main .tags-box .tags {
  margin: 0 0 25px;
  padding-top: 35px;
  text-align: center;
}
#filter-container .main .tags-box .tags .tag-row:first-child {
  margin-bottom: 10px;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control {
  margin: 0 8px;
}
#filter-container .main .tags-box .tags .tag-row .fa-search {
  position: relative;
  z-index: 2;
  left: -38px;
  top: 16px;
  vertical-align: top;
  font-size: 20px;
  color: #ddd;
  width: 0;
  cursor: pointer;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control {
  width: 251px;
  text-align: left;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-dropdown-content {
  font-size: 12px;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input {
  line-height: 26px;
  font-weight: bold;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  border-color: transparent;
  background-color: #134cbe;
  border-radius: 4px;
  z-index: 3;
  height: 50px;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input input {
  width: auto !important;
  cursor: pointer;
  color: #fff !important;
  font-size: 14px;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 18px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input input:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input::after {
  border-color: #ffffff transparent transparent transparent;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.disabled::after {
  border-color: rgba(55, 140, 225, 0.33) transparent transparent transparent;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.dropdown-active {
  border-radius: 4px 4px 0 0 !important;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.dropdown-active ::before {
  background: transparent !important;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.dropdown-active input {
  color: #000 !important;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.focus {
  border-color: #fff !important;
  background-color: #fff !important;
  z-index: 1;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.focus input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.focus input:-ms-input-placeholder {
  color: #ccc;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.focus input::-webkit-input-placeholder {
  color: #ccc;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.focus input {
  cursor: text;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.disabled input::-moz-placeholder {
  color: #378ce1;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.disabled input:-ms-input-placeholder {
  color: #378ce1;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.disabled input::-webkit-input-placeholder {
  color: #378ce1;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-input.disabled input {
  cursor: text;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-dropdown {
  max-height: 400px;
  z-index: 4;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-dropdown .count {
  float: right;
  color: rgba(0, 0, 0, 0.15);
  font-weight: bold;
}
#filter-container .main .tags-box .tags .tag-row .selectize-control .selectize-dropdown .active .count {
  color: #fff;
}
#filter-container .main .tags-box .filters-wrapper {
  padding: 0 12px 0;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: none;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input > div {
  background: #fff !important;
  color: #171d26;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input .remove {
  color: #171d26;
  line-height: 12px;
  border-radius: 0 4px 4px 0;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input .remove:hover {
  background-color: #DFEBF9;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.default.multi .selectize-input .item {
  padding: 2px !important;
  margin: 0 10px 10px 0;
  font-size: 12px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control .selectize-input {
  border: 0;
  box-shadow: none;
  padding: 4px 0 0 0 !important;
  min-height: 39px;
  background: transparent;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control .selectize-input input {
  opacity: 0 !important;
  width: 0 !important;
}
#filter-container .main .tags-box .filters-wrapper .selectize-control.hide {
  display: none !important;
}
#filter-container .main .tags-box .filters-wrapper #filters {
  display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 10px;
  border: 0;
  background: transparent;
}
#filter-container .main .tags-box .filters-wrapper #counts {
  display: inline-block;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 12px;
  vertical-align: top;
}
#filter-container .main .tags-box .filters-wrapper #counts .shaded {
  opacity: .2;
}
#filter-container .main .tags-box .filters-wrapper #counts span {
  vertical-align: middle;
}
#filter-container .main .tags-box .clear-link {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  text-align: center;
  margin-right: 13px;
}
#filter-container .main .tags-box .clear-link a {
  color: #fff;
}
#filter-container .main .tags-box .sorting #sort {
  width: 180px;
  margin-bottom: 0;
  float: left;
  border-radius: 0;
  border: 0;
  padding: 3px;
}
#filter-container .main .tags-box .sorting .selectize-control {
  margin: 0 auto;
  width: 345px;
  padding-bottom: 10px;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 2px;
  border-color: transparent;
  letter-spacing: -1px;
  background: transparent;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input.focus {
  background: #134cbe !important;
  border-color: transparent !important;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input.focus input {
  cursor: text;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input::after {
  border-color: #fff transparent;
}
#filter-container .main .tags-box .sorting .selectize-control .selectize-input.dropdown-active::before {
  background: transparent !important;
}
#filter-container .main .tags-box .sorting .selectize-dropdown {
  max-height: 250px;
  text-align: center;
  z-index: 1000;
}
#filter-container .main .tags-box .sorting .selectize-dropdown [data-selectable],
#filter-container .main .tags-box .sorting .selectize-dropdown .optgroup-header {
  padding: 4px 9px;
}
#server-list-contents {
  margin-bottom: 20px;
}
#server-list-contents #counts {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  margin: 25px 0;
}
#server-list-contents #loading {
  margin: 100px auto 0;
  display: none;
}
#server-list-contents #loading.spinner {
  display: block;
}
#server-list-contents #organic-list {
  z-index: 1;
  position: relative;
}
#server-list-contents .list {
  width: 1198px;
  margin-left: -9px;
}
#server-list-contents .list .server {
  display: none;
  float: left;
  color: #555;
  height: 150px;
  width: 573px;
  margin: 10px 13px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
#server-list-contents .list .server .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#server-list-contents .list .server .card .front {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  border-radius: 3px;
}
#server-list-contents .list .server .card .back {
  background: #fff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  -webkit-transform: rotatex(-180deg) translateZ(1px);
  -moz-transform: rotatex(-180deg);
  -ms-transform: rotatex(-180deg);
  -o-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#server-list-contents .list .server .card .back .banner {
  height: 73px;
  width: 573px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
  position: relative;
  border-radius: 3px 3px 0 0;
}
#server-list-contents .list .server .card .back .featured-banner-wrapper {
  height: 248px;
  width: 573px;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
#server-list-contents .list .server .card .back .featured-banner-wrapper .banner {
  height: 248px;
  width: 573px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.11);
  border-radius: 3px 3px 0 0;
}
#server-list-contents .list .server .card .back .index {
  position: absolute;
  top: 60px;
  font-size: 11px;
  font-weight: bold;
  right: -36px;
  text-align: center;
  width: 32px;
  color: rgba(0, 0, 0, 0.4);
  display: none;
}
#server-list-contents .list .server .card .back .server-name {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 11;
  font-size: 40px;
  color: #fff;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#server-list-contents .list .server .card .back .server-name.low {
  z-index: 0;
}
#server-list-contents .list .server .card .back .details {
  width: 573px;
  height: 78px;
  position: relative;
}
#server-list-contents .list .server .card .back .details .metrics {
  width: 100%;
  height: 100%;
  position: absolute;
  display: table;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
#server-list-contents .list .server .card .back .details .metrics .block {
  display: table-cell;
  text-align: center;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 93px;
  padding-top: 10px;
  vertical-align: top;
}
#server-list-contents .list .server .card .back .details .metrics .block .count {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  vertical-align: bottom;
}
#server-list-contents .list .server .card .back .details .metrics .block .count .fa {
  font-size: 16px;
  color: #eee;
}
#server-list-contents .list .server .card .back .details .metrics .block .count .sparkline-bar canvas {
  vertical-align: baseline !important;
}
#server-list-contents .list .server .card .back .details .metrics .block .title {
  font-size: 11px;
  color: #a6a6a6;
  line-height: 14px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: default;
}
#server-list-contents .list .server .card .back .details .metrics .block .title .fa {
  font-size: 24px;
}
#server-list-contents .list .server .card .back .details .metrics .block .title .ping-button {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 3px;
  text-align: center;
  padding: 4px 0;
  width: 58px;
  color: #555;
  background: #fff;
  border: 1px solid #eee;
}
#server-list-contents .list .server .card .back .details .metrics .block .title .ping-button:hover {
  background: #377ee1;
  border-color: #377ee1;
  color: #fff;
}
#server-list-contents .list .server .card .back .details .metrics .block .title .ping-button[disabled],
#server-list-contents .list .server .card .back .details .metrics .block .title .ping-button[disabled]:hover {
  text-align: center;
}
#server-list-contents .list .server .card .back .details .metrics .block .ping-label.dark {
  opacity: .2;
}
#server-list-contents .list .server .card .back .details .metrics .block.ping {
  min-width: 80px;
}
#server-list-contents .list .server .card .back .details .metrics .block.highlight .count {
  color: #377ee1;
  font-weight: bold;
}
#server-list-contents .list .server .card .back .details .metrics .block.highlight .title {
  color: #377ee1;
}
#server-list-contents .list .server .card .back .details .metrics .knob input {
  cursor: pointer !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 10px !important;
  font-weight: 100 !important;
  margin-left: -29px !important;
  margin-top: 11px !important;
}
#server-list-contents .list .server .card .back .details .metrics .knob.highlight input {
  color: #378ce1 !important;
}
#server-list-contents .list .server .card .back .details .metrics.offline .btn {
  color: #FFFFFF;
}
#server-list-contents .list .server .card .back .details .localization {
  font-size: 11px;
  color: #a6a6a6;
  padding-top: 10px !important;
}
#server-list-contents .list .server .card .back .details .localization .language {
  font-size: 9px;
}
#server-list-contents .list .server .card .back .details .localization .flag {
  font-size: 24px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 4px;
}
#server-list-contents .list .server.big {
  height: 325px;
}
#server-list-contents .list .server.flip .card {
  -webkit-transform: rotatex(-180deg);
  -moz-transform: rotatex(-180deg);
  -ms-transform: rotatex(-180deg);
  -o-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
}
#server-list-contents .list .server.no-transform .card {
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
#server-list-contents .list .server.pressed .card {
  -webkit-transform: rotatex(-170deg);
  -moz-transform: rotatex(-170deg);
  -ms-transform: rotatex(-170deg);
  -o-transform: rotatex(-170deg);
  transform: rotatex(-170deg);
}
#server-list-contents .list .server.blocked .card {
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #filter-container .main {
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #filter-container .main .tags-box .tags .tag-row .selectize-control {
    width: 210px;
  }
}
