.pagedown-content {
  text-align: center;
  font-size: 16px;
}
li {
  line-height: 1.5;
  list-style-position: inside;
}
.fotorama__nav-wrap {
  opacity: 0;
}
/*****************************************************************************************************/
/* Server Page
/*****************************************************************************************************/
body {
  color: rgba(0, 0, 0, 0.85);
}
header {
  background: #262626;
}
table td,
table th {
  padding: 0;
}
.page-container {
  display: none;
}
#server-head-container {
  width: 100%;
  position: relative;
  margin-top: 70px;
  z-index: 1;
  border-bottom: 7px solid transparent;
}
#server-head-container .server-logo {
  margin: 0 auto;
}
#server-head-container .edit-server {
  color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 20px;
  right: 80px;
  padding: 16px 18px;
  line-height: 10px;
  border-radius: 3px;
  z-index: 1000;
  cursor: pointer;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}
#server-head-container .edit-server .fa {
  margin-right: 5px;
}
#server-head-container .edit-server:hover {
  opacity: .8;
}
#server-head-container h1.name {
  font-size: 90px;
  line-height: 80px;
  padding: 0;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
}
#server-head-container h1.name .name {
  padding: 50px 90px 10px;
  display: block;
}
#server-head-container h1.name .server-logo {
  margin: 30px 0 10px;
}
#server-head-container h1.name a,
#server-head-container h1.name a:active,
#server-head-container h1.name a:link,
#server-head-container h1.name a:hover {
  color: #fff;
  text-decoration: none;
}
#server-head-container .lobby {
  text-align: center;
  margin-top: 20px;
}
#server-head-container .lobby .ip-wrapper {
  height: 60px;
  text-align: center;
}
#server-head-container .lobby .ip-wrapper .btn {
  font-size: 26px;
  padding: 17px 18px 16px;
  text-align: center;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  margin-left: 4px;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.15);
}
#server-head-container .lobby .ip-wrapper .btn:hover {
  opacity: .8;
}
#server-head-container .lobby .ip-wrapper .input-wrapper {
  display: inline-block;
  background: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  border-left: none;
}
#server-head-container .lobby .ip-wrapper .input-wrapper .title {
  float: left;
  padding: 0 20px;
  height: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.3);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#server-head-container .lobby .ip-wrapper .input-wrapper .ip {
  float: left;
  font-size: 28px;
  padding: 10px 20px;
  height: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#server-head-container .subserver-toggle {
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin: 14px auto 0;
  display: block;
  font-size: 13px;
}
#server-head-container .servers-well {
  border-top: 8px solid;
  padding: 20px 0;
  margin-top: 10px;
  font-size: 14px;
  display: none;
  color: rgba(0, 0, 0, 0.85);
}
#server-head-container .servers-well table {
  margin: 0 auto;
  display: table;
}
#server-head-container .servers-well table td,
#server-head-container .servers-well table th {
  padding: 2px;
}
#server-head-container .servers-well table th {
  padding-bottom: 5px;
  opacity: .65;
}
#server-head-container .servers-well .name {
  font-weight: bold;
  border-right: 3px solid rgba(0, 0, 0, 0.05);
  text-align: right;
  opacity: .5;
  padding-right: 12px;
  font-size: 13px;
}
#server-head-container .servers-well .sub-ip {
  padding: 0 12px;
}
#server-head-container .servers-well .reqs a {
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  vertical-align: top;
}
#server-head-container .servers-well .reqs a i {
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 3px 2px;
  border-radius: 3px;
}
#server-head-container .servers-well .reqs a:hover {
  opacity: .8;
}
#server-head-container .websites {
  text-align: center;
  padding-bottom: 40px;
}
#server-head-container .websites a {
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  padding: 4px 6px 0;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 5px 0;
}
#server-head-container .websites a:hover {
  opacity: .8;
}
#server-head-container .reset-date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
#server-head-container .description {
  padding: 10px 0;
  margin: 0 auto;
  width: 800px;
  color: rgba(0, 0, 0, 0.85);
}
#server-head-container .description p {
  margin: 0;
}
#server-head-container .description ul,
#server-head-container .description ol {
  margin-bottom: 0;
}
#server-head-container.transparent-bottom .server-logo {
  margin-bottom: 0;
}
#server-head-container.transparent-bottom h1 .subtitle {
  margin-top: -10px;
}
.server-container {
  padding-top: 0;
  padding-bottom: 0 !important;
}
.server-container .data-container section {
  max-width: 1180px;
  margin: 0 auto;
}
.server-container .box-container {
  padding-top: 0;
  background: #fff;
  margin: 0 auto;
}
.server-container .box-container .box h2 {
  padding-top: 30px;
}
.server-container .details {
  width: 100%;
  background: #171d26;
  color: #e0e0e0;
}
.server-container .details p {
  margin: 0 0 20px;
}
.server-container .details .fotorama {
  background: #171d26;
  margin: 0 auto;
}
.server-container .tags-section {
  margin: 40px 20px 0;
  text-align: center;
  padding: 50px 0 35px;
}
.server-container .tags-section h2 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0 15px;
  line-height: 38px;
  height: 46px;
  display: inline-block;
}
.server-container .tags-section .title {
  font-size: 36px;
}
.server-container .tags-section .tag {
  font-size: 14px;
  line-height: 19px;
  padding: 14px 12px;
  margin: 5px 2px;
  border-radius: 6px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
}
.server-container .tags-section .pad {
  margin-bottom: 10px;
  display: inline-block;
}
.server-container .tags-section .spacer {
  line-height: 1px;
  padding: 19px 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 600;
}
.server-container .tags-section .loc-wrap {
  font-size: 14px;
  line-height: 19px;
  padding: 14px 12px;
  margin: 5px;
  border-radius: 6px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.85);
  background: rgba(0, 0, 0, 0.03);
}
.server-container .tags-section .loc-wrap .country {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
}
.server-container .tags-section .loc-wrap .language {
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
}
.server-container .tags-section .loc-wrap .flag {
  margin-right: 5px;
  font-size: 19px;
  display: inline-block;
  float: none;
}
.server-container .stats-section {
  color: #333;
  font-size: 26px;
  margin: 0 20px;
  padding-bottom: 20px;
}
.server-container .stats-section h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0 40px;
}
.server-container .stats-section .metrics {
  width: 100%;
  margin: 0 0 40px;
  display: table;
  table-layout: fixed;
}
.server-container .stats-section .metrics .sparkline,
.server-container .stats-section .metrics .sparkline-bar {
  width: 250px;
}
.server-container .stats-section .metrics .sparkline .count,
.server-container .stats-section .metrics .sparkline-bar .count {
  font-size: 0 !important;
}
.server-container .stats-section .metrics .block {
  display: table-cell;
  text-align: center;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-top: 10px;
  vertical-align: top;
}
.server-container .stats-section .metrics .block #pingms small {
  font-size: 100%;
}
.server-container .stats-section .metrics .block #pingms.dark {
  opacity: .2;
}
.server-container .stats-section .metrics .block .count {
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.server-container .stats-section .metrics .block .title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.server-container .stats-section .metrics .block .title button {
  text-transform: uppercase;
  font-size: 11px;
  color: #ddd;
  padding: 9px 24px;
  background: #333;
  margin-top: 4px;
}
.server-container .stats-section .metrics .block .title button:hover {
  background: #555;
}
.server-container .stats-section .metrics .knob input {
  cursor: default !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
  margin-top: 18px !important;
  background: transparent;
  border-color: transparent;
}
.server-container .stats-section .metrics .knob .title {
  margin-top: 2px;
}
.server-container .stats-section .metrics .knob.highlight input {
  color: #C0ffff !important;
}
.server-container .mini-games-section {
  text-align: center;
  padding-bottom: 40px;
  margin: 0 20px;
}
.server-container .mini-games-section h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0 60px;
}
.server-container .mini-games-section .mini-game-link {
  display: inline-block;
  margin: 0 7.5px 0 7.5px;
  vertical-align: top;
}
.server-container .mini-games-section .mini-game-link .block {
  padding: 0;
  border-radius: 12px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.04);
  width: 270px;
  font-size: 11px;
  height: 262px;
  position: relative;
  margin-bottom: 30px;
}
.server-container .mini-games-section .mini-game-link .block .rounded-video {
  position: relative;
  height: 151px;
}
.server-container .mini-games-section .mini-game-link .block .rounded-video .tl {
  background-image: url(../images/tl.png);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.server-container .mini-games-section .mini-game-link .block .rounded-video .tr {
  background-image: url(../images/tr.png);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.server-container .mini-games-section .mini-game-link .block img {
  max-width: initial;
  width: 270px;
  border-radius: 12px 12px 0 0;
}
.server-container .mini-games-section .mini-game-link .block p {
  margin: 0;
}
.server-container .mini-games-section .mini-game-link .block .bucket {
  padding: 6px;
  border-top: 0;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  height: 105px;
  position: absolute;
  bottom: 0;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.server-container .mini-games-section .mini-game-link .block .bucket h3 {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  max-height: 48px;
  font-weight: 400;
  padding: 10px 10px 7px;
  color: rgba(0, 0, 0, 0.85);
}
.server-container .mini-games-section .mini-game-link .block .bucket .desc {
  color: rgba(0, 0, 0, 0.65);
  height: 58px;
  width: 253px;
  overflow: hidden;
  font-size: 13px;
  margin-bottom: 8px;
  margin-left: 3px;
  margin-right: 2px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.server-container .mini-games-section .mini-game-link .block .bucket .desc .nano-content {
  padding: 0 10px 10px 10px;
}
.server-container .mini-games-section .mini-game-link .block .bucket .desc .nano-pane {
  background: rgba(0, 0, 0, 0.1);
}
.server-container .mini-games-section .mini-game-link .block .bucket .desc .nano-slider {
  background: rgba(0, 0, 0, 0.85);
}
.server-container .mini-games-section .mini-game-link .block .bucket .desc.small {
  height: 36px;
}
.server-container .mini-games-section .mini-game-link .block .bucket .info-link {
  margin-top: 6px;
}
.server-container .mini-games-section .mini-game-link .block .bucket.extended {
  height: 180px;
}
.server-container .mini-games-section .mini-game-link .block .bucket.extended .desc {
  height: 90px;
}
.server-container .mini-games-section .mini-game-link .block .bucket.extended .desc.small {
  height: 71px;
  margin-bottom: 5px;
}
.server-container .mini-games-section div:nth-child(4n) {
  margin-right: 0;
}
.server-container .mini-games-section div:nth-child(4n+1) {
  margin-left: 0;
}
.server-container .modpack-section {
  text-align: center;
  padding-bottom: 40px;
  margin: 0 20px;
}
.server-container .modpack-section h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0 60px;
}
.server-container .modpack-section .modpack-link {
  vertical-align: top;
}
.server-container .modpack-section .modpack-link:hover {
  text-decoration: none;
}
.server-container .modpack-section .block {
  margin: 0 15px;
  padding: 0;
  border-radius: 12px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.04);
  width: 270px;
  font-size: 11px;
  height: 262px;
  position: relative;
  margin-bottom: 30px;
  display: inline-block;
}
.server-container .modpack-section .block img {
  max-width: initial;
  width: 270px;
  border-radius: 12px 12px 0 0;
}
.server-container .modpack-section .block p {
  margin: 0;
}
.server-container .modpack-section .block .bucket {
  padding: 6px;
  border-top: 0;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  height: 105px;
  position: absolute;
  bottom: 0;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.server-container .modpack-section .block .bucket h3 {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  max-height: 48px;
  font-weight: 400;
  padding: 10px 10px 7px;
  color: rgba(0, 0, 0, 0.85);
}
.server-container .modpack-section .block .bucket .desc {
  color: rgba(0, 0, 0, 0.65);
  height: 58px;
  width: 253px;
  overflow: hidden;
  font-size: 13px;
  margin-bottom: 16px;
  margin-left: 3px;
  margin-right: 2px;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.server-container .modpack-section .block .bucket .desc .nano-content {
  padding: 0 10px 10px 10px;
}
.server-container .modpack-section .block .bucket .desc .nano-pane {
  background: rgba(0, 0, 0, 0.1);
}
.server-container .modpack-section .block .bucket .desc .nano-slider {
  background: rgba(0, 0, 0, 0.85);
}
.server-container .modpack-section .block .bucket .desc.small {
  height: 36px;
}
.server-container .modpack-section .block .bucket .info-link {
  margin-top: 6px;
}
.server-container .modpack-section .block .bucket.extended {
  height: 180px;
}
.server-container .modpack-section .block .bucket.extended .desc {
  height: 90px;
}
.server-container .modpack-section .block .bucket.extended .desc.small {
  height: 71px;
  margin-bottom: 5px;
}
.server-container .modpack-section div:nth-child(4n) {
  margin-right: 0;
}
.server-container .modpack-section div:nth-child(4n+1) {
  margin-left: 0;
}
.server-container .dual {
  text-align: center;
}
.server-container .dual .modpack-section,
.server-container .dual .mini-games-section {
  width: 600px;
  display: inline-block;
  max-width: none;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.server-container .dual .modpack-section.tight {
  padding-left: 225px;
}
.server-container .dual .modpack-section.tight .modpack {
  margin-right: 0 !important;
}
.server-container .dual .mini-games-section.tight {
  padding-right: 225px;
}
.server-container .dual .mini-games-section.tight .mini-games-link {
  margin-left: 0 !important;
}
.server-container .plugins-section {
  text-align: center;
  padding-bottom: 60px;
  margin: 0 20px;
}
.server-container .plugins-section h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0 60px;
}
.server-container .plugins-section a {
  display: inline-block;
  margin: 2px;
}
.server-container .plugins-section a img {
  height: 20px;
}
.server-container .plugins-section a .plugin {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 3px solid rgba(0, 0, 0, 0.075);
  border-radius: 6px;
  padding: 14px 12px 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.server-container .plugins-section a .plugin .name {
  font-size: 14px;
  white-space: nowrap;
  display: inline-block;
  clear: both;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.server-container .plugins-section a .plugin .logo {
  height: 30px;
  margin-right: 10px;
  float: left;
}
.server-container .plugins-section a .expanded {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  width: 270px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 20px;
}
.server-container .plugins-section a .expanded h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 300;
}
.server-container .plugins-section a .expanded img {
  max-width: 270px;
}
.server-container .plugins-section a .expanded p {
  margin: 0;
}
.server-container .plugins-section a:hover {
  text-decoration: none;
}
.server-container .staff-section {
  text-align: center;
  padding-bottom: 45px;
  margin: 0 20px;
}
.server-container .staff-section h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0 60px;
}
.server-container .staff-section .staff-wrapper {
  margin: -10px auto 0;
}
.server-container .staff-section .staff-wrapper .staff {
  width: 213px;
  margin: 0 5px 13px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.server-container .staff-section .staff-wrapper .staff .face {
  float: left;
  height: 60px;
  border-radius: 6px 0 0 6px;
  margin-right: 10px;
  border-right-width: 10px;
}
.server-container .staff-section .staff-wrapper .staff .panel {
  margin-top: 8px;
  position: relative;
  width: 125px;
  height: 52px;
  float: left;
}
.server-container .staff-section .staff-wrapper .staff .panel .name {
  font-size: 18px;
  font-family: 'museo-sans-rounded', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.server-container .staff-section .staff-wrapper .staff .panel .rank {
  font-weight: 700;
  font-size: 13px;
}
.server-container .staff-section .staff-wrapper .staff .quote {
  padding: 10px;
  font-size: 13px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
  max-width: 140px;
}
.server-container .chat-section {
  margin: 0 auto;
  border: 0 !important;
}
.server-container .chat-section h2 {
  text-align: center;
  margin: 50px 0;
  font-weight: 300;
  font-size: 50px;
}
.server-container .chat-section .nicescroll-rails {
  display: none;
}
.server-container .chat-section .chat-wrapper {
  width: 100%;
  padding: 0 20px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.server-container .chat-section .chat-wrapper .chat {
  max-height: 445px;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100% !important;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.server-container .chat-section .chat-wrapper .chat p {
  margin: 0;
}
.server-container .chat-section .chat-wrapper .chat .lb-v-scrollbar {
  display: block !important;
}
.server-container .chat-section .chat-wrapper .chat .line:not(:first-child) {
  margin-top: 6px;
}
.server-container .chat-section .chat-wrapper .chat .line {
  background: rgba(0, 0, 0, 0.03);
  padding: 6px 8px 6px 6px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
.server-container .chat-section .chat-wrapper .chat .line .head {
  float: left;
  cursor: default;
}
.server-container .chat-section .chat-wrapper .chat .line .head img {
  width: 32px;
  margin-right: 5px;
  border-radius: 3px;
  vertical-align: middle;
}
.server-container .chat-section .chat-wrapper .chat .line .head .username {
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
  margin-top: 6px;
  color: #2838AD;
  margin-right: 10px;
  font-weight: bold;
}
.server-container .chat-section .chat-wrapper .chat .line .head .color-newuser {
  color: rgba(0, 0, 0, 0.85);
}
.server-container .chat-section .chat-wrapper .chat .line .text {
  font-size: 22px;
  line-height: 35px;
  margin-top: 3px;
}
.server-container .chat-section .chat-wrapper .chat .line .time-line {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  float: right;
  margin-top: 12px;
  margin-left: 5px;
}
.server-container .chat-section .chat-wrapper .chat .line .delete {
  margin-left: 5px;
  cursor: pointer;
  font-size: 13px;
  line-height: 7px;
  color: rgba(0, 0, 0, 0.3);
}
.server-container .chat-section .chat-wrapper .chat .line .delete:hover {
  color: #B80000;
}
.server-container .chat-section .players {
  padding: 0 40px;
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.server-container .chat-section .players .player {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 4px;
}
.server-container .chat-section .players .player img {
  height: 32px;
  width: 32px;
}
.server-container .chat-section #chat-input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 30px;
  padding: 0 10px;
  color: #333;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: block;
  background: transparent;
  border: 0;
}
.server-container .chat-section input::-moz-placeholder,
.server-container .chat-section textarea::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
.server-container .chat-section input:-ms-input-placeholder,
.server-container .chat-section textarea:-ms-input-placeholder {
  color: #aaa;
}
.server-container .chat-section input::-webkit-input-placeholder,
.server-container .chat-section textarea::-webkit-input-placeholder {
  color: #aaa;
}
.tooltiptext {
  display: none;
  padding: 5px 1px;
  max-width: 280px;
}
.tooltiptext blockquote {
  font-size: 24px;
  line-height: 30px;
}
.tooltiptext .logo {
  padding-right: 10px;
  vertical-align: top;
}
.tooltiptext .desc {
  max-width: 170px;
}
.tooltiptext .desc h3 {
  margin: 0 0 5px 0;
  line-height: 22px;
  font-size: 22px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tooltiptext .desc p {
  margin: 0;
  line-height: 16px;
}
.tooltiptext .desc.wide {
  width: 240px;
  max-width: 240px;
}
.tooltiptext .mixed {
  max-width: 270px;
}
.tooltiptext .mixed img {
  margin-bottom: 10px;
}
.tooltiptext .mixed h3 {
  margin: 0 0 5px 0;
  line-height: 22px;
  font-size: 22px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tooltiptext .mixed p {
  margin: 0;
  line-height: 16px;
}
#scroll-bottom {
  color: #333;
}
#server-head-container.dark-middle .description {
  color: rgba(255, 255, 255, 0.85);
}
#server-head-container.dark-header h1 {
  color: #fff;
}
#server-head-container.dark-header .edit-server {
  color: #fff;
}
#server-head-container.dark-header #scroll-bottom {
  color: #fff;
}
#server-head-container.dark-header .lobby .ip-wrapper .btn {
  color: #fff;
}
#server-head-container.dark-header .lobby .ip-wrapper .input-wrapper {
  color: #fff;
}
#server-head-container.dark-header .description {
  color: #fff;
}
#server-head-container.dark-header .websites a {
  color: #fff;
}
#server-head-container.dark-header .subserver-toggle {
  color: #fff;
}
#server-head-container.dark-header .servers-well {
  color: #fff;
}
#server-head-container.dark-header .servers-well .name {
  border-color: rgba(255, 255, 255, 0.05);
}
#server-head-container.dark-header .servers-well .reqs a {
  color: #fff;
}
#server-head-container.dark-header .servers-well .reqs a i {
  background: rgba(255, 255, 255, 0.1);
}
.dark .data-container section {
  border-color: rgba(255, 255, 255, 0.04);
}
.dark .localization-section {
  color: rgba(255, 255, 255, 0.85);
}
.dark .localization-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .localization-section .loc-wrap {
  background: rgba(255, 255, 255, 0.05);
}
.dark .stats-section {
  color: rgba(255, 255, 255, 0.92);
}
.dark .stats-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .stats-section .metrics .knob input {
  color: rgba(255, 255, 255, 0.92);
}
.dark .stats-section .metrics .block .title {
  color: rgba(255, 255, 255, 0.5);
}
.dark .stats-section .metrics .block .title button {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.65);
}
.dark .stats-section button:hover {
  background: #ffffff;
  color: #000000;
}
.dark .stats-section .spacer {
  background: rgba(255, 255, 255, 0.35);
}
.dark .tags-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .tags-section .tag,
.dark .tags-section .loc-wrap {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);
}
.dark .tags-section .spacer {
  line-height: 1px;
  padding: 21px 12px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.dark .plugins-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .plugins-section a .plugin {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 3px solid rgba(255, 255, 255, 0.075);
}
.dark .modpack-section {
  color: rgba(255, 255, 255, 0.92);
}
.dark .modpack-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .modpack-section .block {
  border-bottom: 6px solid rgba(255, 255, 255, 0.03);
}
.dark .modpack-section .block .bucket h3 {
  color: rgba(255, 255, 255, 0.85);
}
.dark .modpack-section .block .bucket .desc {
  color: rgba(255, 255, 255, 0.5);
}
.dark .modpack-section .block .bucket .desc .nano-slider {
  background: rgba(255, 255, 255, 0.85);
}
.dark .mini-games-section {
  color: rgba(255, 255, 255, 0.92);
}
.dark .mini-games-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .mini-games-section .mini-game-link .block {
  border-bottom: 6px solid rgba(255, 255, 255, 0.03);
}
.dark .mini-games-section .mini-game-link .block .bucket h3 {
  color: rgba(255, 255, 255, 0.85);
}
.dark .mini-games-section .mini-game-link .block .bucket .desc {
  color: rgba(255, 255, 255, 0.5);
}
.dark .mini-games-section .mini-game-link .block .bucket .desc .nano-slider {
  background: rgba(255, 255, 255, 0.85);
}
.dark .staff-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .staff-section .staff-wrapper .staff {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.05);
}
.dark .staff-section .staff-wrapper .staff .face {
  border-color: rgba(255, 255, 255, 0.05);
}
.dark .staff-section .staff-wrapper .staff .panel .fa {
  color: rgba(255, 255, 255, 0.05);
}
.dark .staff-section .staff-wrapper .staff .panel .rank {
  color: rgba(255, 255, 255, 0.85);
}
.dark .chat-section h2 {
  color: rgba(255, 255, 255, 0.92);
}
.dark .chat-section .chat-wrapper .chat .line {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(255, 255, 255, 0.05);
}
.dark .chat-section .chat-wrapper .chat .line .time-line {
  color: rgba(255, 255, 255, 0.5);
}
.dark .chat-section .chat-wrapper .chat .line .text {
  color: rgba(255, 255, 255, 0.8);
}
.dark .chat-section .chat-wrapper .chat .line .delete {
  color: rgba(255, 255, 255, 0.3);
}
.dark .chat-section .chat-wrapper .chat .line .color-newuser {
  color: #ffffff;
}
.dark .chat-section #chat-input {
  color: rgba(255, 255, 255, 0.92);
}
footer {
  display: none;
  color: #ccc;
}
#loading {
  margin-bottom: 60px;
  margin-top: 40px;
}
.fotorama__video {
  top: 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .server-container .chat-section .chat-wrapper {
    padding: 50px 40px 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .stats-section {
    font-size: 30px;
  }
  #server-head-container .name {
    font-size: 80px;
    padding: 50px 0;
  }
}
