﻿.pagedown-content {
    text-align: center;
    font-size: 16px;

    h1 {
    }
}

li {
    line-height: 1.5;
    list-style-position: inside;
}

.fotorama__nav-wrap {
    opacity: 0;
}

/*****************************************************************************************************/
/* Server Page
/*****************************************************************************************************/

body {
    color: rgba(0, 0, 0, 0.85);
}

header {
    background: hsl(0, 0%, 15%);
}

table td, table th {
    padding: 0;
}

.page-container {
    display: none;
}

#server-head-container {
    width: 100%;
    position: relative;
    margin-top: 70px;
    z-index: 1;
    border-bottom: 7px solid transparent;

    .server-logo {
        margin: 0 auto;
    }

    .edit-server {
        color: rgba(0,0,0,.85);
        position: absolute;
        top: 20px;
        right: 80px;
        padding: 16px 18px;
        line-height: 10px;
        border-radius: 3px;
        z-index: 1000;
        cursor: pointer;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        -webkit-transition: opacity 500ms;
        transition: opacity 500ms;

        .fa {
            margin-right: 5px;
        }
    }

    .edit-server:hover {
        opacity: .8;
    }

    h1.name {
        font-size: 90px;
        line-height: 80px;
        //text-shadow: 1px 3px 0 rgba(0,0,0,0.2);
        padding: 0;
        text-align: center;
        font-weight: bold;
        color: rgba(0,0,0,.85);
        margin: 0;

        .name {
            padding: 50px 90px 10px;
            display: block;
        }

        .server-logo {
            margin: 30px 0 10px;
        }

        a, a:active, a:link, a:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .lobby {
        text-align: center;
        margin-top: 20px;

        .ip-wrapper {
            height: 60px;
            text-align: center;

            .btn {
                font-size: 26px;
                padding: 17px 18px 16px;
                text-align: center;
                line-height: 26px;
                color: rgba(0,0,0,.85);
                border-radius: 5px;
                margin-left: 4px;
                vertical-align: top;
                background: rgba(0, 0, 0, 0.15);
            }

            .btn:hover {
                opacity: .8;
            }

            .input-wrapper {
                display: inline-block;
                background: rgba(0, 0, 0, 0.15);
                color: rgba(0,0,0,.85);
                border-radius: 4px;
                //box-shadow: 0 2px rgba(255, 255, 255, 0.13), inset 0 2px rgba(0, 0, 0, 0.05);
                border-left: none;

                .title {
                    float: left;
                    padding: 0 20px;
                    height: 60px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 5px 0 0 5px;
                    text-align: center;
                    line-height: 60px;
                    font-size: 16px;
                    font-weight: 600;
                    background: rgba(0,0,0,.3);
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                }

                .ip {
                    float: left;
                    font-size: 28px;
                    padding: 10px 20px;
                    height: 60px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
    }

    .subserver-toggle {
        color: rgba(0,0,0,.85);
        text-align: center;
        margin: 14px auto 0;
        display: block;
        font-size: 13px;
    }

    .servers-well {
        border-top: 8px solid;
        padding: 20px 0;
        margin-top: 10px;
        font-size: 14px;
        display: none;
        color: rgba(0, 0, 0, 0.85);

        table {
            margin: 0 auto;
            display: table;

            td, th {
                padding: 2px;
            }

            th {
                padding-bottom: 5px;
                opacity: .65;
            }
        }

        .name {
            font-weight: bold;
            border-right: 3px solid rgba(0, 0, 0, 0.05);
            text-align: right;
            opacity: .5;
            padding-right: 12px;
            font-size: 13px;
        }

        .sub-ip {
            padding: 0 12px;
        }

        .reqs {
            a {
                text-align: center;
                color: rgba(0, 0, 0, 0.85);
                vertical-align: top;

                i {
                    background: rgba(0,0,0,.1);
                    padding: 3px 3px 2px;
                    border-radius: 3px;
                }
            }

            a:hover {
                opacity: .8;
            }
        }
    }

    .websites {
        text-align: center;
        padding-bottom: 40px;

        a {
            display: inline-block;
            text-align: center;
            color: rgba(0,0,0,.85);
            padding: 4px 6px 0;
            text-transform: uppercase;
            font-size: 14px;
            margin: 10px 5px 0;
        }

        a:hover {
            opacity: .8;
        }
    }

    .reset-date {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
    }

    .description {
        padding: 10px 0;
        margin: 0 auto;
        width: 800px;
        color: rgba(0, 0, 0, 0.85);

        p {
            margin: 0;
        }

        ul, ol {
            margin-bottom: 0;
        }
    }
}

#server-head-container.transparent-bottom {
    .server-logo {
        margin-bottom: 0;
    }

    h1 {
        .subtitle {
            margin-top: -10px;
        }
    }
}

.server-container {
    padding-top: 0;
    padding-bottom: 0 !important;


    .data-container {
        section {
            max-width: 1180px;
            margin: 0 auto;
            //border-bottom: solid 3px rgba(0,0,0,.03);
        }
    }

    .box-container {
        padding-top: 0;
        background: #fff;
        margin: 0 auto;

        .box {
            h2 {
                padding-top: 30px;
            }
        }
    }

    .details {
        width: 100%;
        background: hsl(217, 25%, 12%);
        color: #e0e0e0;

        p {
            margin: 0 0 20px;
        }

        .fotorama {
            background: hsl(217, 25%, 12%);
            margin: 0 auto;
        }
    }

    .tags-section {
        margin: 40px 20px 0;
        text-align: center;
        padding: 50px 0 35px;

        h2 {
            font-size: 24px;
            font-weight: 300;
            text-align: center;
            margin: 0 15px;
            line-height: 38px;
            height: 46px;
            display: inline-block;
        }

        .title {
            font-size: 36px;
        }

        .tag {
            font-size: 14px;
            line-height: 19px;
            padding: 14px 12px;
            margin: 5px 2px;
            border-radius: 6px;
            display: inline-block;
            background: rgba(0, 0, 0, 0.03);
        }

        .pad {
            margin-bottom: 10px;
            display: inline-block;
        }

        .spacer {
            line-height: 1px;
            padding: 19px 10px;
            margin-left: 2px;
            margin-right: 2px;
            margin-bottom: 3px;
            display: inline-block;
            color: rgba(0, 0, 0, 0.7);
            font-size: 16px;
            font-weight: 600;
        }

        .loc-wrap {
            font-size: 14px;
            line-height: 19px;
            padding: 14px 12px;
            margin: 5px;
            border-radius: 6px;
            display: inline-block;
            color: rgba(0,0,0,.85);
            background: rgba(0,0,0,.03);

            .country {
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
                margin-top: 1px;
            }

            .language {
                display: inline-block;
                vertical-align: top;
                margin-top: 1px;
            }

            .flag {
                margin-right: 5px;
                font-size: 19px;
                display: inline-block;
                float: none;
            }
        }
    }

    .stats-section {
        color: #333;
        font-size: 26px;
        margin: 0 20px;
        padding-bottom: 20px;

        h2 {
            font-size: 50px;
            font-weight: 300;
            text-align: center;
            margin: 50px 0 40px;
        }

        .metrics {
            width: 100%;
            margin: 0 0 40px;
            display: table;
            table-layout: fixed;

            .sparkline,
            .sparkline-bar {
                width: 250px;

                .count {
                    font-size: 0 !important;
                }
            }

            .block {
                display: table-cell;
                text-align: center;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
                padding-top: 10px;
                vertical-align: top;


                #pingms {
                    small {
                        font-size: 100%;
                    }
                }

                #pingms.dark {
                    opacity: .2;
                }

                .count {
                    font-size: 36px;
                    line-height: 50px;
                    text-align: center;
                    font-family: 'museo-sans-rounded', 'Helvetica Neue', Arial, Helvetica, sans-serif;
                }

                .title {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.7);
                    text-align: center;

                    button {
                        text-transform: uppercase;
                        font-size: 11px;
                        color: #ddd;
                        padding: 9px 24px;
                        background: #333;
                        margin-top: 4px;
                    }

                    button:hover {
                        background: #555;
                    }
                }
            }

            .knob {
                input {
                    cursor: default !important;
                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
                    font-size: 18px !important;
                    font-weight: 600 !important;
                    line-height: 18px !important;
                    margin-top: 18px !important;
                    background: transparent;
                    border-color: transparent;
                }

                .title {
                    margin-top: 2px;
                }
            }

            .knob.highlight {
                input {
                    color: #C0ffff !important;
                }
            }
        }
    }

    .mini-games-section {
        text-align: center;
        padding-bottom: 40px;
        margin: 0 20px;

        h2 {
            font-size: 50px;
            font-weight: 300;
            text-align: center;
            margin: 50px 0 60px;
        }

        .mini-game-link {
            display: inline-block;
            margin: 0 7.5px 0 7.5px;
            vertical-align: top;

            .block {
                padding: 0;
                border-radius: 12px;
                border-bottom: 6px solid rgba(0,0,0,.03);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0,.04);
                width: 270px;
                font-size: 11px;
                height: 262px;
                position: relative;
                margin-bottom: 30px;

                .rounded-video {
                    position: relative;
                    height: 151px;

                    .tl {
                        background-image: url(../images/tl.png);
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .tr {
                        background-image: url(../images/tr.png);
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }


                img {
                    max-width: initial;
                    width: 270px;
                    border-radius: 12px 12px 0 0;
                }

                p {
                    margin: 0;
                }

                .bucket {
                    //border: 6px solid rgba(0, 0, 0, 0.04);
                    padding: 6px;
                    border-top: 0;
                    border-radius: 0 0 12px 12px;
                    overflow: hidden;
                    height: 105px;
                    position: absolute;
                    bottom: 0;
                    -moz-transition: all .5s;
                    -o-transition: all .5s;
                    -webkit-transition: all .5s;
                    transition: all .5s;

                    h3 {
                        margin: 0;
                        font-size: 22px;
                        line-height: 22px;
                        max-height: 48px;
                        font-weight: 400;
                        padding: 10px 10px 7px;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    .desc {
                        color: rgba(0, 0, 0, 0.65);
                        height: 58px;
                        width: 253px;
                        overflow: hidden;
                        font-size: 13px;
                        margin-bottom: 8px;
                        margin-left: 3px;
                        margin-right: 2px;
                        -moz-transition: all .5s;
                        -o-transition: all .5s;
                        -webkit-transition: all .5s;
                        transition: all .5s;

                        .nano-content {
                            padding: 0 10px 10px 10px;
                        }

                        .nano-pane {
                            background: rgba(0,0,0,.1);
                        }

                        .nano-slider {
                            background: rgba(0, 0, 0, 0.85);
                        }
                    }

                    .desc.small {
                        height: 36px;
                    }

                    .info-link {
                        margin-top: 6px;
                    }
                }

                .bucket.extended {
                    height: 180px;

                    .desc {
                        height: 90px;
                    }

                    .desc.small {
                        height: 71px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        div:nth-child(4n) {
            margin-right: 0;
        }

        div:nth-child(4n+1) {
            margin-left: 0;
        }
    }

    .modpack-section {
        text-align: center;
        padding-bottom: 40px;
        margin: 0 20px;

        h2 {
            font-size: 50px;
            font-weight: 300;
            text-align: center;
            margin: 50px 0 60px;
        }

        .modpack-link {
            vertical-align: top;
        }

        .modpack-link:hover {
            text-decoration: none;
        }

        .block {
            margin: 0 15px;
            padding: 0;
            border-radius: 12px;
            border-bottom: 6px solid rgba(0,0,0,.03);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0,.04);
            width: 270px;
            font-size: 11px;
            height: 262px;
            position: relative;
            margin-bottom: 30px;
            display: inline-block;

            img {
                max-width: initial;
                width: 270px;
                border-radius: 12px 12px 0 0;
            }

            p {
                margin: 0;
            }

            .bucket {
                //border: 6px solid rgba(0, 0, 0, 0.04);
                padding: 6px;
                border-top: 0;
                border-radius: 0 0 12px 12px;
                overflow: hidden;
                height: 105px;
                position: absolute;
                bottom: 0;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;

                h3 {
                    margin: 0;
                    font-size: 22px;
                    line-height: 22px;
                    max-height: 48px;
                    font-weight: 400;
                    padding: 10px 10px 7px;
                    color: rgba(0, 0, 0, 0.85);
                }

                .desc {
                    color: rgba(0, 0, 0, 0.65);
                    height: 58px;
                    width: 253px;
                    overflow: hidden;
                    font-size: 13px;
                    margin-bottom: 16px;
                    margin-left: 3px;
                    margin-right: 2px;
                    -moz-transition: all .5s;
                    -o-transition: all .5s;
                    -webkit-transition: all .5s;
                    transition: all .5s;

                    .nano-content {
                        padding: 0 10px 10px 10px;
                    }

                    .nano-pane {
                        background: rgba(0,0,0,.1);
                    }

                    .nano-slider {
                        background: rgba(0, 0, 0, 0.85);
                    }
                }

                .desc.small {
                    height: 36px;
                }

                .info-link {
                    margin-top: 6px;
                }
            }

            .bucket.extended {
                height: 180px;

                .desc {
                    height: 90px;
                }

                .desc.small {
                    height: 71px;
                    margin-bottom: 5px;
                }
            }
        }

        div:nth-child(4n) {
            margin-right: 0;
        }

        div:nth-child(4n+1) {
            margin-left: 0;
        }
    }

    .dual {
        text-align: center;

        .modpack-section,
        .mini-games-section {
            width: 600px;
            display: inline-block;
            max-width: none;
            vertical-align: top;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .modpack-section.tight {
            padding-left: 225px;

            .modpack {
                margin-right: 0 !important;
            }
        }

        .mini-games-section.tight {
            padding-right: 225px;

            .mini-games-link {
                margin-left: 0 !important;
            }
        }
    }

    .plugins-section {
        text-align: center;
        padding-bottom: 60px;
        margin: 0 20px;

        h2 {
            font-size: 50px;
            font-weight: 300;
            text-align: center;
            margin: 50px 0 60px;
        }

        a {
            display: inline-block;
            margin: 2px;

            img {
                height: 20px;
            }

            .plugin {
                font-size: 12px;
                background: rgba(0, 0, 0, 0.03);
                border-bottom: 3px solid rgba(0, 0, 0, 0.075);
                border-radius: 6px;
                padding: 14px 12px 12px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                float: left;

                .name {
                    font-size: 14px;
                    white-space: nowrap;
                    display: inline-block;
                    clear: both;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }

                .logo {
                    height: 30px;
                    margin-right: 10px;
                    float: left;
                }
            }

            .expanded {
                //box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
                background-color: white;
                padding: 10px;
                border-radius: 6px;
                width: 270px;
                font-size: 11px;
                color: rgba(0, 0, 0, 0.85);
                margin-bottom: 20px;

                h3 {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 300;
                }

                img {
                    max-width: 270px;
                }

                p {
                    margin: 0;
                }
            }
        }

        a:hover {
            text-decoration: none;
        }
    }

    .staff-section {
        text-align: center;
        padding-bottom: 45px;
        margin: 0 20px;

        h2 {
            font-size: 50px;
            font-weight: 300;
            text-align: center;
            margin: 50px 0 60px;
        }

        .staff-wrapper {
            margin: -10px auto 0;

            .staff {
                width: 213px;
                margin: 0 5px 13px;
                vertical-align: top;
                display: inline-block;
                text-align: left;
                cursor: pointer;
                font-size: 12px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
                border-radius: 12px;

                .face {
                    float: left;
                    height: 60px;
                    border-radius: 6px 0 0 6px;
                    margin-right: 10px;
                    border-right-width: 10px;
                }

                .panel {
                    margin-top: 8px;
                    position: relative;
                    width: 125px;
                    height: 52px;
                    float: left;

                    .name {
                        font-size: 18px;
                        font-family: 'museo-sans-rounded','Helvetica Neue',Arial,Helvetica,sans-serif;
                    }

                    .rank {
                        font-weight: 700;
                        font-size: 13px;
                    }
                }

                .quote {
                    padding: 10px;
                    font-size: 13px;
                    font-style: normal;
                    color: rgba(0,0,0,.4);
                    max-width: 140px;
                }
            }

            .staff.has-quote {
                //border-bottom: 3px solid rgba(0,0,0,.075);
            }
        }
    }

    .chat-section {
        margin: 0 auto;
        border: 0 !important;

        h2 {
            text-align: center;
            margin: 50px 0;
            font-weight: 300;
            font-size: 50px;
        }

        .nicescroll-rails {
            display: none;
        }

        .chat-wrapper {
            width: 100%;
            padding: 0 20px 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 40px;

            .chat {
                max-height: 445px;
                font-size: 14px;
                overflow-y: auto;
                overflow-x: hidden;
                width: 100% !important;
                -webkit-overflow-scrolling: touch;
                position: relative;

                p {
                    margin: 0;
                }

                .lb-v-scrollbar {
                    display: block !important;
                }

                .line:not(:first-child) {
                    margin-top: 6px;
                }

                .line {
                    background: rgba(0,0,0,.03);
                    padding: 6px 8px 6px 6px;
                    border-radius: 3px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 100%;
                    position: relative;
                    -moz-animation-duration: 500ms;
                    -o-animation-duration: 500ms;
                    -webkit-animation-duration: 500ms;
                    animation-duration: 500ms;

                    .head {
                        float: left;
                        cursor: default;

                        img {
                            width: 32px;
                            margin-right: 5px;
                            border-radius: 3px;
                            vertical-align: middle;
                        }

                        .username {
                            font-size: 22px;
                            line-height: 22px;
                            vertical-align: middle;
                            margin-top: 6px;
                            color: #2838AD;
                            margin-right: 10px;
                            font-weight: bold;
                        }

                        .color-newuser {
                            color: rgba(0,0,0,.85);
                        }
                    }

                    .text {
                        font-size: 22px;
                        line-height: 35px;
                        margin-top: 3px;
                    }

                    .time-line {
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 12px;
                        float: right;
                        margin-top: 12px;
                        margin-left: 5px;
                    }

                    .delete {
                        margin-left: 5px;
                        cursor: pointer;
                        font-size: 13px;
                        line-height: 7px;
                        color: rgba(0,0,0,.3);
                    }

                    .delete:hover {
                        color: #B80000;
                    }
                }
            }
        }

        .players {
            padding: 0 40px;
            margin-top: 30px;
            padding-bottom: 30px;
            text-align: center;

            .player {
                display: inline-block;
                margin-right: 2px;
                margin-left: 2px;
                margin-bottom: 4px;

                img {
                    height: 32px;
                    width: 32px;
                }
            }
        }

        #chat-input {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 22px;
            line-height: 30px;
            padding: 0 10px;
            color: #333;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            display: block;
            background: transparent;
            border: 0;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            color: #aaa;
            opacity: 1;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #aaa;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #aaa;
        }

        #chat-input:hover,
        #chat-input:active,
        #chat-input:focus {
            //background: rgba(0,0,0,.08);
        }
    }
}

.tooltiptext {
    display: none;
    padding: 5px 1px;
    max-width: 280px;

    blockquote {
        font-size: 24px;
        line-height: 30px;
    }

    .logo {
        padding-right: 10px;
        vertical-align: top;
    }

    .desc {
        max-width: 170px;

        h3 {
            margin: 0 0 5px 0;
            line-height: 22px;
            font-size: 22px;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        p {
            margin: 0;
            line-height: 16px;
        }
    }

    .desc.wide {
        width: 240px;
        max-width: 240px;
    }

    .mixed {
        max-width: 270px;

        img {
            margin-bottom: 10px;
        }

        h3 {
            margin: 0 0 5px 0;
            line-height: 22px;
            font-size: 22px;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        p {
            margin: 0;
            line-height: 16px;
        }
    }
}

// ********************************************************************************************************************* DARK-HEADER

#scroll-bottom {
    color: #333;
}

#server-head-container.dark-middle {
    .description {
        color: rgba(255,255,255,.85);
    }
}

#server-head-container.dark-header {
    h1 {
        color: #fff;
    }

    .edit-server {
        color: #fff;
    }

    #scroll-bottom {
        color: #fff;
    }

    .lobby .ip-wrapper {
        .btn {
            color: #fff;
        }

        .input-wrapper {
            color: #fff;
        }
    }

    .description {
        color: #fff;
    }

    .websites a {
        color: #fff;
    }

    .subserver-toggle {
        color: #fff;
    }

    .servers-well {
        color: #fff;

        .name {
            border-color: rgba(255, 255, 255, 0.05);
        }

        .reqs a {
            color: #fff;

            i {
                background: rgba(255,255,255, 0.1);
            }
        }
    }
}

// ********************************************************************************************************************* DARK

.dark {
    .data-container {
        section {
            border-color: rgba(255, 255, 255, 0.04);
        }
    }
}

.dark .localization-section {
    color: rgba(255,255,255,.85);

    h2 {
        color: rgba(255,255,255,.92);
    }

    .loc-wrap {
        background: rgba(255, 255, 255, 0.05);
    }
}

.dark .stats-section {
    color: rgba(255,255,255,.92);

    h2 {
        color: rgba(255,255,255,.92);
    }

    .metrics {

        .knob {
            input {
                color: rgba(255,255,255,.92);
            }
        }

        .block .title {
            color: rgba(255, 255, 255, 0.5);

            button {
                background: rgba(255,255,255,.1);
                color: rgba(255,255,255,.65);
            }
        }
    }

    button:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(0, 0, 0, 1);
    }

    .spacer {
        background: rgba(255, 255, 255, 0.35);
    }
}

.dark .tags-section {

    h2 {
        color: rgba(255,255,255,.92);
    }

    .tag, .loc-wrap {
        color: rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.05);
    }

    .spacer {
        line-height: 1px;
        padding: 21px 12px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 3px;
        display: inline-block;
        color: rgba(255,255,255,.85);
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
    }
}

.dark .plugins-section {

    h2 {
        color: rgba(255,255,255,.92);
    }

    a {
        .plugin {
            background: rgba(255, 255, 255, 0.05);
            color: rgba(255,255,255,.85);
            border-bottom: 3px solid rgba(255, 255, 255, 0.075);
        }
    }
}

.dark .modpack-section {
    color: rgba(255,255,255,.92);

    h2 {
        color: rgba(255,255,255,.92);
    }

    .block {
        border-bottom: 6px solid rgba(255,255,255,.03);

        .bucket {
            //border-color: rgba(255,255,255,.05);
            h3 {
                color: rgba(255, 255, 255, 0.85);
            }

            .desc {
                color: rgba(255, 255, 255, 0.5);

                .nano-slider {
                    background: rgba(255, 255, 255,.85);
                }
            }
        }
    }
}

.dark .mini-games-section {
    color: rgba(255,255,255,.92);

    h2 {
        color: rgba(255,255,255,.92);
    }

    .mini-game-link .block {
        border-bottom: 6px solid rgba(255,255,255,.03);

        .bucket {
            //border-color: rgba(255,255,255,.05);
            h3 {
                color: rgba(255, 255, 255, 0.85);
            }

            .desc {
                color: rgba(255, 255, 255, 0.5);

                .nano-slider {
                    background: rgba(255, 255, 255,.85);
                }
            }
        }
    }
}

.dark .staff-section {

    h2 {
        color: rgba(255,255,255,.92);
    }

    .staff-wrapper {

        .staff {
            box-shadow: 0 0 0 3px rgba(255,255,255, 0.05);

            .face {
                border-color: rgba(255,255,255, 0.05);
            }

            .panel {
                .fa {
                    color: rgba(255,255,255, 0.05);
                }

                .rank {
                    color: rgba(255, 255, 255, 0.85);
                }
            }
        }
    }
}

.dark .chat-section {
    h2 {
        color: rgba(255,255,255,.92);
    }

    .chat-wrapper {
        .chat {
            .line {
                color: rgba(255,255,255,.85);
                background: rgba(255,255,255,.05);

                .time-line {
                    color: rgba(255,255,255, 0.5);
                }

                .text {
                    color: rgba(255,255,255, 0.8);
                }

                .delete {
                    color: rgba(255,255,255,.3);
                }

                .color-newuser {
                    color: rgba(255,255,255,1);
                }
            }
        }
    }

    #chat-input {
        color: rgba(255,255,255,.92);
    }
}

footer {
    display: none;
    color: #ccc;
}

#loading {
    margin-bottom: 60px;
    margin-top: 40px;
}

// ********************************************************************************************************************* FOTORAMA

.fotorama__video {
    top: 0;
}

// ********************************************************************************************************************* MEDIA QUERIES

// on an ipad

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    // less chat padding

    .server-container .chat-section .chat-wrapper {
        padding: 50px 40px 0;
    }
}

// on an ipad in landscape

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

// on an ipad in portrait

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    // smaller stats text

    .stats-section {
        font-size: 30px;
    }

    // smaller server name

    #server-head-container .name {
        font-size: 80px;
        padding: 50px 0;
    }
}
