﻿/*****************************************************************************************************/
// Global
/*****************************************************************************************************/
//#3082E7
body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-rendering: optimizelegibility;
    background: #f7f7fa;
    //background: #282d33 url(../images/bg0.jpg) top center fixed;
    font-size: .8em;
    line-height: 1.4;
    margin: 0;
    min-width: 1180px;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../videos/bg1.jpg) no-repeat;
    background-size: cover;
}

body.no-bg {
    background-image: none !important;
    //background-color: hsl(220, 41%, 91%) !important;
    background: radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) hsl(220, 41%, 91%);
}

footer {
    font-size: 11px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 25px auto;
    position: relative;
    clear: both;
    color: #757e8a;

    p {
        padding: 0;
        margin: 0;
    }
}

footer.absolute {
    position: absolute;
}

body.home {
    background: #fff;
}

body.events {
    //background: hsl(215, 40%, 95%);
    //background: hsl(213, 100%, 98%);
    //background: hsl(215, 12%, 18%) url(../images/bg0.jpg) top center no-repeat;
    //background: #fff;
    //background-attachment: fixed;
    //background-position: center center;
}

body.list {
    //background: hsl(215, 40%, 95%);
    //background: hsl(213, 100%, 98%);
    //background: hsl(215, 12%, 18%) url(../images/bg0.jpg) top center no-repeat;
    //background: #fff;
    //background-attachment: fixed;
    //background-position: center center;
}

body.user,
body.account {
}

.page-container {
    max-width: 1180px;
    margin: 40px auto 60px;
    clear: both;
    position: relative;
}

.page-slice {
    max-width: 1180px;
    margin: 60px auto;
    clear: both;
    position: relative;

    .header {
        margin-bottom: 60px;

        h2 {
            font-size: 45px;
        }

        .subtext {
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
        }
    }

    .half-slice {
        width: 590px;
        display: inline-block;
    }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.full-center,
.vertical-center,
.modal-vertical-center {
    display: none;
}

.corner {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0 0 120px;
    border-color: transparent transparent transparent #ffffff;
    color: #444;
    position: fixed;
    bottom: 0;
    left: 0;

    .add-server {
        position: absolute;
        top: -64px;
        left: -107px;
        width: 71px;
        font-size: 18px;
        line-height: 18px;
        color: #B5BED1;
        font-family: museo-sans-rounded, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .add-server:hover {
        text-decoration: none;
    }
}

#beta-ribbon {
    position: absolute;
    left: -60px;
    top: -8px;
    height: 100px;
}

#sponsor-link {
    position: fixed;
    top: 400px;
    left: -84px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 9000;

    a {
        color: #fff;
        background: #F1CE42;
        font-size: 20px;
        padding: 13px 15px 17px;
        font-family: 'museo-sans-rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;

        i {
            margin-right: 10px;
        }
    }
}

#sponsor-link a:hover {
    background: #FCDF6B;
    text-decoration: none;
}

#load-more {
    text-align: center;
    margin: 20px auto 60px;
    font-size: 22px;
    display: none;
    padding: 18px 0;
    width: 190px;
    line-height: 22px;
}

#scroll-top {
    background: #222;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: .9;
    padding: 16px 18px;
    line-height: 10px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}

#scroll-top:hover {
    opacity: .8;
}

#scroll-bottom {
    background: #222;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 16px 18px;
    line-height: 10px;
    z-index: 1000;
    cursor: pointer;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
}

#scroll-bottom:hover {
    opacity: .8;
}

#progress {
    display: none;
    width: 470px;
    z-index: 3000;

    .counts {
        position: absolute;
        right: 20px;
        color: #fff;
    }
}

#sponsor-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #eee;
    font-weight: 300;
    z-index: 1000;
    font-size: 11px;

    .feature {
        font-weight: 700;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.3);
        color: #FFF;
        padding: 12px 15px;
        letter-spacing: -1px;
        -moz-transition: background 500ms;
        -o-transition: background 500ms;
        -webkit-transition: background 500ms;
        transition: background 500ms;

        .fa {
            color: #FFEB00;
            font-size: 20px;
            margin-right: 5px;
        }
    }

    .status {
        background: hsl(212, 12%, 18%);

        .header {
            font-weight: 700;
            font-size: 14px;
            padding: 5px 10px;
            background: hsl(212, 92%, 28%);
        }

        table {
            table-layout: fixed;

            .title {
                padding: 5px 15px;
                color: #ccc;
            }

            .amount {
                border-left: 2px solid #333;
                padding: 5px 15px;

                span {
                    color: #a5d5f1;
                }
            }

            .feature {
                font-weight: 600;
                font-size: 16px;
                padding: 5px 10px;
            }
        }
    }
}

#sponsor-panel:hover {
    text-decoration: none;

    .feature {
        background: rgba(255, 255, 255, 0.3);
    }
}

.blur {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.7;
}

.nano > .nano-pane {
    width: 6px;
}

/*****************************************************************************************************/
// Header
/*****************************************************************************************************/

header {
    background: hsl(230, 93%, 30%);
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1030;

    .fa {
        font-size: 20px;
        margin: 0;
    }

    #nav-bar {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 1180px;
        position: relative;

        #logo {
            float: left;
            text-decoration: none !important;

            img {
                margin-top: 12px;
                height: 45px;
            }

            span {
                display: block;
                font-size: 11px;
                color: #fff;
                margin-top: -6px;
                margin-left: 8px;
            }
        }

        .social {
            overflow: hidden;
            margin-left: 65px;
            height: 65px;
            float: left;
            margin-top: 25px;

            .fb {
                width: 100px;
                float: left;
            }

            .gp {
                width: 100px;
                float: left;
            }
        }

        nav {
            font-family: museo-sans-rounded, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 26px;
            font-weight: 400;
            float: left;
            padding: 0;

            ul {
                padding: 0;
                list-style-type: none;
                margin-bottom: 0;

                li {
                    float: left;
                    text-align: center;

                    .tab {
                        padding: 24px 25px;
                        display: inline-block;
                        position: relative;
                        margin: 0;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        line-height: 22px;
                        color: #fff;
                        font-size: 24px;
                        font-weight: 400;
                        text-decoration: none;
                        -moz-transition: all 50ms ease;
                        -o-transition: all 50ms ease;
                        -webkit-transition: all 50ms ease;
                        transition: all 50ms ease;

                        span {
                            display: block;
                            text-align: center;
                            font-size: 12px;
                            text-transform: none;
                            text-shadow: none;
                            height: 18px;
                        }
                    }

                    .tab:hover {
                        background-color: rgba(0,0,0,.1);
                    }

                    .tab.selected {
                    }

                    .tab.servers {
                        background-color: hsl(220, 82%, 41%);
                    }

                    .tab.community {
                        background-color: hsl(220, 82%, 41%);
                    }

                    .tab.events {
                        background-color: hsl(220, 82%, 41%);
                    }

                    .tab.editorials {
                    }

                    .tab.labs {
                    }
                }

                .open .dropdown-toggle,
                .open .dropdown-toggle,
                li.dropdown.open.active > a:hover,
                li.dropdown.open.active > a:focus {
                    background-color: rgba(255, 255, 255, 0.10);
                    color: #fff;
                }

                .dropdown-menu a {
                    color: #000;
                }
            }
        }

        ul.dropdown-menu {
            border-top-color: transparent;

            li {
                float: none;

                a {
                    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    min-width: 140px;
                    text-shadow: none;
                    text-decoration: none;
                    padding: 12px 20px;
                    display: block;
                    text-align: left;
                }

                .add-event i {
                    color: #BF1818;
                }

                .add-server i {
                    color: #378CE1;
                }

                a:hover {
                    background-image: none;
                    background-color: hsl(230, 93%, 30%);
                    color: #fff;
                }
            }
        }

        ul.dropdown-menu.pull-left {
            margin-left: 47px;
        }

        #login-button {
            float: right;

            .nav {
                margin-bottom: 0;
            }

            a.btn {
                background-color: transparent;
                font-size: 20px;
                font-weight: bold;
                margin: 0;
                padding: 25px 23px;
                border-radius: 0;
            }

            a.btn:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            a.dropdown-toggle {
                background: transparent !important;
                padding: 0 0 0 47px;
                margin: 0;
                font-size: 22px;
                border-radius: 0;
                color: #fff;
                text-decoration: none;
                display: block;
            }

            .dropdown-menu {
                border-top-color: transparent;
            }
        }

        #user-menu {

            .face {
                width: 70px;
                height: 70px;
            }

            .face.highlighted {
                opacity: .8;
            }

            .caret {
                margin: 36px -16px 0 8px;
                border-top-color: #fff;
                border-bottom-color: #fff;
            }
        }

        #docs-menu {
            .caret {
                margin: 10px -5px 0 10px;
                border-top-color: #fff;
                border-bottom-color: #fff;
            }
        }
    }
}

/*****************************************************************************************************/
// Auth
/*****************************************************************************************************/

#authcombo {
    width: 340px;
    text-align: center;
    padding: 20px 0 30px;
    background: #f7f7fa;
    color: #3D3D3D;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    transition: opacity 2s linear;

    .spinner {
        margin: 20px auto 0;
    }

    .logo {
        margin-top: 4px;
        width: 255px;
    }

    .done {
        padding: 25px 0 20px;
        color: #fff;
        line-height: 0;
    }
}

#authcombo.login {
    .groups {
        clear: both;
        display: inline-block;

        .control-group {
            margin-bottom: 0;
        }
    }

    .register-copy,
    .forgot-pass-copy {
        margin: 10px 0 15px;
        padding: 0 20px;
    }

    .alert {
        margin-top: 15px;
        margin-bottom: 15px;
        display: none;
    }

    .actions {

        .link {
            display: block;
            margin-top: 15px;
        }

        .btn {
            width: 234px;
        }
    }
}

#authcombo.register {

    .control-group {
        margin-bottom: 0;
    }

    .welcome-copy {
        margin: 10px 0 15px;
        padding: 0 20px;
    }

    .actions {
        margin: 20px auto 0;

        .btn {
            width: 234px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .alert {
        margin-top: 15px;
        display: none;
    }

    .captcha-image-wrapper {
        height: 44px;
        margin-bottom: 10px;
    }

    .check-wrapper {
        width: 234px;
        margin: 10px auto;

        .checkbox {
            display: inline-block;
            vertical-align: top;
            line-height: 20px;

            .icheckbox {
                margin-right: 8px;
            }
        }

        a {
            display: inline-block;
            vertical-align: top;
            line-height: 20px;
        }
    }
}

#authcombo.verify {
    padding: 20px 0 30px;

    .control-group {
        margin-bottom: 0;
    }

    .alert {
        margin-bottom: 0;
    }

    .verify-copy {
        margin: 10px 0 15px;
        padding: 0 20px;
    }

    .actions {
        margin: 20px auto 0;
    }

    .security {
        font-size: 11px;
        padding: 10px 20px 0;

        i {
            color: #fff;
            font-size: 14px;
            margin-right: 4px;
        }

        p {
            margin-top: 5px;
            font-size: 10px;
        }
    }


    .minecraft-verify {
        background: url(../images/grass-bg.png);
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

#authcombo.spinner {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .combo,
    .logo {
        display: none;
    }
}

/*****************************************************************************************************/
// Account
/*****************************************************************************************************/

#account-container {
    margin-top: 130px;
}

#email-settings {
    .icheckbox {
        margin: 4px 10px 0 0;
    }
}

/*****************************************************************************************************/
// Add Server
/*****************************************************************************************************/

#add-server {
    #Address {
        width: 270px;
    }

    #Port {
        width: 80px;
    }

    .download-label {
        width: 110px;
    }

    .download-url {
        width: 240px;
    }

    .whitelist-url {
        input {
        }
    }

    .button-row {
        padding-top: 10px;
    }
}

/*****************************************************************************************************/
// Add Event
/*****************************************************************************************************/

#add-event {
    position: relative;
}

/*****************************************************************************************************/
// Add Event
/*****************************************************************************************************/

#claim-server {
    position: relative;

    .server {
        background: #5B0B81;
        padding: 10px;
        border-radius: 6px;
        text-align: center;
        border-bottom: 8px solid;

        .name {
            font-weight: bold;
            font-size: 18px;
            margin: 8px 0 10px;
            display: inline-block;
        }

        .btn {
            display: inline-block;
        }

        margin-bottom: 20px;
    }
}

/*****************************************************************************************************/
// Attendee List
/*****************************************************************************************************/

#attendee-list {
    margin: 130px auto 85px;

    .players {
        margin: 30px auto 20px;

        .player {
            padding: 10px 20px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

/*****************************************************************************************************/
// Settings
/*****************************************************************************************************/

#settings {
    position: absolute;
    right: 0;
    bottom: -68px;

    .fa {
        color: #fff;
        font-size: 30px;
    }

    .btn {
        background: none;
        box-shadow: none !important;
    }

    .checkbox {
        padding: 12px;
        color: #333;
    }
}

// ********************************************************************************************************************* MEDIA QUERIES

// on an ipad

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    // responsive nav

    #nav-bar {
        width: 100% !important;

        #logo {
            margin-left: 20px;
        }
    }

    header .page-container #user-menu .caret {
        display: none;
    }
}

// on an ipad in landscape

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    header .page-container nav ul li a {
        padding: 25px 19px;
        font-size: 22px;
    }
}

// on an ipad in portrait

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    // smaller nav items

    header .page-container nav ul li a {
        padding: 24px 16px;
    }
}
