#stub-title {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  position: relative;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);
}
#stub-title .name {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  padding: 40px 0 30px;
  color: #fff;
  margin: 0;
}
#create-stub #Address {
  width: 220px;
}
#create-stub #Port {
  width: 80px;
}
#listing {
  min-height: 760px;
}
#listing .buttons {
  text-align: right;
  min-width: 150px;
}
#listing .center {
  text-align: center;
}
#listing .claimed {
  color: #5BAD25;
}
#listing .name {
  max-width: 300px;
}
#listing .nav {
  padding: 15px 30px 0;
}
