﻿
#stub-title {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    position: relative;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.25);

    .name {
        font-size: 80px;
        line-height: 80px;
        //text-shadow: 1px 3px 0 rgba(0,0,0,0.2);
        font-weight: bold;
        padding: 40px 0 30px;
        color: #fff;
        margin: 0;
    }
}

#create-stub {
    #Address {
        width: 220px;
    }

    #Port {
        width: 80px;
    }
}

#listing {
    min-height: 760px;

    .buttons {
        text-align: right;
        min-width: 150px;
    }

    .center {
        text-align: center;
    }

    .claimed {
        color: #5BAD25;
    }

    .name{
        max-width: 300px;
    }

    .nav {
        padding: 15px 30px 0;
    }
}
