﻿@model MinecraftCubed.Web.ViewModels.Stub_.CreateEventModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = null;
}

<div id="create-event" class="box small">

    @using (Html.AjaxForm("CreateEvent", "Stub", "#create-event", "UI.showLoader", "OnSubmit.reload"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Create Event</h2>
        @Html.AlertRibbon("flush-wide")
        
        <div class="content">
            <fieldset>
                <label>Your event's title</label>
                @Html.TextBoxFor(m => m.Name, new { placeholder = "My awesome event!", @class = "input-block-level" })

                <label>The server that will host the event</label>
                @Html.DropDownListFor(m => m.Identifier, Model.ServerNameList, null, new { @class = "input-block-level" })
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Create</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#create-event', false, false);
        }
    </script>
</div>


