﻿@model MinecraftCubed.Web.ViewModels.Stub_.CreateStubModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = null;
}

<div id="create-stub" class="box small">

    @using (Html.AjaxForm("CreateStub", "Stub", "#create-stub", "UI.showLoader", "OnSubmit.reload"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Create Server</h2>
        @Html.AlertRibbon("flush-wide")
        
        <div class="content">
            <fieldset>
                <label>The server's name</label>
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Minecraft Server", @class = "input-block-level" })

                <div class="horizontal-group">
                    <div class="left-control">
                        <label>Address (or IP)</label>
                        @Html.TextBoxFor(m => m.Address, new { placeholder = "play.myserver.com", @class = "input-block-level" })
                    </div>
                    <div class="right-control">
                        <label>Port</label>
                        @Html.TextBoxFor(m => m.Port, new { placeholder = "25565", @class = "input-block-level" })
                    </div>
                </div>

                <label>Websit or Contact</label>
                @Html.TextBoxFor(m => m.Contact, new { placeholder = "Url/Email", @class = "input-block-level" })
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Create</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#create-stub');
        }
    </script>
</div>


