﻿@model MinecraftCubed.Web.ViewModels.Stub_.StubModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Stub Manager";
}
@section Head
{
    @Scripts.Render("~/content/scripts/stub")
    @Styles.Render("~/content/css/stub")
}

<div id="stub-title" class="title-bg">
    <h1 class="name">Stub Manager</h1>
</div>

<div class="page-container box-container">
    @{ Html.RenderAction("CreateStub", "Stub"); }
    @{ Html.RenderAction("Listing", "Stub"); }
    @{ Html.RenderAction("CreateEvent", "Stub"); }
</div>