﻿@model MinecraftCubed.Web.ViewModels.Stub_.ListingModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = null;
}

<div id="listing" class="box med">
    <ul class="nav nav-tabs" id="tabs">
        @for (var i = 0; i < Model.Editors.Count; i++)
        {
            var editor = Model.Editors[i];

            <li class="@(editor.User.Username.Equals(Model.ActiveUsername) ? "active" : "")"><a data-toggle="tab" href="#@editor.User.Username">@editor.User.Username</a></li>
        }
    </ul>

    <div class="tab-content">
        @for (var i = 0; i < Model.Editors.Count; i++)
        {
            var editor = Model.Editors[i];

            <div class="tab-pane @(editor.User.Username.Equals(Model.ActiveUsername) ? "active" : "")" id="@editor.User.Username">
                <h2>Servers</h2>
                <div class="inner">
                    <table class="table table-hover sorted">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th class="center">
                                    Website
                                </th>
                                <th class="center">
                                    Created
                                </th>
                                <th class="center">
                                    Claim Link
                                </th>
                                <th class="center">
                                    Enabled
                                </th>
                                <th class="buttons" data-defaultsort='disabled'>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stub in editor.Stubs)
                            {
                                <tr class="parent">
                                    <td class="name">
                                        @stub.Server.Name
                                    </td>
                                    <td class="center">
                                        @if (stub.IsLinkContact())
                                        {
                                            <a href="@stub.Contact">[website]</a>
                                        }
                                        else
                                        {
                                            @stub.Contact
                                        }
                                    </td>
                                    <td class="center">
                                        @stub.CreationTime.ToShortDateString()
                                    </td>
                                    <td class="center claimed">
                                        @if (stub.Claimed)
                                        {
                                            @:Claimed @stub.GetClaimedShortDateString()
                                        }
                                        else
                                        {
                                            <a target="_blank" href="@stub.GetClaimUrl()">[claim link]</a>
                                        }
                                    </td>
                                    <td class="center">
                                        @if (stub.Server.Enabled)
                                        {
                                            <i class="fa fa-check"></i>
                                        }
                                    </td>
                                    <td class="buttons">
                                        @if (!stub.Claimed)
                                        {
                                            <a class="btn btn-primary btn-tiny" href="/server/@stub.Server.Identifier" target="_blank">View</a>
                                            <a class="btn btn-primary btn-tiny" href="/edit/server/@stub.Server.Identifier" target="_blank">Manage</a>
                                            <a data-id="@stub.StubId" class="delete-link-hold btn btn-red btn-tiny" data-url="delete/stub" data-key="@stub.Server.Identifier"><i class="fa fa-trash-o"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <h2>Events</h2>

                <div class="inner">
                    <table class="table table-hover sorted">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Server
                                </th>
                                <th class="center">
                                    Event Dates
                                </th>
                                <th class="center">
                                    Created
                                </th>
                                <th class="right" data-defaultsort='disabled'>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stub in editor.Events)
                            {
                                <tr class="parent">
                                    <td>
                                        @stub.Name
                                    </td>
                                    <td>
                                        @stub.Server.Name
                                    </td>
                                    <td class="center">
                                        @stub.EventDates.Count()
                                    </td>
                                    <td class="center">
                                        @stub.CreationTime.ToShortDateString()
                                    </td>
                                    <td class="right">
                                        <a class="edit-button btn btn-primary btn-tiny" href="/edit/event/@stub.EventIdentifier" target="_blank">Edit</a>
                                        <a data-id="@stub.EventId" class="delete-link-hold btn btn-red btn-tiny" data-url="delete/event" data-key="@stub.EventIdentifier"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>