﻿@model MinecraftCubed.Web.ViewModels.Account.ChangePasswordModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = null;
}

<div id="change-password" class="box small">

    @using (Html.AjaxForm("ChangePassword", "Account", "#change-password", "UI.showLoader", "UI.hideLoader"))
    {
        <h2>Change Password</h2>
        @Html.AlertRibbon("flush-wide")
        
        <div class="content">
            <fieldset>
                <label>Enter your new password</label>
                <input asp-for="Password" type="password" placeholder="Password" class="input-block-level"/>
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="input-block-level"/>
            </fieldset>

        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#change-password');
        }
    </script>
</div>