﻿@model MinecraftCubed.Web.ViewModels.Account.EmailSettingsModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = null;
}

<div id="email-settings" class="box small">

    @using (Html.AjaxForm("EmailSettings", "Account", "#email-settings", "UI.showLoader", "UI.hideLoader"))
    {
        <h2>Email Settings</h2>
        @Html.AlertRibbon("flush-wide")

        <div class="content">
            <fieldset>
                <label>Your stored email address</label>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", type = "email", @class = "input-block-level" })
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.ReceiveEventNotifications)
                    Receive email notifications when the events you signed up for are about to start. 
                </label>
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#email-settings');
        }
    </script>
</div>