﻿@using Amazon.DirectConnect.Model
@using MinecraftCubed.Static
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.Account.VerifyAccountModel
@{
    Layout = null;
}


@if (!Html.HasRole(UserRole.User))
{
    <div id="verify-account" class="box small">
        <h2> Verify your Account</h2>

        <div class="content">
            <fieldset>
                <p>
                    Verify you account to gain higher permissions like the ability to like and rate servers.
                </p>
            </fieldset>
            <fieldset>
                <label><b>Verification is easy</b></label>
                <p>
                    <ol>
                        <li>
                            Join the <code>verify.minecraftcubed.net</code> server using Minecraft Multiplayer
                        </li>
                        <li>
                            Then type <code>/verify</code> in the chat.
                        </li>
                    </ol>
                </p>
            </fieldset>
        </div>
    </div>
}
else
{
    <div id="verify-account" class="box green small">
        <h2> <i class="fa fa-check-circle"></i> Account Verified</h2>

        <div class="content">
            <fieldset>
                <p>
                    Your account is verified!  You have extra permissions.
                </p>
            </fieldset>
        </div>
    </div>
}