﻿@using MinecraftCubed.Common.Helpers
@using MinecraftCubed.Domain.Context
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.Claim.ClaimModel
@{
    ViewBag.Title = "Claim Server";
}
@section Head
{
    <!-- Server colors -->
    <style>
        .color-border { border-color: @ColorHelper.Darken(Model.Server.Color.Header, 8) !important }
        .color-header { background: @Model.Server.Color.Header !important; }
    </style>
}

<div class="page-container">
    <div id="claim-server" class="box small first modal-vertical-center">

        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "loader-on-submit" }))
        {
            <h1>Claim Server</h1>
            @Html.AlertRibbon("flush-wide")
            @Html.HiddenFor(x => x.AccessCode)
            @Html.AntiForgeryToken()

            <fieldset>
                <div class="server autocolorhover color-border color-header">
                    <img src="@Model.BannerUrl"/>
                    <div data-light="rgba(0, 0, 0, 0.85)" data-dark="rgba(255, 255, 255, 1)" class="name autocolor">@Model.Server.Name</div>
                    <div class="go"><a target="_blank" href="/server/@Model.Server.Identifier" class="btn btn-small btn-hollow">Click to View</a></div>
                </div>
                <p>
                    Fill this form out to create an Admin account and take control of this server listing.
                </p>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Username, new { @class = "input-block-level", placeholder = "Minecraft Username", tabindex = 1 })
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", placeholder = "Email", type = "Email", tabindex = 2 })
                </div>
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", placeholder = "Password", tabindex = 3 })
                </div>
            </fieldset>

            <div class="button-row clearfix">
                <a id="register-submit" class="btn btn-primary" onclick="Auth.RegisterAjax();" tabindex="4">Claim Server</a>
            </div>
        }
        <script>
            @if (Model.RefreshUI)
            {
                @:UI.refresh('#claim-server');
            }
            AutoColor.refresh();
        </script>
    </div>
</div>
