﻿@using MinecraftCubed.Common
@{
    Layout = "";
}

<a class="btn btn-primary btn-large" href="@Settings.Website?open=login" onclick="Auth.ShowLoginModal(); return false;"><i class="fa fa-user"></i> Login</a>
