﻿@{
    Layout = "";
}
@*

    <div id="settings" class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-cog"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <label class="checkbox toggle-bg">
                    <input type="checkbox" /> <span class="copy">Hide Background</span>
                </label>
            </li>
            <li>
                <label class="checkbox toggle-flip">
                    <input type="checkbox" /> <span class="copy">Auto Flip Cards</span>
                </label>
            </li>
            <li>
                <label class="checkbox toggle-unflip">
                    <input type="checkbox" /> <span class="copy">Auto UnFlip Cards</span>
                </label>
            </li>
        </ul>
    </div>

*@