﻿@model MinecraftCubed.Web.ViewModels.User_.UserNavModel
@using MinecraftCubed.Static
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = "";
}

<ul id="user-menu" class="nav nav-pills">
    <li class="dropdown">
        <a id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown">
            <img class="face" src="@Model.FaceUrl" /><b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
            @if (Html.HasRole(UserRole.SysAdmin))
            {
                <li>
                    <a href="@Url.Action("Index", "Admin")"><i class="fa fa-fw fa-university"></i> Admin Panel</a>
                </li>
            }

            @if (Html.HasRole(UserRole.Editor))
            {
                <li>
                    <a href="@Url.Action("Index", "Stub")"><i class="fa fa-fw fa-database"></i> Stub Manager</a>
                </li>

                <li class="divider"></li>
            }
            
            @if (Model.ManagedServers.Count > 1)
            {
                <li class="dropdown-submenu">
                    <a onclick="return false"><i class="fa fa-fw fa-th-large"></i>View Servers</a>
                    <ul class="dropdown-menu">

                        @foreach (var server in Model.ManagedServers)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Server", new { identifier = server.Identifier })">@server.Name</a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else if (Model.ManagedServers.Count == 1)
            {
                <li>
                    <a href="@Url.Action("Index", "Server", new { identifier = Model.ManagedServers.First().Identifier })"><i class="fa fa-fw fa-th-large"></i>View Server</a>
                </li>
            }
            
            @if (Model.ManagedServers.Count > 1)
            {
                <li class="dropdown-submenu">
                    <a onclick="return false"><i class="fa fa-fw fa-edit"></i>Manage Servers</a>
                    <ul class="dropdown-menu">

                        @foreach (var server in Model.ManagedServers)
                        {
                            <li>
                                <a href="@Url.Action("Index", "EditServer", new { identifier = server.Identifier })">@server.Name</a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else if (Model.ManagedServers.Count == 1)
            {
                <li>
                    <a href="@Url.Action("Index", "EditServer", new { identifier = Model.ManagedServers.First().Identifier })"><i class="fa fa-fw fa-edit"></i>Manage Server</a>
                </li>
            }

            @if (Model.ManagedServers.Count > 0)
            {

                if (Model.ManagedEvents.Count > 1)
                {
                    <li class="dropdown-submenu">
                        <a onclick=" return false "><i class="fa fa-fw fa-edit"></i>Manage Events</a>
                        <ul class="dropdown-menu">

                            @foreach (var eve in Model.ManagedEvents)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "EditEvent", new {eventIdentifier = eve.Identifier})">@eve.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else if (Model.ManagedEvents.Count == 1)
                {
                    <li>
                        <a href="@Url.Action("Index", "EditEvent", new { eventIdentifier = Model.ManagedEvents.First().Identifier })"><i class="fa fa-fw fa-edit"></i>Manage Event</a>
                    </li>
                }
            }

            <li class="divider"></li>

            <li>
                <a href="@Url.Action("Index", "Account")"><i class="fa fa-fw fa-cog"></i>Preferences</a>
            </li>
            <li>
                <a href="@Url.Action("Logout", "Auth")" onclick="Auth.Logout()"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </li>
</ul>
