﻿<div data-bind="attr: { class: 'event ' + ColorClass + ' ' + EventDateId}, css:{ hasAttendees: Attendees().length > 0}" itemscope itemtype="http://schema.org/Event">
    <div class="card">
        <div class="front hidden">
            <!-- ko if: Started -->
            <div class="hasstarted-wrapper">
                <div class="hasstarted">
                    Started!
                </div>
            </div>

            <!-- ko if: HasDownload || HasWhitelist || HasRules-->
            <div class="panel hasstarted">
                <div class="requirements">
                    <div class="buttons">
                        <!-- ko if: HasDownload -->
                        <div>
                            <a class="btn" data-bind="attr:{href: DownloadUrl}"><i class="fa fa-cloud-download"></i> Get <span data-bind="html: DownloadLabel"></span></a>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: HasWhitelist -->
                        <div>
                            <a class="btn" target="_blank" data-bind="attr:{href: WhitelistUrl}"><i class="fa fa-check-square-o"></i> Get Whitelisted</a>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: HasRules -->
                        <div>
                            <a class="btn" target="_blank" data-bind="attr:{href: RulesUrl}"><i class="fa fa-book"></i> How to Play</a>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="serverip">
                <div class="wrap">
                    <h3 class="titular">Come play</h3>
                    <div>
                        <a class="server" target="_blank" data-bind="html: ServerName, attr:{ href: ServerUrl}"></a>
                    </div>
                    <div class="ip" data-bind="html: FullIP"></div>
                    <div class="version">MC <span data-bind="html: Version"></span></div>
                </div>
            </div>

            <!-- /ko -->
            <!-- ko ifnot: Started -->
            <div class="attend-wrapper">
                <div class="attend">
                    <label class="checkbox">
                        <input type="checkbox" class="checkbox" name="attending" value="Car" /> Attending
                    </label>
                </div>
            </div>
            <div class="panel">
                <div class="requirements">
                    <div class="tagline">You will receive <a target="_blank" href="/preferences"><i class="fa fa-fw fa-cog"></i>email alerts</a> <br />before the event starts.</div>
                    <div class="buttons">
                        <!-- ko if: HasDownload -->
                        <div>
                            <a class="btn btn-white" data-bind="attr:{href: DownloadUrl}"><i class="fa fa-cloud-download"></i> Get <span data-bind="html: DownloadLabel"></span></a>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: HasWhitelist -->
                        <div>
                            <a class="btn btn-white" target="_blank" data-bind="attr:{href: WhitelistUrl}"><i class="fa fa-check-square-o"></i> Get Whitelisted</a>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: HasRules -->
                        <div>
                            <a class="btn btn-white" target="_blank" data-bind="attr:{href: RulesUrl}"><i class="fa fa-book"></i> How to Play</a>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- ko if: HasAttendeeWhitelist -->
                <div class="attendee-whitelist">Check <strong>Attending</strong> before <br> the event starts to get whitelisted.</div>
                <div class="attendee-whitelist-enabled">You are now whitelisted.</div>
                <!-- /ko -->
            </div>

            <div class="startsin">
                <p>Starts</p>
                <time data-bind="attr: { 'data-livestamp': StartDate }"></time>
                <small>Connection info shown here <br /> an hour before it starts</small>
            </div>
            <!-- /ko -->
        </div>
        <div class="back">
            <div class="timebar">
                <!-- ko if: Started -->
                <i class="fa fa-flag-checkered"></i>
                <!-- /ko -->
                <!-- ko ifnot: Started -->
                <i class="fa fa-clock-o"></i>
                <!-- /ko -->

                <meta itemprop="startDate" data-bind="attr:{ content: StartDate }" />
                <div class="time">
                    <!-- ko if: Started -->
                    <div>Started</div><time class="started"></time><br />ends <time class="ends"></time>
                    <!-- /ko -->
                    <!-- ko if: Soon -->
                    <div>Starts</div><time class="soon"></time>
                    <!-- /ko -->
                    <!-- ko if: Today -->
                    <div>Starts</div><time class="soon"></time>
                    <!-- /ko -->
                    <!-- ko if: ThisWeek -->
                    <div>Starts</div><time class="soon"></time>
                    <!-- /ko -->
                    <!-- ko if: Future -->
                    <div>Starts</div><time class="soon"></time>
                    <!-- /ko -->
                </div>
            </div>

            <div class="banner-wrapper">
                <img class="banner" draggable="false" data-bind="attr: { src : BannerUrl }" />
            </div>

            <div class="body">
                <div class="names">
                    <h1 class="name" data-bind="html: Name" itemprop="name"></h1>
                    <div class="description nano">
                        <p class="nano-content" data-bind="html: Description" itemprop="description"></p>
                    </div>
                    <table class="info">
                        <tr>
                            <td><time class="today" data-bind="html: FormattedDate"></time></td>
                            <td><span class="dur tip" title="Duration"><span data-bind="html: LengthInHours"></span> hours</span></td>
                        </tr>
                        <tr>
                            <td><a class="server" target="_blank" data-bind="html: ServerName, attr:{ href: ServerUrl}"></a></td>
                            <td>
                                <div class="sect">
                                    <div class="f16 tip" data-bind="css: CountryAbbreviation, attr: {title: CountryName}"></div>
                                    <div class="language tip" data-bind="html: Language, attr: {title: CountryName}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- ko if: Attendees().length > 0 -->
                <div class="attendees">
                    <div>
                        <div class="title">
                            <span data-bind="html: Attendees().length"></span> players attending
                        </div>
                    </div>
                    <div class="heads nano clearfix">
                        <div class="nano-content" data-bind="foreach: Attendees">
                            <img class="head tip" data-bind="attr: { src: HeadUrl, title: Name }" />
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>