﻿<div class="server" data-offset="300" data-bind="css: { big: IsBig }" itemscope itemtype="http://schema.org/Organization">
    <div class="card">
        <div class="front">
        </div>
        <div class="back no-visibility">
            <div class="index" data-bind="html: Index"></div>

            <a class="server-link" target="_blank" data-bind="attr: { href: PageUrl }">
                <!-- ko if: NeedsName() -->
                <div class="server-name" data-bind="html: Name" itemprop="name"></div>
                <!-- /ko -->
                <!-- ko if: IsBig -->
                <div class="featured-banner-wrapper">
                    <img class="banner" draggable="false" data-bind="attr: { src: FeaturedBannerUrl, alt: AltTag }" />
                </div>
                <!-- /ko -->
                <!-- ko ifnot: IsBig -->
                <img class="banner" draggable="false" data-bind="attr: { src: BannerUrl, alt: AltTag }" />
                <!-- /ko -->
                <!-- ko ifnot: NeedsName() -->
                <div class="server-name low" data-bind="html: Name" itemprop="name"></div>
                <!-- /ko -->
            </a>

            <div class="details">
                <div class="front metrics" data-bind="css: { offline: IsOffline }">
                    <div class="block" data-bind="css: { highlight: isHighlighted('online') }">
                        <div class="count online" data-bind="html: OnlineCount"></div>
                        <div class="title">Players<br />Online</div>
                    </div>
                    <div class="block" data-bind="css: { highlight: isHighlighted('peak') }">
                        <div class="count" data-bind="html: PeakPlayerCount"></div>
                        <div class="title">Peak Players Last 30 Days</div>
                    </div>
                    <div class="block" data-bind="css: { highlight: isHighlighted('average') }">
                        <div class="count">
                            <span class="sparkline"></span>
                        </div>
                        <div class="title">Players Last<br />24 Hours</div>
                    </div>
                    <div class="block" data-bind="css: { highlight: isHighlighted('uptime') }">
                        <div class="count">
                            <span class="sparkline-bar"></span>
                        </div>
                        <div class="title">Uptime Last<br />7 Days</div>
                    </div>
                    <div class="block knob" data-bind="css: { highlight: isHighlighted('activity') }">
                        <input data-bind="value: Activity"/>
                        <div class="title">Activity</div>
                    </div>
                    <div class="block localization">
                        <div data-bind="attr: { class: FlagClass }"></div>
                        <div class="country" data-bind="html: CountryName"></div>
                        <div class="language" data-bind="html: LanguageName"></div>
                    </div>
                    <div class="block ping" data-bind="css: { highlight: isHighlighted('ping') }">
                        <div class="count ping-label" data-bind="html: Ping, css: { offline : IsOffline}"></div>
                        <div class="title">
                            <button class="btn btn-info btn-small ping-button" data-bind="click: ping, attr: { disabled: IsOffline }, css: { green: HasPing }, html: PingCopy">Ping</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>