﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.ApiKeyModel
@{
    Layout = null;
}

<div id="api-key" class="box small">

    @using (Html.AjaxForm("ApiKey", "EditServer", "#api-key", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>API Key</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">You will need this key if you want to use the API to make any POST/PUT/DELETE requests. </div>
            <fieldset>
            <div class="key">@Model.Key</div>
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Regenerate</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#api-key');
        }
    </script>
</div>


