﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.BannersModel
@{
    Layout = null;
}

<div id="banners" class="box small">

    @using (Html.AjaxForm("Banners", "EditServer", "#banners", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Banner</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>This is the banner that will be displayed on the server list.  You can use a 573x73 or a 468x60 banner, the larger one is preferred. </p>
                <p><b>Note:</b> Animated gifs will be flattened to a png using a random frame.</p>
            </div>
            <fieldset >
                <div id="banner-uploader"></div>
            </fieldset>
            <fieldset class="tiny-banners">
                @if (Model.HasBanner)
                {
                    <div class="tiny-banner">
                        <a  data-id="@Model.Identifier" class="delete-link" data-url="delete/server/banner" data-key="@Model.Identifier">&times;</a>
                        <img src="@Model.Url" />
                    </div>
                }
            </fieldset>
        </div>
    }
    <script>
        UI.setupUploader('#banner-uploader', "upload/server/banner", '@Model.Identifier');

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#banners', true);
        }
    </script>
</div>


