﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.CarouselModel
@{
    Layout = null;
}

<div id="carousel" class="box small">

    @using (Html.AjaxForm("Carousel", "EditServer", "#carousel", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Images & Videos</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                This is where you show off your server.  These images and videos will be displayed across the top of your server's page in a carousel.  It's a good place to show players what your server is like, at minimum you should have a shot of your server spawn as the first image.  *High resolution images/videos are recommended.
            </div>
            <fieldset>
                <legend>Images</legend>
                <p>The images can be any size, the bigger the better.  You can add as many as you like.</p>
                <div id="hero-uploader"></div>
            </fieldset>
            <fieldset class="tiny-banners sortable" data-url="reorder/carousel">
                @for (var i = 0; i < Model.Urls.Count(); i++)
                {
                    <div data-id="@Model.Urls[i].Id" class="tiny-banner">
                        <a data-id="@Model.Urls[i].Id" class="delete-link" data-url="delete/carousel" data-key="@Model.Urls[i].Value">&times;</a>
                        <img src="@Model.Urls[i].Value" />
                        @Html.HiddenFor(x => x.Urls[i].Id)
                        @Html.TextAreaFor(x => x.Urls[i].Extra, new { placeholder="Caption (optional)"})
                    </div>
                }
            </fieldset>

            <fieldset>
                <span class="help-block">Drag and drop the items to reorder them.</span>
            </fieldset>

            <div class="button-row clearfix">
                <button type="submit" class="btn btn-large btn-primary">Save Captions</button>
            </div>
            <hr />
            <fieldset>
                <legend>Videos</legend>
                <p>These are youtube or vimeo videos will be added to the end of the carousel after all the images.</p>

                <label>Youtube Url</label>
                
                <div class="horizontal-group">
                    <div class="left-control">
                        @Html.TextBoxFor(m => m.VideoUrl, new { placeholder = "http://youtube.com/watch?v=zZGNk8pUj4Y", @class = "input-block-level no-chevron", type = "url" })
                    </div>
                    <div class="right-control">
                        <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                
            </fieldset>
            <fieldset class="tiny-videos sortable" data-url="reorder/videos">
                @for (var i = 0; i < Model.VideoThumbnailUrls.Count(); i++)
                {
                    <div data-id="@Model.VideoThumbnailUrls[i].Id" class="tiny-video">
                        <a data-id="@Model.VideoThumbnailUrls[i].Id" class="delete-link" data-url="delete/video" data-key="@Model.VideoThumbnailUrls[i].Value">&times;</a>
                        <img src="@Model.VideoThumbnailUrls[i].Value" />
                        @Html.HiddenFor(x => x.VideoThumbnailUrls[i].Id)
                        @Html.TextAreaFor(x => x.VideoThumbnailUrls[i].Extra, new { placeholder = "Caption (optional)" })
                    </div>
                }
            </fieldset>

            <fieldset>
                <span class="help-block">Drag and drop the items to reorder them.</span>
            </fieldset>

            <div class="button-row clearfix">
                <button type="submit" class="btn btn-large btn-primary">Save Captions</button>
            </div>
            <hr />
            <fieldset>
                <legend>Options</legend>
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.ShuffleImages) Shuffle the images/videos every time the home page is loaded
                </label>
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.VideosFirst) Show videos before the images on carousel (by default images show first)
                </label>
            </fieldset>

            <div class="button-row clearfix">
                <button type="submit" class="btn btn-large btn-primary">Save</button>
            </div>

        </div>

    }
    <script>
        UI.setupUploader('#hero-uploader', "upload/carousel", '@Model.Identifier', true, true);

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#carousel', true);
            @:$('#VideoUrl').val('');
        }
    </script>
</div>
