﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.ColorsModel
@{
    Layout = null;
}

<div id="colors" class="box small">

    @using (Html.AjaxForm("Colors", "EditServer", "#colors", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Colors</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <fieldset>
                <div class="sep1 clearfix">
                    <label>Header Color</label>
                    @Html.TextBoxFor(m => m.Header, new { @class = "color show" })
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.IsDarkHeader)
                        White text
                    </label>
                    <div class="help-block">This is the top section of the page that holds your server's name and addresses.</div>
                </div>
                <div class="sep1 clearfix">
                    <label>Well Color</label>
                    @Html.TextBoxFor(m => m.Middle, new { @class = "color show" })
                    @*<i class="fa fa-question-circle fa-gray tip" title="The color for the description text can be changed in the 'Description' section."></i>*@
                    <div class="help-block">This is the middle section of the page that holds the image/video carousel and description.</div>
                    @*
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.IsDarkMiddle)
                        White text
                    </label>
                    <div class="help-block">This is the middle section of the page that holds the image carousel.</div>
                    *@
                </div>
                <div class="sep1 clearfix">
                    <label>Page Color</label>
                    @Html.TextBoxFor(m => m.Background, new { @class = "color show" })
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.IsDarkBackground)
                        White text
                    </label>
                    <div class="help-block">This is the color for the rest of the page (containing most of the content).</div>
                </div>
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#colors');
        }
    </script>
</div>


