﻿@using MinecraftCubed.Common.Helpers
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.ConnectionInfosModel
@{
    Layout = null;
}

<div id="connection-infos" class="box med" data-next="@Model.ConnectionInfos.Count">

    @using (Html.AjaxForm("ConnectionInfos", "EditServer", "#connection-infos", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Server Addresses</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>Here you can configure the different game server addresses your players can connect to.  This list will be made available to players as places where they can join to play. </p>
                <p><b>Note:</b> You cannot delete all of the address, you must always have at least one, obviously.  To change the lobby address/label, create a new one and then delete the old one.</p>
            </div>

            <fieldset>
                <div class="horizontal-group">
                    <div class="left-control name">
                        <label>Label</label>
                        @Html.TextBoxFor(m => Model.Name, new { placeholder = "Lobby", @class = "input-block-level" })
                    </div>
                    <div class="left-control address">
                        <label>Address</label>
                        @Html.TextBoxFor(m => Model.Address, new { placeholder = "play.myserver.com", @class = "input-block-level" })
                    </div>
                    <div class="right-control port">
                        <label>Port</label>
                        @Html.TextBoxFor(m => Model.Port, new { placeholder = "25565", @class = "input-block-level", spellcheck = "false" })
                    </div>
                </div>
            </fieldset>
            <fieldset class="toggle-box">
                <label class="checkbox toggle-check">
                    @Html.CheckBoxFor(m => Model.PlayReqHasDownload) The server requires a <strong>modpack, launcher, or other download</strong> to play.
                </label>
                <div class="horizontal-group toggle-bucket">
                    <div class="left-control download-label">
                        <label>What is it?</label>
                        @Html.TextBoxFor(m => Model.PlayReqDownloadLabel, new { placeholder = "Modpack", @class = "input-block-level" })
                    </div>
                    <div class="right-control download-url">
                        <label>The url where it can be downloaded</label>
                        @Html.TextBoxFor(m => Model.PlayReqDownloadUrl, new { placeholder = "http://modpack.com/downloads", @class = "input-block-level", type = "url" })
                    </div>
                    <span class="help-block">This will show as a <strong>Get Launcher</strong> button next to the server address. </span>
                </div>
            </fieldset>
            <fieldset class="toggle-box">
                <label class="checkbox toggle-check">
                    @Html.CheckBoxFor(m => Model.PlayReqHasWhitelist) This server requires players to sign up to a <strong>whitelist</strong> to play.
                </label>
                <div class="toggle-bucket whitelist-url">
                    <label>The url to the whitelist</label>
                    @Html.TextBoxFor(m => Model.PlayReqWhitelistUrl, new { placeholder = "http://myserver.com/whitelist", @class = "input-block-level", type = "url" })
                    <span class="help-block">This will show as a <strong>Get Whitelisted</strong> button next to the server address. </span>
                </div>
            </fieldset>
        </div>

        <div class="button-row middle clearfix">
            <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-plus"></i> Add</button>
        </div>
        <hr />
        <fieldset class="tiny-servers sortable" data-url="reorder/connectioninfos">
            @for (var i = 0; i < Model.ConnectionInfos.Count; i++)
            {
                <div data-id="@Model.ConnectionInfos[i].ConnectionInfoConnectionInfoId" class="tiny-server">
                    <div class="ip-wrapper">
                        <div class="input-wrapper">
                            <div class="title">@Model.ConnectionInfos[i].ConnectionInfoName</div>
                            <div id="ip">@Model.ConnectionInfos[i].GetFriendlyIp()</div>
                        </div>

                        @if (Model.ConnectionInfos[i].ConnectionInfoPlayReqHasWhitelist)
                        {
                            <a class="btn btn-small btn-info tip" target="_blank" href="@Model.ConnectionInfos[i].ConnectionInfoPlayReqWhitelistUrl" title="Get Whitelisted"><i class="fa fa-key"></i></a>
                        }
                        @if (Model.ConnectionInfos[i].ConnectionInfoPlayReqHasDownload)
                        {
                            <a class="btn btn-small btn-info tip" target="_blank" href="@Model.ConnectionInfos[i].ConnectionInfoPlayReqDownloadUrl" title="Get @Model.ConnectionInfos[i].ConnectionInfoPlayReqDownloadLabel"><i class="fa fa-download"></i></a>
                        }

                    </div>
                    <a data-id="@Model.ConnectionInfos[i].ConnectionInfoConnectionInfoId" class="delete-link" data-url="delete/connectioninfo" data-key="@Model.ConnectionInfos[i].ConnectionInfoIdentifier">&times;</a>
                </div>
            }
        </fieldset>
        <fieldset>
            <div class="help-block">
                <div>The first server on this list should be your lobby/main server. Drag and drop the items to reorder them.</div>
            </div>
        </fieldset>
    }
    <script>
        
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#connection-infos');
        }

        $('.checkbox-list', '#connection-infos').scrollTop($('.checkbox-list', '#connection-infos').prop("scrollHeight"));
    </script>
</div>
