﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.DescriptionModel
@{
    Layout = null;
}

<div id="description" class="box small sectioned">

    @using (Html.AjaxForm("Description", "EditServer", "#description", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Description</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <fieldset>
                <p>A sentence or two about your server (shows on header of server page). The editor uses <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax" title="Markdown Syntax">Markdown</a> syntax.</p>
                @Html.TextAreaFor(m => m.DescriptionText, new { @class = "input-block-level pagedown" })
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#description');
        }
    </script>
</div>
