﻿@using MinecraftCubed.Common
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.FeaturedBannersModel
@{
    Layout = null;
}

<div id="featured-banners" class="box small">

    @using (Html.AjaxForm("FeaturedBanners", "EditServer", "#featured-banners", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Featured Banner</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>
                    This bigger banner shown on the list when your server is featured. It should be size 573x248.
                </p>
                <p><b>Note:</b> Animated gifs will be flattened to a png using a random frame.</p>
            </div>
            <fieldset>
                <div id="featured-banner-uploader"></div>
            </fieldset>
            <fieldset class="tiny-banners">
                @if (Model.HasFeaturedBanner)
                {
                    <div data-id="@Model.Identifier" class="tiny-banner">
                        <a data-id="@Model.Identifier" class="delete-link featured" data-url="delete/featuredbanner" data-key="@Model.Identifier">&times;</a>
                        <img class="featured" src="@Model.Url" />
                    </div>
                }
            </fieldset>
        </div>
    }
    <script>
        UI.setupUploader('#featured-banner-uploader', "upload/featuredbanner", '@Model.Identifier');

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#featured-banners', true);
        }
    </script>
</div>
