﻿@using System.Web.Optimization
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.EditServerModel
@{
    ViewBag.Title = "Manage " + Model.Server.Name;
}
@section Head
    {
    @Scripts.Render("~/scripts/backend")
    @Styles.Render("~/content/css/libs/backend")

    @Scripts.Render("~/content/scripts/editserver")
    @Styles.Render("~/content/css/editserver")

    <style>
        .color-third {
            background: hsla(220, 82%, 41%, .5) !important
        }
    </style>
}

<div id="server-title" class="title-bg">
    <a class="view-server btn color-third" target="_blank" href="/server/@Model.Server.Identifier"><i class="fa fa-th-large"></i> View</a>
    <div id="scroll-bottom" class="color-third"><i class="fa fa-chevron-down"></i></div>
    <h1 class="name">@Model.Server.Name</h1>
    <div class="enable hidden">
        <input type="checkbox" name="big-blue" id="big-blue" class="big-blue clean" @Model.EnabledCheck />
        <label for="big-blue" class="big-blue-label">Show on list</label>
    </div>
    <div class="text">
        <p>
            Fill the boxes below to customize your page before listing.
        </p>
    </div>
</div>

<div class="tabs">
</div>

<div class="page-container box-container">
    @{ Html.RenderAction("ServerInfo", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("ConnectionInfos", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Colors", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Description", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Banners", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("FeaturedBanners", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Plugins", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("ServerLogo", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("MiniGames", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Modpacks", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Tags", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Staff", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Carousel", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Websites", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Localization", "EditServer", new { Model.Identifier }); }
    @{ Html.RenderAction("Query", "EditServer", new { Model.Identifier }); }
    @{/* Html.RenderAction("Votifier", "EditServer", new { Model.Identifier }); */}


    @if (Html.IsServerAdmin(Model.Identifier))
    {
        Html.RenderAction("ApiKey", "EditServer", new { Model.Identifier });
    }
</div>