﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.LocalizationModel
@{
    Layout = null;
}

<div id="localization" class="box small">

    @using (Html.AjaxForm("Localization", "EditServer", "#localization", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Localization</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>These settings will help players find your server when filtering.  If your language is not present in the autocomplete dropdown you can add in a new one by pressing enter after you type it. </p>
            </div>
            <fieldset>
                <label>Your server's country</label>
                @Html.TextBoxFor(m => m.CountryName, new { placeholder = "Country", @class = "input-block-level no-chevron" })

                <label>Your server's main language</label>
                @Html.TextBoxFor(m => m.LanguageName, new { placeholder = "Language", @class = "input-block-level no-chevron"})
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        UI.selectizeCountries('#CountryName');
        UI.selectize('#LanguageName', "languages");
        
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#localization');
        }
    </script>
</div>


