﻿@using MinecraftCubed.Common.Helpers
@using MinecraftCubed.Static
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.MiniGamesModel
@{
    Layout = null;
}

<div id="mini-games" class="box small" data-next="@Model.MiniGames.Count">

    @using (Html.AjaxForm("MiniGames", "EditServer", "#mini-games", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>MiniGames</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>This is the list of mini-games your server offers.  This list is searchable by players and will show on your home page.</p>
            </div>
            <fieldset>
                <label>Add a mini-game:</label>
                @Html.TextBoxFor(m => m.Name, new
                {
                    placeholder = "Name",
                    @class = "mini-game input-block-level",
                    maxlength = "255"
                })
                <div class="help-block">Using a pre-existing mini-game name is beneficial as it guarantees more search hits.</div>
            </fieldset>
            <fieldset class="add-new">
                <p><strong>Please fill in the following to personalize the minigame for your server:</strong></p>

                <label>Logo image or Video:</label>
                @Html.TextBoxFor(m => m.LogoUrl, new
                {
                    placeholder = "http://youtube.com/watch?v=zZGNk8pUj4Y",
                    @class = "urls input-block-level ",
                    maxlength = "255"
                })
                <label>More Info Url (optional):</label>
                @Html.TextBoxFor(m => m.Website, new
                {
                    placeholder = "http://myserver.com/minigame-info",
                    type = "url",
                    @class = "urls input-block-level ",
                    maxlength = "255"
                })
                <label>Description:</label>
                @Html.TextAreaFor(m => m.Description, new
                {
                    placeholder = "",
                    @class = "desc input-block-level ",
                    maxlength = "1024"
                })
            </fieldset>

            <div class="button-row middle clearfix">
                <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
            @if (Model.MiniGames.Any())
            {
                <hr />
                <fieldset class="tiny-minigame sortable" data-url="reorder/minigames">
                    @for (var i = 0; i < Model.MiniGames.Count; i++)
                    {
                        <div class="mini-game elastic block" data-id="@Model.MiniGames[i].ServerMiniGameId">
                            @if (Model.MiniGames[i].HasVideo)
                            {
                                <div class="rounded-video">
                                    <div class="tl"></div>
                                    <div class="tr"></div>
                                    <iframe width="130" height="73" frameborder="0" src="@Model.MiniGames[i].EmbedUrl"></iframe>
                                </div>
                            }
                            else
                            {
                                <img src="@Model.MiniGames[i].GetAbsoluteUrl(true)" />
                            }
                            <div class="bucket">
                                <h3>@Model.MiniGames[i].MiniGameName</h3>
                                <div class="desc nano">
                                    <p class="nano-content">@Model.MiniGames[i].Description</p>
                                </div>
                            </div>
                            <a data-id="@Model.MiniGames[i].ServerMiniGameId" class="delete-link" data-url="delete/minigame" data-key="@Model.MiniGames[i].MiniGameIdentifier">&times;</a>
                        </div>

                    }
                </fieldset>
                <fieldset>
                    <span class="help-block">Drag and drop the items to reorder them.</span>
                </fieldset>
            }
        </div>
    }
    <script>
        UI.setupMiniGameBox();

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#mini-games');
                        }

        $('.checkbox-list', '#mini-games').scrollTop($('.checkbox-list', '#mini-games').prop("scrollHeight"));
    </script>
</div>
