﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.ModpacksModel
@{
    Layout = null;
}

<div id="modpacks" class="box small" data-next="@Model.Modpacks.Count">

    @using (Html.AjaxForm("Modpacks", "EditServer", "#modpacks", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Modpacks</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>This is the list of modpacks that you run on your server, these will be searchable by players and show on your home page. </p>
            </div>
            <fieldset>
                <label>Add a modpack:</label>
                @Html.TextBoxFor(m => m.Name, new
                {
                    placeholder = "Name",
                    @class = "modpack input-block-level",
                    maxlength = "255"
                })
            </fieldset>
            <fieldset class="add-new">
                <p><strong>Please fill in the following info to create a new modpack:</strong></p>

                <label>Logo or Screenshot Url:</label>
                @Html.TextBoxFor(m => m.LogoUrl, new
                {
                    placeholder = "http://modpack/logo.png",
                    @class = "urls input-block-level ",
                    maxlength = "255"
                })
                <label>Website/Wiki Url:</label>
                @Html.TextBoxFor(m => m.Website, new
                {
                    placeholder = "http://modpack.com/info",
                    type = "url",
                    @class = "urls input-block-level ",
                    maxlength = "255"
                })
                <label>Description:</label>
                @Html.TextAreaFor(m => m.Description, new
                {
                    placeholder = "",
                    @class = "desc input-block-level ",
                    maxlength = "1024"
                })
            </fieldset>
            <div class="button-row middle clearfix">
                <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>

            @if (Model.Modpacks.Any())
            {
                <hr />
                <fieldset class="tiny-modpacks sortable" data-url="reorder/modpacks">
                    @for (var i = 0; i < Model.Modpacks.Count; i++)
                    {
                        <div class="modpack elastic block" data-id="@Model.Modpacks[i].ServerModpackId">
                            <a class="modpack-link" target="_blank" attr="@Model.Modpacks[i].ModpackWebsite">
                                <img src="@Model.Modpacks[i].GetAbsoluteUrl(true)" />
                            </a>
                            <div class="bucket">
                                <h3>@Model.Modpacks[i].ModpackName</h3>
                                <div class="desc nano">
                                    <p class="nano-content">@Model.Modpacks[i].ModpackDescription</p>
                                </div>
                            </div>
                            <a data-id="@Model.Modpacks[i].ServerModpackId" class="delete-link" data-url="delete/modpack" data-key="@Model.Modpacks[i].ModpackIdentifier">&times;</a>
                        </div>
                    }
                </fieldset>
                <fieldset>
                    <span class="help-block">Drag and drop the items to reorder them.</span>
                </fieldset>
            }
        </div>
    }
    <script>
        UI.setupModpackBox();

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#modpacks');
        }

        $('.checkbox-list', '#modpacks').scrollTop($('.checkbox-list', '#modpacks').prop("scrollHeight"));
    </script>
</div>
