﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.PluginsModel
@{
    Layout = null;
}

<div id="plugins" class="box med">

    @using (Html.AjaxForm("Plugins", "EditServer", "#plugins", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Plugins</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>
                    Plugin descriptions are shared across the website, some of them may already have been filled in by other servers admins.  The only plugins that will be visible on the homepage will be the ones that are fully filled in and checked.
                </p>
                <p>
                    You can hide the plugins section from your homepage completely by unchecking "Show Plugins".
                </p>
            </div>
            <fieldset>
                @if (Model.HasPlugins)
                {
                    <div class="checkbox-list">
                        @for (var i = 0; i < Model.Plugins.Count; i++)
                        {
                            <div class="plugin-row">
                                <div class="col1">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.Plugins[i].Enabled)
                                        @Model.Plugins[i].PluginName
                                        @Html.HiddenFor(m => m.Plugins[i].PluginName)
                                        @Html.HiddenFor(m => m.Plugins[i].ServerPluginId)
                                    </label>
                                </div>
                                <div class="col3">
                                    @if (Model.Plugins[i].IsAuthor || string.IsNullOrEmpty(Model.Plugins[i].PluginDescription) || string.IsNullOrEmpty(Model.Plugins[i].PluginWebsite) || string.IsNullOrEmpty(Model.Plugins[i].PluginLogoUrl))
                                    {
                                        @Html.TextBoxFor(m => m.Plugins[i].PluginWebsite, new
                                        {
                                            placeholder = "BukkitDev or Website URL",
                                            type = "url",
                                            @class = "urls",
                                            maxlength = "255"
                                        })
                                    }
                                    else
                                    {
                                        <div class="plug urls">@Model.Plugins[i].PluginWebsite</div>
                                    }

                                    @if (Model.Plugins[i].IsAuthor || string.IsNullOrEmpty(Model.Plugins[i].PluginDescription) || string.IsNullOrEmpty(Model.Plugins[i].PluginWebsite) || string.IsNullOrEmpty(Model.Plugins[i].PluginLogoUrl))
                                    {

                                        @Html.TextBoxFor(m => m.Plugins[i].PluginLogoUrl, new
                                            {
                                                placeholder = "Log or Screenshot URL",
                                                @class = "urls",
                                                maxlength = "255"
                                            })
                                    }
                                    else
                                    {
                                        <div class="plug urls">@Model.Plugins[i].PluginLogoUrl</div>
                                    }

                                </div>
                                <div class="col2">
                                    @if (Model.Plugins[i].IsAuthor || string.IsNullOrEmpty(Model.Plugins[i].PluginDescription) || string.IsNullOrEmpty(Model.Plugins[i].PluginWebsite) || string.IsNullOrEmpty(Model.Plugins[i].PluginLogoUrl))
                                    {
                                        @Html.TextAreaFor(m => m.Plugins[i].PluginDescription, new
                                        {
                                            placeholder = "Description",
                                            @class = "desc",
                                            maxlength = "350"
                                        })
                                    }
                                    else
                                    {
                                        <div class="plug desc"><div class="glove">@Model.Plugins[i].PluginDescription</div></div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h3>Query your server to read your plugin list.</h3>
                    <p>Listing your plugins will allow your server to come up on searches when players are looking for servers with certain plugins.</p>
                }
            </fieldset>
        </div>
        <div class="button-row clearfix">
            @if (Model.HasPlugins)
            {
                <button type="submit" class="btn btn-large btn-primary">Save</button>

                <label class="checkbox show-plugins">
                    @Html.CheckBoxFor(x => x.ShowPlugins) Show Plugins
                </label>

            }
            else
            {
                <a class="query-for-plugin btn btn-large btn-info">Query</a>
            }
        </div>
    }
    <script>
        UI.setUpQueryForPlugin('#plugins');

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#plugins');
        }

        $('.checkbox-list', '#plugins').scrollTop($('.checkbox-list', '#plugins').prop("scrollHeight"));
    </script>
</div>
