﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.QueryModel
@{
    Layout = null;
}

<div id="query" class="box small">

    @using (Html.AjaxForm("Query", "EditServer", "#query", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Query Settings</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">The address should be the same as your server.  The port can be found in "query.port" on your server.properties file, it should be 25565 unless you changed it.  Be sure to enable "enable-query=true" in that file as well.</div>
            <fieldset>
                <div class="horizontal-group">
                    <div class="left-control">
                        <label>Address (or IP)</label>
                        @Html.TextBoxFor(m => m.Address, new { placeholder = "play.domain.com", @class = "input-block-level" })
                    </div>
                    <div class="right-control">
                        <label>Port</label>
                        @Html.TextBoxFor(m => m.Port, new { placeholder = "25565", @class = "input-block-level", spellcheck = "false" })
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <a class="query-test left btn btn-large btn-info">Test</a>
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        UI.setUpQueryTest('#query');

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#query');
        }
    </script>
</div>


