﻿@using MinecraftCubed.Static
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.ServerLogoModel
@{
    Layout = null;
}

<div id="serverlogo" class="box small">

    @using (Html.AjaxForm("ServerLogo", "EditServer", "#serverlogo", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Logo</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>Your server's logo.  This will replace your server's name on the top of your server page. If it is larger than @Constant.Logo.Width x @Constant.Logo.Height, it will be automatically resized down.</p>
                <p><b>Note:</b> Only logos in transparent pngs are allowed (no backgrounds). </p>
            </div>
            <fieldset>
                <div id="logo-uploader"></div>
            </fieldset>
            <fieldset class="tiny-banners">
                @if (Model.HasLogo)
                {
                    <div class="tiny-banner">
                        <a data-id="@Model.Identifier" class="delete-link" data-url="delete/server/logo" data-key="@Model.Identifier">&times;</a>
                        <img src="@Model.LogoUrl" />
                    </div>
                }
            </fieldset>
        </div>
    }
    <script>
        UI.setupUploader('#logo-uploader', "upload/server/logo", '@Model.Identifier');

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#serverlogo', true);

            @:_.delay(function () { UI.reLayout(); }, 1000);
        }
        </script>
</div>
