﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.ServerInfoModel
@{
    Layout = null;
}

<div id="server-basic-info" class="box small">

    @using (Html.AjaxForm("ServerInfo", "EditServer", "#server-basic-info", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Basic Info</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <fieldset>
                <label>Your server's name</label>
                @Html.TextBoxFor(m => m.Name, new { placeholder = "My Minecraft Server", @class = "input-block-level" })
                
                <label>Version</label>
                @Html.TextBoxFor(m => m.VersionName, new { placeholder = "1.7.2", @class = "input-block-level no-chevron" })
                <span class="help-block">If the version does not match up with your server. Your players may have a hard time logging in.</span>

                <label>Your hosting provider</label>
                @Html.TextBoxFor(m => m.HostName, new { placeholder = "Awesome Hosting", @class = "input-block-level no-chevron" })
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        UI.selectize('#VersionName', "versions");
        UI.selectize('#HostName', "hosts");
        
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#server-basic-info');
        }
    </script>
</div>


