﻿@model MinecraftCubed.Web.ViewModels.EditServer.StaffModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@using MinecraftCubed.Web.ViewModels.EditServer
@{
    Layout = null;
}

<div id="staff" class="box small">

    @using (Html.AjaxForm("Staff", "EditServer", "#staff", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Staff</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)
        @Html.HiddenFor(x => x.IsSave)

        <div class="content">
            @if (Html.IsServerAdmin(Model.Identifier))
            {
                <div class="headcopy">
                    <p>
                        Add your server's staff here to display them on your home page.  You can give them special permissions here as well.
                    </p>
                </div>
                <fieldset>
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.Username, new { placeholder = "Player", @class = "input-block-level no-chevron username" })
                    <div class="help-block">
                        They must have MinecraftCubed accounts.
                    </div>

                    <div class="horizontal-group">
                        <div class="left-control">
                            <label>Rank</label>
                            @Html.TextBoxFor(m => m.Rank, new { placeholder = "Admin", @class = "" })
                        </div>
                        <div class="right-control">
                            <label>&nbsp;</label>
                            @Html.TextBoxFor(m => m.Color, new { @class = "color show" })
                        </div>
                    </div>
                    <div class="help-block">
                        The rank they hold on your server and its color. For decorative purposes.
                    </div>
                </fieldset>

                <fieldset>
                    <label>Permission level:</label>
                    <label class="radio-btn">
                        @Html.RadioButtonFor(model => model.PermissionLevel, StaffModel.Level.Admin) <b>Admin&nbsp;-</b><span>&nbsp;Can add staff, delete events</span>
                    </label>
                    <label class="radio-btn">
                        @Html.RadioButtonFor(model => model.PermissionLevel, StaffModel.Level.Manager) <b>Manager&nbsp;-</b><span>&nbsp;Can access management menus, access sponsor page </span>
                    </label>
                    <label class="radio-btn">
                        @Html.RadioButtonFor(model => model.PermissionLevel, StaffModel.Level.Staff) <b>Staff&nbsp;-</b><span>&nbsp;Can moderate shoutbox</span>
                    </label>
                    <div class="help-block">
                        <b>Note:</b> Higher permissions include all lower ones
                    </div>
                </fieldset>

                <div class="button-row clearfix">
                    <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-plus"></i> Add</button>
                </div>
            }
            
            <fieldset class="staff sortable" data-url="reorder/staff">
                @for (var i = 0; i < Model.Staff.Count(); i++)
                {
                    <div class="person" data-username="@Model.Staff[i].Username" data-id="@Model.Staff[i].Username">
                        <a class="delete-link" data-url="delete/staff" data-id="@Model.Staff[i].Username">&times;</a>

                        <div class="wrap">
                            <img class="face" src="@Model.Staff[i].FaceUrl" /><div class="name"><b>@Model.Staff[i].Username</b></div>
                            <div class="rank" style="color: @Model.Staff[i].Color"><b>@Model.Staff[i].Rank</b></div>
                            @if (Model.Staff[i].IsAdmin)
                            {
                                <div class="perms">Admin</div>
                            }
                            else if (Model.Staff[i].IsManager)
                            {
                                <div class="perms">Manager</div>
                            }
                            else
                            {
                                <div class="perms">Staff</div>
                            }

                        </div>
                        <div class="quote">
                            @Html.TextBoxFor(x => x.Staff[i].Quote, new { placeholder = "Quote (optional)", data_original = Model.Staff[i].Quote })
                        </div>
                    </div>
                }
            </fieldset>

            <div class="button-row clearfix">
                <a class="btn btn-large btn-primary save">Save</a>
            </div>
        </div>
    }
    <script>
        UI.setupStaff('#staff');

        @if (Model.RefreshUI)
        {
           @:UI.refresh('#staff');
        }
    </script>
</div>
