﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.TagsModel
@{
    Layout = null;
}

<div id="tags" class="box small sectioned">

    @using (Html.AjaxForm("Tags", "EditServer", "#tags", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Tags</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>
                    The tags will help players find your server who are looking for specific server features.
                </p>
                <p>
                    The more complete this list is, the more players you will have showing up on your server.
                </p>
                <p>
                    <b>Note:</b> When typing in new tags make sure they are generic enough to be reused by other servers.
                </p>
                <p>
                    <b>Note:</b> Minigames and Modpacks have their own sections.  Do not add them here.
                </p>
            </div>
            <fieldset>
                <legend>Server Types</legend>
                <label>List here the server types or platforms used in your community. </label>
                @Html.TextBoxFor(m => m.Types, new {placeholder = "Server Types", @class = "input-block-level no-chevron"})
                <div class="help-block"><b>Examples:</b> Sponge, Bukkit, Technic, Modded, etc.
                </div>
            </fieldset>

            <div class="button-row clearfix">
                <button type="submit" class="btn btn-large btn-primary">Save</button>
            </div>

            <hr />
            <fieldset>
                <legend>Gameplay & Rules</legend>
                <label>List here the different gameplay types or rules that differentiate your server. </label>
                @Html.TextBoxFor(m => m.Gameplays, new { placeholder = "Gameplay Types", @class = "input-block-level no-chevron" })
                <div class="help-block"><b>Examples:</b> Family Friendly, Survival, PvP, PvE, Permanent World, Prison, No Banned Items, Economy, Roleplay, Zombie, Anarchy, Griefing, No-Griefing, Whitelist, No-Whitelist, No-TP, Creative, Starting-Kits, Natural-Spawn, etc.</div>
            </fieldset>

            <div class="button-row clearfix">
                <button type="submit" class="btn btn-large btn-primary">Save</button>
            </div>
        </div>
    }
    <script>
        UI.selectizeTags('#Types', "types");
        UI.selectizeTags('#Gameplays', "gameplays");

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#tags');
                        }
    </script>
</div>
