﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.VotifierModel
@{
    Layout = null;
}

<div id="votifier" class="box small">

    @using (Html.AjaxForm("Votifier", "EditServer", "#votifier", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Votifier Settings</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">
                <p>
                    You can receive a notification through votifier evey time a player Likes your server.
                </p>
            </div>
            <fieldset>
                <div class="horizontal-group">
                    <div class="left-control">
                        <label>Address (or IP)</label>
                        @Html.TextBoxFor(m => m.Address, new { placeholder = "play.domain.com", @class = "input-block-level" })
                    </div>
                    <div class="right-control">
                        <label>Port</label>
                        @Html.TextBoxFor(m => m.Port, new { placeholder = "8192", @class = "input-block-level", spellcheck = "false" })
                    </div>
                </div>

                <label>Votifier public key</label>
                @Html.TextAreaFor(m => m.PublicKey, new { @class = "input-block-level", placeholder = "Copy the key found in plugins/Votifier/rsa/public.key and paste it here." })
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <a class="vote-test left btn btn-large btn-info">Test</a>
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        UI.setupVoteTest('#votifier');

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#votifier');
        }
    </script>
</div>


