﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditServer.WebsitesModel
@{
    Layout = null;
}

<div id="websites" class="box small">

    @using (Html.AjaxForm("Websites", "EditServer", "#websites", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Links</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.Identifier)

        <div class="content">
            <div class="headcopy">This will add links under your server addresses on yor server's page. Fill out a label and a url for each.  You can link to anything within reason - Start Guide, Wiki page, Vent, etc</div>
            <fieldset>
                <div class="titled">
                    @Html.TextBoxFor(m => m.Title1, new { placeholder = "Homepage", @class = "title" })
                    @Html.TextBoxFor(m => m.Url1, new { placeholder = "https://myserver.com", @class = "", type = "url" })
                </div>
                <div class="titled">
                    @Html.TextBoxFor(m => m.Title2, new { placeholder = "Forum", @class = "title"})
                    @Html.TextBoxFor(m => m.Url2, new { placeholder = "https://myserver.com/forum", @class = "", type = "url" })
                </div>
                <div class="titled">
                    @Html.TextBoxFor(m => m.Title3, new { placeholder = "Shop", @class = "title" })
                    @Html.TextBoxFor(m => m.Url3, new { placeholder = "https://myserver.com/shop", @class = "", type = "url" })
                </div>
                <div class="titled">
                    @Html.TextBoxFor(m => m.Title4, new { placeholder = "Youtube", @class = "title" })
                    @Html.TextBoxFor(m => m.Url4, new { placeholder = "https://www.youtube.com/my-channel", @class = "", type = "url" })
                </div>
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#websites');
        }
    </script>
</div>


