﻿@using MinecraftCubed.Common
@model MinecraftCubed.Web.ViewModels.EditEvent.AttendeeListModel
@{
    ViewBag.Title = "Attendee List";
}

<div id="attendee-list" class="static-modal">
    <h1>Attendee List</h1>

    <div class="content">
        <table class="players">
            @foreach (var attendee in Model.Attendees)
            {
                <tr class="player">
                    <td><img height="16" src="@(Settings.AzureStorageUrl)minecraftheads/@(attendee).png" /></td>
                    <td>@attendee</td>
                </tr>
            }
        </table>
    </div>
</div>
