﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EventBannersModel
@{
    Layout = null;
}

<div id="banners" class="box small">

    @using (Html.AjaxForm("Banners", "EditEvent", "#banners", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Banner</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.EventIdentifier)

        <div class="content">
            <div class="headcopy">
                <p>This banner will be displayed on the card on event list. It is of size 272x190, if the image provided is larger it will be resized down.</p>
                <p><b>Note:</b> Animated gifs will be flattened to a png using a random frame.</p>
            </div>
            <fieldset>
                <div id="banner-uploader"></div>
            </fieldset>
            <fieldset class="tiny-banners">
                @if (Model.HasEventBanner)
                {
                    <div data-id="@Model.EventIdentifier" class="tiny-banner">
                        <a data-id="@Model.EventIdentifier" class="delete-link" data-url="delete/event/banner" data-key="@Model.EventIdentifier">&times;</a>
                        <img src="@Model.Url" />
                    </div>
                }
            </fieldset>
        </div>
    }
    <script>
        UI.setupUploader('#banner-uploader', "upload/event/banner", '@Model.EventIdentifier');

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#banners', true);
        }
    </script>
</div>
