﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EventDeleteEventModel
@{
    Layout = null;
}

<div id="delete-event" class="box small">

    @using (Html.AjaxForm("DeleteEvent", "EditEvent", "#delete-event", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Delete Event</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.EventIdentifier)

        <div class="content">
            <div class="headcopy">Careful, there is no going back from this.</div>
            <button type="submit" class="btn btn-large btn-red">&times;</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#delete-event');
        }
    </script>
</div>
