﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EventDescriptionModel
@{
    Layout = null;
}

<div id="description" class="box small sectioned">

    @using (Html.AjaxForm("Description", "EditEvent", "#description", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Description</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.EventIdentifier)

        <div class="content">
            
            <fieldset>
                <p>Describe here briefly the event.  This will show on the event card.  The editor uses <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax" title="Markdown Syntax">Markdown</a> and html, you can add coloring by adding span tags with inline-css.</p>
                @Html.TextAreaFor(m => m.EventDescriptionText, new { @class = "input-block-level pagedown" })
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#description');
        }
    </script>
</div>


