﻿@using MinecraftCubed.Common
@using MinecraftCubed.Common.Extensions
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EventDatesModel
@{
    Layout = null;
}

<div id="event-dates" class="box med">

    @using (Html.AjaxForm("EventDates", "EditEvent", "#event-dates", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Event Dates</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.EventIdentifier)

        <div class="content">
            <div class="headcopy">
                <p>
                    Here you can set up repeating events, weekly, bi-weekly, monthly, etc.  Each date you add will generate a separate card on the events list.  The further into the future you set your event dates, the more attendees it is likely to accumulate.
                </p>
                <span class="help-block">
                    Event dates cannot created earlier than @Settings.EventDateMustBeDaysInTheFuture days from now (minimum limit, you'll want much more than that to collect attendees), and cannot be deleted once it reaches T minus @Settings.EventDateDeletePointOfNoReturnHours hours to start date.
                </span>
            </div>
            <fieldset>
                <div class="h-block">
                    <label>When will the event start?</label>
                    @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Start Date", @class = "input-medium" })
                </div>

                <div class="h-block">
                    <label>The timezone (important)</label>
                    @Html.DropDownListFor(m => m.TimeZone, Model.TimeZoneList, null, new { @class = "selectize-timezone" })
                </div>

                <div class="h-block">
                    <label>Duration (hours)</label>
                    @Html.TextBoxFor(m => m.LengthInHours, new { placeholder = "Duration", @class = "input-small", min = "0", step = "1", type = "number" })
                </div>
                <button type="submit" class="add btn btn-large btn-primary"><i class="fa fa-plus"></i> Add</button>
            </fieldset>
            <hr/>
            <div class="date-list">
                @foreach (var date in Model.EventDates)
                {
                    <div class='event-date'>
                        <a data-id="@date.EventDateId" class="delete-link" data-url="delete/event/date">&times;</a>
                        <b class="date" data-end="@date.EndDate.ToISOString()">@date.StartDate.ToISOString()</b>                        
                        <b class="time"></b>
                        <div class="duration">Duration: <span>@(date.LengthInHours)</span>h</div>
                        <a class="btn btn-primary btn-small list-btn" href="@date.AttendeeListUrl" target="_blank">View attendee list</a>
                    </div>
                }
            </div>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#event-dates');
        }
        
        UI.selectizeTimeZone('.selectize-timezone');
        EditEventModel.refreshEventDates();
    </script>
</div>
