﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EventInfoModel
@{
    Layout = null;
}

<div id="event-basic-info" class="box small">

    @using (Html.AjaxForm("EventInfo", "EditEvent", "#event-basic-info", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")"/>
        <h2>Basic Info</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.EventIdentifier)

        <div class="content">
            <fieldset>
                <label>Your event's title (no need to include your server's name)</label>
                @Html.TextBoxFor(m => m.Name, new { placeholder = "My awesome event!", @class = "input-block-level" })

                <label>The server that will host the event</label>
                @Html.DropDownListFor(m => m.ServerIdentifier, Model.ServerNameList, null, new { @class = "input-block-level selectize" })
                
                <div class="horizontal-group">
                    <div class="left-control">
                        <label>Server Address (or IP)</label>
                        @Html.TextBoxFor(m => m.Address, new { placeholder = "play.domain.com", @class = "input-block-level" })
                    </div>
                    <div class="right-control">
                        <label>Port</label>
                        @Html.TextBoxFor(m => m.Port, new { placeholder = "25565", @class = "input-block-level" })
                    </div>
                    <span class="help-block">You can choose a different server address for this event in case it is being hosted on a different host/port.</span>
                </div>

                <label>Server Version</label>
                @Html.TextBoxFor(m => m.VersionName, new { placeholder = "1.7.2", @class = "input-block-level no-chevron" })
            </fieldset>
        </div>
        

        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        UI.selectize('#VersionName', "versions");

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#event-basic-info');
        }
    </script>
</div>


