﻿@using System.Web.Optimization
@using MinecraftCubed.Common.Helpers
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EditEventModel
@{
    ViewBag.Title = "Manage " + Model.Event.Name;
}
@section Head
{
    @Scripts.Render("~/scripts/backend")
    @Styles.Render("~/content/css/libs/backend")

    @Scripts.Render("~/content/scripts/editevent")
    @Styles.Render("~/content/css/editevent")

    <style>
        #scroll-bottom {
            background: hsla(220, 82%, 41%, .5) !important
        }
    </style>
}

<div id="event-title" class="title-bg">
    <h1 class="name">@Model.Event.Name</h1>
    <div class="text">
        <p>
            Fill the boxes below to customize your event.
        </p>
    </div>
    <div id="scroll-bottom" class="color-nav"><i class="fa fa-chevron-down"></i></div>
</div>

<div class="tabs">
</div>

<div class="page-container box-container">
    @{ Html.RenderAction("EventInfo", "EditEvent", new { Model.EventIdentifier }); }
    @{ Html.RenderAction("EventDates", "EditEvent", new { Model.EventIdentifier }); }
    @{ Html.RenderAction("PlayReqs", "EditEvent", new { Model.EventIdentifier }); }
    @{ Html.RenderAction("Description", "EditEvent", new { Model.EventIdentifier }); }
    @{ Html.RenderAction("Banners", "EditEvent", new { Model.EventIdentifier }); }
    @{ Html.RenderAction("Tags", "EditEvent", new { Model.EventIdentifier }); }

    @if (Html.IsServerAdmin(Model.Event.Server.Identifier))
    {
        Html.RenderAction("DeleteEvent", "EditEvent", new { Model.EventIdentifier });
    }
</div>