﻿@using MinecraftCubed.Common.Lang
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EventPlayReqsModel
@{
    Layout = null;
}

<div id="play-reqs" class="box small">

    @using (Html.AjaxForm("PlayReqs", "EditEvent", "#play-reqs", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Play Requirements</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.EventIdentifier)

        <div class="content">
            <fieldset class="toggle-box underlined">
                <label class="checkbox toggle-check">
                    @Html.CheckBoxFor(m => Model.HasDownload) The event requires a modpack, launcher, or other download to play.
                </label>
                <span class="help-block">This will show as a "Get Download" button on the back of the event card</span>
                <div class="horizontal-group toggle-bucket">
                    <div class="left-control download-label">
                        <label>What is it?</label>
                        @Html.TextBoxFor(m => Model.DownloadLabel, new { placeholder = "Download", @class = "input-block-level" })
                    </div>
                    <div class="right-control download-url">
                        <label>Url to the download</label>
                        @Html.TextBoxFor(m => Model.DownloadUrl, new { placeholder = "http://myserver.com/download", @class = "input-block-level", type = "url" })
                    </div>
                </div>
            </fieldset>
            <fieldset class="toggle-box underlined">
                <label class="checkbox toggle-check">
                    @Html.CheckBoxFor(m => m.HasAttendeeWhitelist) I want to use this site's attendee list as a whitelist.
                </label>
                <span class="help-block">This will show a message on the back of the event card asking people to check "Attending" to be whitelisted. </span>
                <div class="toggle-bucket attendee-whitelist">
                    <p>Before the event begins you will manually copy the names from the attendee list and add them to your server's whitelist.</p>
                </div>
            </fieldset>
            <fieldset class="toggle-box">
                <label class="checkbox toggle-check">
                    @Html.CheckBoxFor(m => m.HasWhitelist) I have an external link that players need to visit to get whitelisted.
                </label>
                <span class="help-block">This will show a "Get Whitelisted" button on the back of the event card. </span>
                <div class="toggle-bucket external-whitelist">
                    <label>Url to the page</label>
                    @Html.TextBoxFor(m => m.WhitelistUrl, new { placeholder = "http://myserver.com/whitelist", @class = "input-block-level", type = "url" })
                </div>
            </fieldset>
            <fieldset class="toggle-box underlined">
                <label class="checkbox toggle-check">
                    @Html.CheckBoxFor(m => m.HasRules) I have a page with info how to play the event (rules, guide, wiki, etc).
                </label>
                <span class="help-block">This will show a "How to Play" button on the back of the event card. </span>
                <div class="toggle-bucket rules">
                    <label>Url to the page</label>
                    @Html.TextBoxFor(m => m.RulesUrl, new { placeholder = "http://myserver.com/how-to-play", @class = "input-block-level", type = "url" })
                </div>
            </fieldset>
        </div>

        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        @if (Model.RefreshUI)
        {
            @:UI.refresh('#play-reqs');
                                }
    </script>
</div>
