﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.EditEvent.EventTagsModel
@{
    Layout = null;
}

<div id="tags" class="box small sectioned">

    @using (Html.AjaxForm("Tags", "EditEvent", "#tags", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Tags</h2>
        @Html.AlertRibbon("flush-wide")
        @Html.HiddenFor(x => x.EventIdentifier)

        <div class="content">
            <div class="headcopy">
                <p>
                    These tags will help players find your event who are looking for specific event features.  The more complete this list is, the more your event will show up on filtering results.
                    Check if the existing tags on the dropdowns fit your event, if you can't find a certain tag you can create it by typing it out and
                    pressing enter (keep the tag names small and concise).                     
                </p>
                <p>
                    When creating new tags make sure they are generic enough to be reused by other servers.
                </p>
                <p>
                    <strong>Note:</strong> Misrepresenting your event may get your server blacklisted.
                </p>
            </div>
            <fieldset>
                <legend>Gameplay Types</legend>
                <label>List here the different gameplay types that describe your event. </label>
                @Html.TextBoxFor(m => m.EventTags, new { placeholder = "Tags", @class = "input-block-level no-chevron" })
                <span class="help-block"><b>Examples:</b> PvP, PvE, Hunger Games, Spleef, Build Contest, Tournament, Timed, Race, etc.</span>
            </fieldset>
        </div>
        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
    }
    <script>
        UI.selectizeTags('#EventTags', "eventeventgameplays");

        @if (Model.RefreshUI)
        {
            @:UI.refresh('#tags');
        }
    </script>
</div>
