﻿@model MinecraftCubed.Web.ViewModels.Auth.ChangePassModel
@{
    ViewBag.Title = "Done!";
}

<div class="static-modal">
    <h1>Password Changed</h1>
    <br />
    <p><a href='@Url.Action("Index", "Home", new { open = "login" })'>Return to login</a></p>
</div>
