﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.Auth.ChangePassModel
@{
    ViewBag.Title = "Change Password";
}

<div class="static-modal">

    <h1>Change Password</h1>

    @using (Html.BeginForm("ChangePass", "Auth"))
    {
        @Html.AlertRibbon("flush-wide")
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.Code)
        
        <div class="fields">
            <div>
                @Html.PasswordFor(m => m.Password, new { placeHolder = "New password" })
            </div>

            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeHolder = "Confirm new password" })
            </div>

            <div class="button-row">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </div>
        <div class="clearfix"></div>
    }
</div>