﻿@model MinecraftCubed.Web.ViewModels.Email.ForgotPassModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<b>Hi @Model.Username</b>,
<p>
    <div>To change your password click this link:</div>
    <a href="https://minecraftcubed.net/auth/changepass?email=@Model.Email&code=@Model.ConfirmationCode">https://minecraftcubed.net/auth/changepass?email=@Model.Email&code=@Model.ConfirmationCode</a>
</p>
