﻿@using MinecraftCubed.Common
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.Auth.LoginModel
@{
    Layout = null;
}

<p class="register-copy">
    Please log in or <a href="@Settings.Website?open=register" onclick="Auth.ShowRegister(); return false;">click here to register</a>
</p>

@Html.ErrorAlert("flush-wide", "Please fix the highlighted fields and try again.")

<p class="forgot-pass-copy">
    Request a password reset email
</p>

<div class="groups">
    <div class="control-group">
        @Html.TextBoxFor(m => m.UserOrEmail, new { @class = "input-large", placeholder = "Username" })
    </div>

    <div class="control-group password-group">
        @Html.PasswordFor(m => m.Password, new { @class = "input-large", placeholder = "Password" })
    </div>
</div>

<div class="actions login-actions">
    <button id="login-submit" class="btn btn-primary" onclick="Auth.LoginAjax();">Log in</button>
    <a class="link" onclick="Auth.ForgotPass.Show();">Forgot your password?</a>
</div>

<div class="actions forgot-pass-actions">
    <button id="forgot-pass-submit" class="btn btn-primary" onclick="Auth.ForgotPass.Send();">Send email</button>
    <a class="link" onclick="Auth.ForgotPass.Hide();">Back to login</a>
</div>

@if (Model.IsForgotPass)
{
    <script>
        Auth.ForgotPass.Show();
    </script>
}

<script>
    Auth.BindEnter();
</script>