﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Models
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.Auth.RegisterModel
@{
    Layout = null;
}

@if (ViewData.ModelState.IsValid)
{
    <div class="alert alert-success adjusted flush-wide no-reset">
        <i class="fa fa-check-circle"></i>
        Welcome <strong class="mcuser"></strong>!
    </div>
}

@Html.ErrorAlert("flush-wide", "Please fix the highlighted fields and try again.")

<p class="welcome-copy">
    Fill this to create your account.
</p>
<div class="control-group">
    <div class="controls">
        @Html.TextBoxFor(m => m.Username, new { @class = "input-large", placeholder = "Minecraft Username", tabindex = 1 })
    </div>
</div>
<div class="control-group">
    <div class="controls">
        @Html.TextBoxFor(m => m.Email, new { @class = "input-large", placeholder = "Email", type = "Email", tabindex = 2 })
    </div>
</div>

<div class="control-group">
    <div class="controls">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "input-large", placeholder = "Choose a password", tabindex = 3 })
    </div>
</div>

<div class="control-group">
    <div class="controls">
        @Html.Captcha(5, "_Captcha")
    </div>
</div>


<div class="check-wrapper">
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.AgreeTerms)
        I agree to the
    </label>
    <a href="/info/terms" target="_blank">Terms of Service</a>
</div>
<div class="actions">
    <a id="register-submit" class="btn btn-primary" onclick="Auth.RegisterAjax();" tabindex="5">Register and log in</a>
</div>

<script>
    Auth.BindEnter();
</script>