﻿@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "REST API";
}
@section Head
{
    @Scripts.Render("~/content/scripts/info")
    @Styles.Render("~/content/css/info")
}

<div id="api" class="static-modal box big-box large">
    <h1>REST API</h1>

    Coming soon...
</div>
