﻿@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "How it Works";
}
@section Head
{
    @Scripts.Render("~/content/scripts/info")
    @Styles.Render("~/content/css/info")
}

<div id="faq" class="static-modal box big-box large">
    <h1>Frequently Asked Questions</h1>

    <div class="inner accordion">
        <div class="accordion-group" id="faq1">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#body1">
                    <h4><i class="fa fa-chevron-right"></i> What does the ping button do?</h4>
                </a>
            </div>
            <div id="body1" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>
                        The ping button tells you the response time between you and the server.  The smaller it is the less lag you will experience.  It will ping the server 10 times and display the lowest of the measurements.
                    </p>
                    <p>
                        The pinging happens client-side (in your browser).  So factors like your connection speed and whether you are currently downloading anything will affect the ping in the same way that it would affect your gameplay.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-group" id="faq2">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq2" href="#body2">
                    <h4><i class="fa fa-chevron-right"></i> What is the formula used in the organic rank.</h4>
                </a>
            </div>
            <div id="body2" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
