﻿@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Privacy Policy";
}
@section Head
{
    @Scripts.Render("~/content/scripts/info")
    @Styles.Render("~/content/css/info")
}

<div id="privacy" class="static-modal box big-box large">
    <h1>Privacy Policy</h1>

    <div class="inner text-left">
        <div class="info">
            <p>
                The following Terms of Service govern all use of the minecraftcubed.net website and all content, services and products available at or through the website, including, but not limited to, minecraftcubed.net Forum Software, minecraftcubed.net Support Forums and the minecraftcubed.net Hosting service ("Hosting"), (taken together, the Website). The Website is owned and operated by MetaGlobal Corp. ("MinecraftCubed"). The Website is offered subject to your acceptance without modification of all of the Terms of Service contained herein and all other operating rules, policies (including, without limitation, minecraftcubed.net’s Privacy Policy and Community Guidelines) and procedures that may be published from time to time on this Site by MinecraftCubed (collectively, the "Agreement").
            </p>
            <p>
                Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the Terms of Service of this agreement. If you do not agree to all the Terms of Service of this agreement, then you may not access the Website or use any services. If these Terms of Service are considered an offer by MinecraftCubed, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.
            </p>

            <h3>1. Your MinecraftCubed Account</h3>
            <p>
                If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account. You must immediately notify MinecraftCubed of any unauthorized uses of your account or any other breaches of security. MinecraftCubed will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
            </p>

            <h3>2. Responsibility of Contributors</h3>
            <p>
                If you post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, "Content"), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
            </p>
            <p>
                the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
                if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;
                you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;
                the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
                the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
                the Content is not pornographic, does not contain threats or incite violence, and does not violate the privacy or publicity rights of any third party;
                your content is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, blogs and web sites, and similar unsolicited promotional methods;
                your content is not named in a manner that misleads your readers into thinking that you are another person or company; and
                you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by MinecraftCubed or otherwise.
            </p>
            <h3>3. User Content License</h3>
            <p>
                User contributions are licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. Without limiting any of those representations or warranties, MinecraftCubed has the right (though not the obligation) to, in MinecraftCubed’s sole discretion (i) refuse or remove any content that, in MinecraftCubed’s reasonable opinion, violates any MinecraftCubed policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in MinecraftCubed’s sole discretion. MinecraftCubed will have no obligation to provide a refund of any amounts previously paid.
            </p>

            <h3>
                4. Payment and Renewal
            </h3>
            <ol style="padding-left:35px;">
                <li>
                    <b>
                        General Terms
                    </b>
                    <p>
                        Optional paid services or upgrades may be available on the Website. When utilizing an optional paid service or upgrade, you agree to pay MinecraftCubed the monthly or annual subscription fees indicated. Payments will be charged on a pre-pay basis on the day you begin utilizing the service or upgrade and will cover the use of that service or upgrade for a monthly or annual subscription period as indicated. These fees are not refundable.
                    </p>
                </li>
                <li>
                    <b>
                        Automatic Renewal
                    </b>

                    <p>Unless you notify MinecraftCubed before the end of the applicable subscription period that you want to cancel a service or upgrade, your subscription will automatically renew and you authorize us to collect the then-applicable annual or monthly subscription fee (as well as any taxes) using any credit card or other payment mechanism we have on record for you. Subscriptions can be canceled at any time.</p>
                </li>
            </ol>


            <h3>
                5. Services Hosting, Support Services
            </h3>

            <p>Optional Hosting and Support services may be provided by MinecraftCubed under the Terms of Service for each such service. By signing up for a Hosting/Support or Support services account, you agree to abide by such Terms of Service.</p>


            <h3>
                6. Responsibility of Website Visitors
            </h3>
            <p>
                MinecraftCubed has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, MinecraftCubed does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional Terms of Service, stated or unstated. MinecraftCubed disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
            </p>

            <h3>
                7. Content Posted on Other Websites
            </h3>
            <p>
                We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which minecraftcubed.net links, and that link to minecraftcubed.net. MinecraftCubed does not have any control over those non-minecraftcubed.net websites and webpages, and is not responsible for their contents or their use. By linking to a non-minecraftcubed.net website or webpage, MinecraftCubed does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. MinecraftCubed disclaims any responsibility for any harm resulting from your use of non-minecraftcubed.net websites and webpages.
            </p>

            <h3>
                8. Copyright Infringement and DMCA Policy
            </h3>
            <p>
                As MinecraftCubed asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by minecraftcubed.net violates your copyright, and if this website resides in the USA, you are encouraged to notify MinecraftCubed in accordance with MinecraftCubed’s Digital Millennium Copyright Act ("DMCA") Policy. MinecraftCubed will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. MinecraftCubed will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of MinecraftCubed or others. In the case of such termination, MinecraftCubed will have no obligation to provide a refund of any amounts previously paid to MinecraftCubed.

            </p>
            <h3>
                9. Intellectual Property
            </h3>
            <p>
                This Agreement does not transfer from MinecraftCubed to you any MinecraftCubed or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with MinecraftCubed. MinecraftCubed, minecraftcubed.net, the minecraftcubed.net logo, and all other trademarks, service marks, graphics and logos used in connection with minecraftcubed.net, or the Website are trademarks or registered trademarks of MinecraftCubed or MinecraftCubed’s licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any MinecraftCubed or third-party trademarks.
            </p>

            <h3>
                10. Advertisements
            </h3>
            <p>
                MinecraftCubed reserves the right to display advertisements on your content unless you have purchased an Ad-free Upgrade or a Services account.
            </p>

            <h3>
                11. Attribution
            </h3>
            <p>
                MinecraftCubed reserves the right to display attribution links such as ‘Powered by minecraftcubed.net,’ theme author, and font attribution in your content footer or toolbar. Footer credits and the minecraftcubed.net toolbar may not be removed regardless of upgrades purchased.
            </p>

            <h3>
                12. Changes
            </h3>
            <p>
                MinecraftCubed reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. MinecraftCubed may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the Terms of Service of this Agreement.
            </p>

            <h3>
                13. Termination
            </h3>
            <p>
                MinecraftCubed may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your minecraftcubed.net account (if you have one), you may simply discontinue using the Website. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>

            <h3>
                14. Disclaimer of Warranties
            </h3>
            <p>
                The Website is provided "as is". MinecraftCubed and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither MinecraftCubed nor its suppliers and licensors, makes any warranty that the Website will be error free or that cess thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
            </p>

            <h3>
                15. Limitation of Liability
            </h3>
            <p>
                In no event will MinecraftCubed, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to MinecraftCubed under this agreement during the twelve (12) month period prior to the cause of action. MinecraftCubed shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
            </p>

            <h3>
                16. General Representation and Warranty
            </h3>
            <p>
                You represent and warrant that (i) your use of the Website will be in strict accordance with the MinecraftCubed Privacy Policy, Community Guidelines, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the country in which this website resides or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
            </p>

            <h3>
                17. Indemnification
            </h3>
            <p>
                You agree to indemnify and hold harmless MinecraftCubed, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
            </p>

            <h3>
                18. Miscellaneous
            </h3>
            <p>
                This Agreement constitutes the entire agreement between MinecraftCubed and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of MinecraftCubed, or by the posting by MinecraftCubed of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its Terms of Service; MinecraftCubed may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
            </p><p>
                This document is CC-BY-SA. It was last updated May 31, 2013.
            </p>

            <p>
                Originally adapted from the WordPress Terms of Service.
            </p>
        </div>
    </div>
</div>
