﻿@model MinecraftCubed.Web.ViewModels.List.ServerPageModel
@using System.Web.Optimization
@using MinecraftCubed.Common.Helpers
@using MinecraftCubed.Common.Lang
@using MinecraftCubed.Static
@using MinecraftCubed.Web.Mvc.HtmlHelpers

@{
    ViewBag.Title = Model.PageServer.Name + " Minecraft Server";
}
@section Head
{
    <script src="@Url.Content("~/signalr/hubs")"></script>

    @Scripts.Render("~/content/scripts/server")
    @Styles.Render("~/content/css/server")

    <!-- Server colors -->
    <style>
        .color-nav { background: @ColorHelper.Darken(Model.PageServer.Color.Header, 14) !important }
        .color-well {background: @ColorHelper.Darken(Model.PageServer.Color.Header, 14) !important;border-color: @ColorHelper.Darken(Model.PageServer.Color.Header, 6) !important }
        .color-ip { background: @ColorHelper.Darken(Model.PageServer.Color.Header, 14, 5) !important }
        .color-ip-light { background: @ColorHelper.Darken(Model.PageServer.Color.Header, 6) !important }
        .color-bg { background: @Model.PageServer.Color.Background !important }
        .color-bucket { background: @ColorHelper.Darken(Model.PageServer.Color.Background, -6) !important }
        .color-header { background: @Model.PageServer.Color.Header !important; }
        .color-middle { background: @Model.PageServer.Color.Middle !important; }
        .color-header-hover.hover { background: @Model.PageServer.Color.Header !important }
        .color-desc { background: @Model.PageServer.Color.Middle @* url(/content/images/dots.png) *@ !important }
        .color-third { background: @ColorHelper.Darken(Model.PageServer.Color.Header, 6) !important }
        .color-border { border-color: @ColorHelper.Darken(Model.PageServer.Color.Header, 14, 5) !important }

        @if (string.IsNullOrEmpty(Model.PageServer.DarkHeaderClass))
        {
            @:header #nav-bar nav ul li .tab { color: rgba(0, 0, 0, .85); text-shadow: 0 0 1px rgba(0,0,0,.05);}
            @:header #nav-bar nav ul li .tab:hover { color: #fff; }
            @:header .caret { border-top-color: rgba(0, 0, 0, .85) !important; border-bottom-color: rgba(0, 0, 0, .85) !important;}
            @:header .open .caret { border-top-color: #fff !important; border-bottom-color: #fff !important; }
        }
    </style>
}

<div class="pill-wrapper" itemscope itemtype="http://schema.org/Organization">

    <div id="server-head-container" class="color-header color-border autocolor @Model.PageServer.DarkMiddleClass @Model.PageServer.DarkHeaderClass @Model.PageServer.LogoTransparentBottomClass">
        @if (Html.HasRole(UserRole.Editor))
        {
            <a class="edit-server btn color-third" target="_blank" href="/edit/server/@Model.PageServer.Identifier"><i class="fa fa-cogs"></i> Manage</a>
        }
        <div id="scroll-bottom" class="color-third"><i class="fa fa-chevron-down"></i></div>
        <h1 class="name" data-identifier="@Model.PageServer.Identifier">

            @if (string.IsNullOrEmpty(Model.PageServer.LogoUrl))
            {
                <span class="name" itemprop="name">
                    @Model.PageServer.Name
                </span>
            }
            else
            {
                <span class="hidden" itemprop="name">
                    @Model.PageServer.Name
                </span>

                <img src="@Model.PageServer.LogoUrl" itemprop="logo" class="server-logo" alt="@Model.PageServer.Name Minecraft Server"/>
            }
        </h1>

        @if (!string.IsNullOrEmpty(Model.PageServer.DescriptionText))
        {
            <div class="description pagedown-content" itemprop="description">
                @Html.Raw(Model.PageServer.DescriptionText)
            </div>
        }

        <script>
            ServerPreInit();
        </script>

        <div class="lobby">
            @foreach (var info in Model.PageServer.SubsServers.Take(1))
            {
                <div class="ip-wrapper">
                    <div class="input-wrapper color-ip-light">
                        <div class="title color-ip">@info.Name</div>
                        <div class="ip" itemprop="url">@info.Ip</div>
                        @*<button id="copy-ip" class="btn btn-danger">Copy</button>*@
                    </div>

                    @if (info.HasDownload)
                    {
                        <a class="btn btn-small btn-info tip color-ip" target="_blank" href="@info.DownloadUrl" title="Get @info.DownloadLabel"><i class="fa fa-download"></i></a>
                    }
                    @if (info.HasWhitelist)
                    {
                        <a class="btn btn-small btn-info tip color-ip" target="_blank" href="@info.WhitelistUrl" title="Get Whitelisted"><i class="fa fa-key"></i></a>
                    }
                </div>
            }

            @if (Model.PageServer.SubsServers.Count > 1)
            {
                <a class="subserver-toggle">View other @(Model.PageServer.SubsServers.Count - 1) server addresses <i class="fa fa-caret-down"></i> </a>

                <div class="servers-well color-well">
                    <table>
                        @*<tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th></th>
                            </tr>*@

                        @foreach (var info in Model.PageServer.SubsServers.Skip(1))
                        {
                            <tr>
                                <td class="name">@info.Name</td>
                                <td class="sub-ip">
                                    <span class="select">
                                        @info.Ip
                                    </span>
                                </td>
                                <td class="reqs">
                                    @if (info.HasDownload)
                                    {
                                        <a class="tip" target="_blank" href="@info.DownloadUrl" title="Get @info.DownloadLabel"><i class="fa fa-download"></i></a>
                                    }
                                    @if (info.HasWhitelist)
                                    {
                                        <a class="tip" target="_blank" href="@info.WhitelistUrl" title="Get Whitelisted"><i class="fa fa-key"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>

        <div class="websites">

            @if (!string.IsNullOrEmpty(Model.PageServer.Website.Url1) && !string.IsNullOrEmpty(Model.PageServer.Website.Title1))
            {
                <a target="_blank" href="@Model.PageServer.Website.Url1" class="">@Model.PageServer.Website.Title1</a>
            }
            @if (!string.IsNullOrEmpty(Model.PageServer.Website.Url2) && !string.IsNullOrEmpty(Model.PageServer.Website.Title2))
            {
                <a target="_blank" href="@Model.PageServer.Website.Url2" class="">@Model.PageServer.Website.Title2</a>
            }
            @if (!string.IsNullOrEmpty(Model.PageServer.Website.Url3) && !string.IsNullOrEmpty(Model.PageServer.Website.Title3))
            {
                <a target="_blank" href="@Model.PageServer.Website.Url3" class="">@Model.PageServer.Website.Title3</a>
            }
            @if (!string.IsNullOrEmpty(Model.PageServer.Website.Url4) && !string.IsNullOrEmpty(Model.PageServer.Website.Title4))
            {
                <a target="_blank" href="@Model.PageServer.Website.Url4" class="">@Model.PageServer.Website.Title4</a>
            }
        </div>
    </div>
    
    <div class="server-container @Model.PageServer.DarkBackgroundClass">

        <section class="details color-desc">

            @if (Model.PageServer.Heroes.Count > 0 || Model.PageServer.Videos.Count > 0)
            {
                <div class="fotorama color-desc"
                     data-nav="thumbs"
                     data-fit="cover"
                     data-arrows="true"
                     @if (Model.PageServer.ShuffleImages) {   @: data-shuffle="true"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   }
                     data-width="100%"
                     data-ratio="16/6"
                     data-thumbwidth="100"
                     data-thumbheight="44">

                    @if (Model.PageServer.VideosFirst)
                    {
                        foreach (var vid in Model.PageServer.Videos)
                        {
                            <a href="@vid.Url" data-caption="@vid.Caption"></a>
                        }
                        foreach (var hero in Model.PageServer.Heroes)
                        {
                            <a href="@hero.GetAbsoluteUrl()" data-caption="@hero.Caption"></a>
                        }
                    }
                    else
                    {
                        foreach (var hero in Model.PageServer.Heroes)
                        {
                            <a href="@hero.GetAbsoluteUrl()" data-caption="@hero.Caption"></a>
                        }
                        foreach (var vid in Model.PageServer.Videos)
                        {
                            <a href="@vid.Url" data-caption="@vid.Caption"></a>
                        }
                    }
                </div>
            }
        </section>

        <div class="data-container">

            <section class="tags-section clearfix">
                <div class="pad">
                    <h2>Location</h2>
                    <div class="loc-wrap">
                        <div class="flag @Model.PageServer.CountryAbbreviation"></div><div class="country"> @Model.PageServer.CountryName</div> <div class="language">(@Model.PageServer.LanguageName)</div>
                    </div>
                </div>
                <div class="pad">
                    <h2>Version</h2>
                    <div class="loc-wrap">
                        <span data-bind="html: Version"></span>
                    </div>
                </div>
                <div class="pad">
                    <!-- ko if: ServerTypes().length == 1 -->
                    <h2>
                        Server Type
                    </h2>
                    <!-- /ko -->
                    <!-- ko if: ServerTypes().length > 1 -->
                    <h2>
                        Server Types
                    </h2>
                    <!-- /ko -->
                    <!-- ko foreach: ServerTypes -->
                    <div class="tag" data-bind="html: Name"></div>
                    <!-- /ko -->
                </div>
                <div class="pad">
                    <!-- ko if: Gameplay().length > 0 -->
                    <h2>
                        Gameplay
                    </h2>
                    <!-- /ko -->
                    <!-- ko foreach: Gameplay -->
                    <div class="tag" data-bind="html: Name"></div>
                    <!-- /ko -->
                </div>
            </section>

            <section class="stats-section">
                <h2>Stats</h2>

                <div class="metrics">
                    <div class="block">
                        <div class="count player-count" data-bind="html: PlayerCount">@string.Format("{0:n0}", Model.PageServer.OnlinePlayerCount)</div>
                        <div class="title">
                            Players<br />
                            Online
                        </div>
                    </div>
                    <div class="block">
                        <div class="count">@string.Format("{0:n0}", Model.PageServer.PeakPlayerCount)</div>
                        <div class="title">
                            Peak Players<br />
                            last 30 days
                        </div>
                    </div>
                    <div class="block knob">
                        <input class="activity-input" value="@Model.PageServer.Activity" />
                        <div class="title">Activity</div>
                    </div>
                    <div class="block sparkline">
                        <div class="count">@Model.PageServer.PlayerCountsString</div>
                        <div class="title">
                            Players last<br />
                            30 days
                        </div>
                    </div>
                    <div class="block sparkline-bar">
                        <div class="count">@Model.PageServer.UptimeDataString</div>
                        <div class="title">
                            Uptime last<br />
                            30 days
                        </div>
                    </div>
                    <div class="block">
                        <div class="count" id="pingms" data-bind="html: InitialPing"></div>
                        <div class="title"><button id="ping-button" class="btn btn-info btn-med">Ping</button></div>
                    </div>
                </div>
            </section>

            <div class="dual-holder" data-bind="css:{ dual: HasDual}">
                <!-- ko if: Modpacks().length > 0 -->
                <section class="modpack-section clearfix" data-bind="css:{ tight: HasModpackTight}">
                    <h2>Modpacks</h2>

                    <div data-bind="foreach: { data: Modpacks }">

                        <div class="modpack elastic block">
                            <img data-bind="attr:{src: LogoUrl}" />
                            <div class="bucket color-bucket">
                                <h3 data-bind="html: Name"></h3>
                                <div class="desc nano">
                                    <p class="nano-content" data-bind="html: Description"></p>
                                </div>
                                <!-- ko if: Website.length > 0 -->
                                <a class="btn btn-small btn-primary info-link" target="_blank" data-bind="attr: { href: Website }">More Info</a>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /ko -->
                <!--ko foreach: { data: ['1'], afterRender: AfterModpacksDone } -->
                <!--/ko-->
                <!-- ko if: MiniGames().length > 0 -->
                <section class="mini-games-section clearfix" data-bind="css:{ tight: HasMiniGameTight}">
                    <h2>MiniGames</h2>

                    <div data-bind="foreach: { data: MiniGames }">

                        <div class="mini-game-link">
                            <div class="mini-game elastic block">
                                <!-- ko if: HasVideo -->
                                <div class="rounded-video">
                                    <div class="tl"></div>
                                    <div class="tr"></div>
                                    <iframe width="@Constant.MiniGameLogo.Width" height="@Constant.MiniGameLogo.Height" frameborder="0" data-bind="attr:{src: EmbedUrl }"></iframe>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: !HasVideo -->
                                <img data-bind="attr:{src: LogoUrl}" />
                                <!-- /ko -->
                                <div class="bucket color-bucket">
                                    <h3 data-bind="html: Name"></h3>
                                    <div class="desc nano">
                                        <p class="nano-content" data-bind="html: Description"></p>
                                    </div>
                                    <!-- ko if: Website.length > 0 -->
                                    <a class="btn btn-small btn-primary info-link" target="_blank" data-bind="attr: { href: Website }">More Info</a>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /ko -->
                <!--ko foreach: { data: ['1'], afterRender: AfterMiniGamesDone } -->
                <!-- /ko -->
            </div>

            @if (Model.PageServer.ShowPlugins)
            {
            <!-- ko if: Plugins().length > 0 -->
                <section class="plugins-section clearfix">
                    <h2>Plugins</h2>
                    <div class="plugin-wrapper" data-bind="foreach: { data: Plugins }">
                        <a class="plugin-link tip" target="_blank" data-bind="attr: { href: Website }">
                            <div class="plugin">
                                <div data-light="rgba(0, 0, 0, 0.85)" data-dark="rgba(255, 255, 255, 0.95)" class="name autocolor" data-bind="html: Name"></div>
                            </div>
                        </a>
                        <table class="tooltiptext">
                            <tr>
                                <td class="mixed">
                                    <!-- ko if: LogoUrl.length > 0 -->
                                    <img data-bind="attr:{src: LogoUrl}" />
                                    <!-- /ko -->
                                    <h3 data-bind="html: Name"></h3>
                                    <p data-bind="html: Description"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            <!-- /ko -->
            <!--ko foreach: { data: ['1'], afterRender: AfterPluginsDone } -->
            <!--/ko-->
            }

            <!-- ko if: Staff().length > 1 -->
            <section class="staff-section clearfix">
                <h2>Staff</h2>
                <div class="staff-wrapper" data-bind="foreach: { data: Staff  }">
                    <div class="staff" data-bind="title: Quote, css: { 'has-quote' : Quote.length }">
                        <img class="face" data-bind="attr:{ src: FaceUrl}" />

                        <!-- ko if: Quote.length > 0 -->
                        <div class="tooltiptext">
                            <blockquote data-bind="html: Quote"></blockquote>
                        </div>
                        <!-- /ko -->

                        <div class="panel">
                            <div class="name">
                                <span data-bind="html: Username,  attr: { style: ColorStyle }"></span>
                            </div>
                            <div class="rank">
                                <span data-bind="html: Rank"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /ko -->
            <!--ko foreach: { data: ['1'], afterRender: AfterStaffDone } -->
            <!--/ko-->

            <section class="chat-section clearfix">
                <h2>Chat</h2>
                <div class="chat-wrapper">
                    <div class="chat" data-bind="foreach: { data: Chat.Lines, afterAdd: AfterAddLine, afterRender: AfterLinesDone  }">
                        <div class="line clearfix" data-bind="attr: { id: LineId }">
                            <div class="head" data-bind="attr: { title: Player.Rank }">
                                <img data-bind="attr: { src: Player.AvatarUrl() }" />
                                <span class="username color-user" data-bind="cattr: { style: Player.ColorStyle }, html: Player.Username"></span>
                            </div>
                            <span class="time-line">
                                <time data-bind="attr: { 'data-time': Time }"></time>
                                <i class="delete fa fa-times" data-bind="visible: OwnPost || $root.IsStaff, attr: { 'data-id': Id }"></i>
                            </span>
                            <p class="text" data-bind="html: Message"></p>
                        </div>
                    </div>
                </div>

                @if (Html.HasRole(UserRole.User))
                {
                    <input id="chat-input" type="text" placeholder="@Messages.ClickToType" />
                }
                else
                {
                    <div id="chat-input"><a onclick="Auth.ShowLoginModal()">@Messages.LogInToChat</a></div>
                }

                <div class="players" data-bind="foreach: { data: Players, beforeRemove: BeforePlayerRemove, afterAdd: AfterPlayerAdd }">
                    <div class="player">
                        <img class="head tip" data-bind="attr: { src: AvatarUrl(), title: CleanName }" />
                    </div>
                </div>
            </section>
        </div>

        <div id="loading" class="clearfix spinner"></div>
    </div>
</div>