﻿@using System.Web.Optimization
@using MinecraftCubed.Common.Lang
@using MinecraftCubed.Static
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.Events.EventsModel
@{
    ViewBag.Title = "Events List";
}
@section Scripts
{
    <script>
        Menu.highlight('events');
    </script>
}
@section Head
{
    @Scripts.Render("~/content/scripts/events")
    @Styles.Render("~/content/css/events")
}
@section RightAfterBody
{
}
<section class="hero">
    <div class="inner">
        <div class="copy">
            <h1>Start your Adventure</h1>
            <div>Discover the Minecraft servers that players love.</div>
        </div>
        <div class="radial"></div>
    </div>
</section>

<div id="filter-container">
    <div class="main">
        @*if (Html.IsAnyServerManager())
            {
                <a class="btn btn-primary add-event" href="@Url.Action("Index", "AddEvent")"><i class="fa fa-plus"></i>Add an event</a>
            }*@

        <div class="tags-box">
            <div class="tags clearfix">
                <input id="eventgameplays" class="" placeholder="Gameplay & Rules" type="text" /><i class="fa fa-search"></i>
                <input id="language" class="" placeholder="Language" type="text" /><i class="fa fa-search"></i>
                <input id="countries" class="" placeholder="Country" type="text" /><i class="fa fa-search"></i>
            </div>
            <div class="filters-wrapper" data-bind="slideIn:Filtered()">
                <div class="clear-link">
                    <a href="#" id="clear-link" data-bind="visible: Filtered() > 1, click: State.clearFilters">clear</a>
                </div>
                <input id="filters" type="text" />
                <div id="counts">
                    <span class="count-label" data-bind="html: EventCount"></span>
                </div>
            </div>
            <div class="sorting">
                <select id="sort" class="">
                    <option value="date">Start Date</option>
                    <option value="attendees">Attendees</option>
                </select>
            </div>
        </div>
    </div>
    @{ Html.RenderAction("EventSettingsNav", "User"); }
</div>

<div id="event-list-contents" class="page-container">
    <div class="clearfix">
        <div id="list1" class="list clearfix" data-bind="template: { name: 'event', foreach: Events1, afterAdd: AfterAddEvent, beforeRemove: BeforeRemoveEvent }">
        </div>
        <div id="list2" class="list clearfix" data-bind="template: { name: 'event', foreach: Events2, afterAdd: AfterAddEvent, beforeRemove: BeforeRemoveEvent }">
        </div>
        <div id="list3" class="list clearfix" data-bind="template: { name: 'event', foreach: Events3, afterAdd: AfterAddEvent, beforeRemove: BeforeRemoveEvent }">
        </div>
        <div id="list4" class="list clearfix" data-bind="template: { name: 'event', foreach: Events4, afterAdd: AfterAddEvent, beforeRemove: BeforeRemoveEvent }">
        </div>
    </div>
    <div id="load-more" class="btn btn-large btn-primary">Show More</div>
    <div id="loading" class="clearfix spinner"></div>
</div>
