﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.AddServer.AddServerModel
@{
    ViewBag.Title = "Add Server";
}


<div class="page-container">
    <div id="add-server" class="box block first modal-vertical-center">

        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "loader-on-submit" }))
        {
            @Html.AntiForgeryToken();

            <h2>Add your Server</h2>

            @Html.AlertRibbon("flush-wide")

            <div class="content">
                <fieldset class="user-inputs">
                    @if (Model.NoUser)
                    {
                        <label>Your Minecraft username</label>
                        @Html.TextBoxFor(m => m.Username, new { @class = "input-block-level", placeholder = "Player", tabindex = 1 })
                        <label>Your email address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", placeholder = "Email", type = "Email", tabindex = 2 })
                        <label>Choose a password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", placeholder = "*******", tabindex = 3 })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.Username)
                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.Password)
                    }
                </fieldset>
                
                <div class="server-inputs">
                    <fieldset>
                        <label>Your server's name</label>
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "My Minecraft Server", @class = "input-block-level", tabindex = 4 })

                        <div class="horizontal-group">
                            <div class="left-control">
                                <label>Address of your server's lobby</label>
                                @Html.TextBoxFor(m => m.Address, new { placeholder = "play.myserver.com", @class = "input-block-level", tabindex = 5 })
                            </div>
                            <div class="right-control">
                                <label>Port</label>
                                @Html.TextBoxFor(m => m.Port, new { placeholder = "25565", @class = "input-block-level" })
                            </div>
                        </div>

                        <label>Your hosting provider</label>
                        @Html.TextBoxFor(m => m.HostName, new { placeholder = "Awesome Hosting", @class = "input-block-level no-chevron", tabindex = 6 })
                        <span class="help-block">If your host is not shown on the autocomplete dropdown, type it out and choose "Add New".</span>
                    </fieldset>

                    <fieldset class="toggle-box">
                        <label class="checkbox toggle-check">
                            @Html.CheckBoxFor(m => Model.PlayReqHasDownload) The server requires a <strong>modpack, launcher, or other download</strong> to play.
                        </label>
                        <div class="horizontal-group toggle-bucket">
                            <div class="left-control download-label">
                                <label>What is it?</label>
                                @Html.TextBoxFor(m => Model.PlayReqDownloadLabel, new { placeholder = "Download", @class = "input-block-level" })
                            </div>
                            <div class="right-control download-url">
                                <label>The url where it can be downloaded</label>
                                @Html.TextBoxFor(m => Model.PlayReqDownloadUrl, new { placeholder = "http://myserver.com/launcher", @class = "input-block-level", type = "url" })
                            </div>
                            <span class="help-block">This will show as <strong>Get Download</strong> button next to the server address. </span>
                        </div>
                    </fieldset>
                    <fieldset class="toggle-box">
                        <label class="checkbox toggle-check">
                            @Html.CheckBoxFor(m => Model.PlayReqHasWhitelist) This server requires players to sign up to a <strong>whitelist</strong> to play.
                        </label>
                        <div class="toggle-bucket whitelist-url">
                            <label>The url to the whitelist</label>
                            @Html.TextBoxFor(m => Model.PlayReqWhitelistUrl, new { placeholder = "http://myserver.com/whitelist", @class = "input-block-level", type = "url" })
                            <span class="help-block">This will show as <strong>Get Whitelisted</strong> button next to the server address. </span>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="button-row clearfix">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.IsOwner, new { tabindex = 7 })
                    I am the owner of this server
                </label>
                <button type="submit" class="btn btn-large btn-primary" tabindex="8"><i class="fa fa-plus"></i> Add</button>
            </div>
        }
        <script>
            UI.selectize('#HostName', "hosts");
            UI.selectizeCountries('#CountryName');

            @if (Model.RefreshUI)
            {
                @:UI.refresh('#add-server');
            }
        </script>
    </div>
</div>