﻿@using System.Web.Optimization
@using MinecraftCubed.Common
@using MinecraftCubed.Common.Extensions
@using MinecraftCubed.Common.Helpers
@using MinecraftCubed.Static
@{
    ViewBag.Title = "Sponsor";
}
@section Head
{
    @Scripts.Render("~/content/scripts/sponsor")
    @Styles.Render("~/content/css/sponsor")
}

<div id="sponsor-title">
</div>

<div id="sponsor-container" class="page-container">
    <div id="what-you-get" class="box large">
        <h2>What you get</h2>

        <div class="inner clearfix">
            <div class="sect">
                <img src="@Url.Content("~/content/images/featured-list.png")" class="list-img featured-list" />
                <h3>On the Featured List</h3>
                <p>You gain a spot on the non-sortable featured list always visible on the right side of the main page as players browse for servers.  The higher on the list, the higher the visibility, the more visitors. </p>
            </div>
            <div class="sect">
                <img src="@Url.Content("~/content/images/carousel.png")" class="list-img carousel" />
                <h3>Featured Banners</h3>
                <p>Your listing will be capable of displaying an image carousel with 8 double-size banners allowing you to show players your server right from the listing page.</p>
            </div>
            <div class="sect">
                <img src="@Url.Content("~/content/images/multi-events.png")" class="list-img multi-events" />
                <h3>More Events</h3>
                <p>You will be able to list up to @Settings.FeaturedMaxEventDates event dates throughout the month, instead of just @Settings.NonFeaturedMaxEventDates), bringing in players to all your events.</p>
            </div>
        </div>
    </div>

    <div>
        <div id="feature-server" class="box small">
            <h2>Sponsor</h2>
            <div class="headcopy">
                <ul>
                    <li>A minimum sponsorship of $@Settings.MinimumBidForFeatured will get your server on next month's featured list (plus the other upgrades).</li>
                    <li>The amount sponsored determines how high on the list your server will be.</li>
                    <li>Sponsoring more than once will add on to the existing amount for the month, moving you up the list.</li>
                </ul>
            </div>
            <div class="help-block">Servers sponsoring now will be featured begining the first of next month for the entire month.</div>

            <div class="inner clearfix">
                <div class="amount-wrapper">
                    <div class="dollar">$</div> <input type="number" min="@Settings.MinimumBidForFeatured" step="1" pattern="\d+" id="amount" class="input-mini" placeholder="" />
                </div>

                <div>
                    <form class="paypal-form" action="@Settings.PaypalEndpoint" method="post" target="_top">
                        <input type="hidden" name="item_name" class="item-name" value="" />
                        <input type="hidden" name="item_number" class="item-number" value="" />
                        <input type="hidden" name="amount" class="paypal-amount" value="10" />
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="custom" value="USERNAME">
                        <input type="hidden" name="notify_url" value="@Constant.IPNUrl" />
                        <input type="hidden" name="image_url" value="@Url.Content("~/content/images/logo-small.png")" />
                        <input type="hidden" name="page_style" value="Cubed">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="CQUFXT3K5M5A4">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="button_subtype" value="services">
                        <input type="hidden" name="no_note" value="1">
                        <input type="hidden" name="no_shipping" value="1">
                        <input type="hidden" name="rm" value="1">
                        <input type="hidden" name="return" value="@Constant.SponsorSuccessUrl" />
                        <input type="hidden" name="cancel_return" value="@Constant.SponsorUrl" />
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_SM.gif:NonHosted">
                        <input type="image" class="paypal-btn" src="@Url.Content("~/content/images/paypal-button.png")" border="0" name="submit" alt="">
                    </form>

                    @* Monthly Payments
                        <form class="paypal-form" name="_xclick" action="@Settings.PaypalEndpoint" method="post">
                            <input type="hidden" name="hosted_button_id" value="VKMXYUASXQU5C">
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="item_name" class="item-name" value="" />
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="hidden" name="business" value="@Settings.PaypalEmail">
                            <input type="hidden" name="custom" value="@Model.User.Username">
                            <input type="hidden" name="email" value="@Model.User.Email">
                            <input type="hidden" name="no_shipping" value="1">
                            <input type="hidden" name="a3" class="paypal-amount" value="10">
                            <input type="hidden" name="p3" value="1">
                            <input type="hidden" name="t3" value="M">
                            <input type="hidden" name="src" value="1">
                            <input type="hidden" name="sra" value="1">
                            <input type="hidden" name="notify_url" value="@String.Concat(Constant.Website, "sponsor/ipn")" />
                            <input type="hidden" name="return" value="@Constant.SponsorSuccessUrl" />
                            <input type="hidden" name="cancel_return" value="@Constant.SponsorUrl" />
                            <input type="image" class="paypal-btn" src="@Url.Content("~/content/images/paypal-sub.png")" border="0" name="submit" alt="">
                        </form>
                    *@

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
