﻿@{
    ViewBag.Title = "Success";
}

<div class="static-modal">
    <h2>Success!</h2>
    <p>It may take a few minutes for <br /> the payment to show up on the list.</p>
    <br />
    <p><a href='@Url.Action("Index", "Sponsor")'>Return to Sponsor page.</a></p>
</div>