﻿@model MinecraftCubed.Web.ViewModels.Admin.AdminModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = null;
}

<div id="clear-caches" class="box small">

    @using (Html.AjaxForm("ClearAllCaches", "Admin", "#clear-caches", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Clear All Caches</h2>
        @Html.AlertRibbon("flush-wide")

        <div class="content">
            <div class="headcopy">
                <p>This will force clear all redis cache.</p>
            </div>
        </div>

        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Run</button>
        </div>
    }
</div>

<script>
    @if (Model.RefreshUI)
    {
        @:UI.refresh('#clear-caches');
    }
</script>
