﻿@using System.Web.Optimization
@model MinecraftCubed.Web.ViewModels.Admin.AdminModel
@{
    ViewBag.Title = "Admin Panel ";
}
@section Head
{
    @Scripts.Render("~/content/scripts/admin")
    @Styles.Render("~/content/css/admin")

    <style>
        #scroll-bottom {
            background: rgba(156, 9, 9, .5) !important;
        }
    </style>
}

<div id="admin-title" class="title-bg">
    <h1 class="name">Admin Panel</h1>
    <div id="scroll-bottom" class="color-nav"><i class="fa fa-chevron-down"></i></div>
</div>

<div class="tabs">
</div>

<div class="page-container box-container">
    @{ Html.RenderAction("RecutImages", "Admin"); }
    @{ Html.RenderAction("ClearAllCaches", "Admin"); }
</div>