﻿@model MinecraftCubed.Web.ViewModels.Admin.AdminModel
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@{
    Layout = null;
}

<div id="recut-images" class="box small">

    @using (Html.AjaxForm("RecutImages", "Admin", "#recut-images", "UI.showLoader", "UI.hideLoader"))
    {
        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <h2>Recut Images</h2>
        @Html.AlertRibbon("flush-wide")

        <div class="content">
            <div class="headcopy">
                <p>This will force a re cut of all minigame and modpack images based off their saved source image.</p>
            </div>
        </div>

        <div class="button-row clearfix">
            <button type="submit" class="btn btn-large btn-primary">Run</button>
        </div>
    }
</div>

<script>
    @if (Model.RefreshUI)
    {
        @:UI.refresh('#recut-images');
    }
</script>
