﻿@using MinecraftCubed.Web.Mvc.HtmlHelpers
@model MinecraftCubed.Web.ViewModels.AddEvent.AddEventModel
@{
    ViewBag.Title = "Add Event";
}

<div class="page-container">
    <div id="add-event" class="box block first modal-vertical-center">

        <img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "loader-on-submit" }))
        {
            @Html.AntiForgeryToken();

            <h2>Add a new event</h2>

            @Html.AlertRibbon("flush-wide")

            <div class="content">
                <fieldset>
                    <label>Your event's title (no need to include your server's name)</label>
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "My awesome event!", @class = "input-block-level" })

                    <label>The server that will host the event</label>
                    @Html.DropDownListFor(m => m.Identifier, Model.ServerNameList, null, new { @class = "input-block-level selectize" })
                </fieldset>
            </div>
            <div class="button-row clearfix">
                <button type="submit" class="btn btn-large btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
        }
        <script>
            @if (Model.RefreshUI)
            {
                @:UI.refresh('#add-event');
                        }
        </script>
    </div>
</div>