﻿@model MinecraftCubed.Web.ViewModels.Home.HomeModel
@using System.Web.Optimization
@using Microsoft.Security.Application
@using MinecraftCubed.Common
@using MinecraftCubed.Static
@{
    ViewBag.Title = "Minecraft Server List";
}
@section Scripts
{

}
@section Head
{
    <script>
        Data = {
            AzureStorageUrl: '@Encoder.JavaScriptEncode(Constant.AzureStorageUrl, false)'
        };
    </script>

    @Scripts.Render("~/content/scripts/home")
    @Styles.Render("~/content/css/home")
}


<section class="hero">
    <div class="inner">
        <div class="copy">
            <h1>Start your Adventure</h1>
            <div>Discover the Minecraft servers that players love.</div>
        </div>
        <div class="radial"></div>
        <div class="dimmer"></div>
        <div class="players">
            @foreach (var data in Model.FaceUrls)
            {
                <img src="@data.Url" title="@data.Username" class="tip" />
            }
        </div>
    </div>
</section>


<section class="categories" data-bind="visible: Events().length">
    <div class="page-slice clearfix">
        <div class="header">
            <h2>
                Events Coming Up
            </h2>
            <p class="subtext">
                Check out some of the server events coming up next
            </p>
        </div>
        <div id="events" class="list clearfix" data-bind="template: { name: 'event', foreach: Events, afterAdd: AfterAddEvent, beforeRemove: BeforeRemoveEvent }">
        </div>
    </div>
</section>


@*
    <section class="categories">
            <div class="page-slice">
                <h2>
                    Popular Searches
                </h2>
                <div class="matrix-container">
                    <a href="/servers?version=1.8" class="matbox long">
                        <h3 class="hidden" data-font-size="65" data-line-height="60" data-top="70">
                            Minecraft 1.8
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/bountiful.jpg" alt="Minecraft 1.8 Servers" />
                    </a>
                    <a href="/servers?types=Bukkit" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="57" data-top="100">
                            Bukkit
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/bukkit.jpg" alt="Bukkit Servers" />
                    </a>
                    <a href="/servers?gameplays=Prison" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="57" data-top="100">
                            Prison
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/prison.jpg" alt="Prison Servers" />
                    </a>
                    <a href="/servers?types=Vanilla" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="57" data-top="100">
                            Vanilla
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/vanilla.jpg" alt="Vanilla Servers" />
                    </a>
                    <a href="/servers?gameplays=Creative" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="57" data-top="100">
                            Creative
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/creative.jpg" alt="Creative Servers" />
                    </a>
                    <a href="/servers?modpacks=Pixelmon" class="matbox long">
                        <h3 class="hidden" data-font-size="65" data-line-height="60" data-top="98">
                            Pixelmon
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/pixelmon.jpg" alt="Pixelmon Servers" />
                    </a>
                    <a href="/servers?modpacks=Feed+the+Beast" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="58" data-top="37">
                            Feed the Beast
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/ftb.jpg" alt="Feed the Beast Servers" />
                    </a>
                    <a href="/servers?gameplays=PvP" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="57" data-top="100">
                            PvP
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/pvp.jpg" alt="PvP Servers" />
                    </a>
                    <a href="/servers?modpacks=Hexxit" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="57" data-top="100">
                            Hexxit
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/hexxit.jpg" alt="Hexxit Servers" />
                    </a>
                    <a href="/servers?modpacks=Tekkit" class="matbox long">
                        <h3 class="hidden" data-font-size="65" data-line-height="60" data-top="98">
                            Tekkit
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/tekkit.jpg" alt="Tekkit Servers" />
                    </a>
                    <a href="" class="matbox square"></a>
                    <a href="" class="matbox square"></a>
                    <a href="/servers?types=Technic" class="matbox square">
                        <h3 class="hidden" data-font-size="65" data-line-height="57" data-top="100">
                            Technic
                        </h3>
                        <img class="background" src="@(Settings.AzureStorageUrl)categorybanners/technic.jpg" alt="Technic Servers" />
                    </a>
                </div>
            </div>
        </section>
*@