﻿@model MinecraftCubed.Web.ViewModels.Home.HomeModel 
@using System.Web.Optimization
@using Microsoft.Security.Application
@using MinecraftCubed.Common
@using MinecraftCubed.Static
@{
    ViewBag.Title = "Minecraft Server List";
}
@section Scripts
{
    <script>
        Menu.highlight('servers');
    </script>
}
@section Head
{
    <script>
        Data = {
            AzureStorageUrl: '@Encoder.JavaScriptEncode(Constant.AzureStorageUrl, false)'
        };
    </script>

    @Scripts.Render("~/content/scripts/list")
    @Styles.Render("~/content/css/list")
}

<section class="hero">
    <div class="inner">
        <div class="copy">
            <h1>Start your Adventure</h1>
            <div>Discover the Minecraft servers that players love.</div>
        </div>
        <div class="radial"></div>
        <div class="dimmer"></div>
        <div class="players">
            @foreach (var data in Model.FaceUrls)
            {
                <img src="@data.Url" title="@data.Username" class="tip"/>
            }
        </div>
    </div>
</section>

<div id="filter-container">
    <div class="main">
        @*if (Html.HasRole(UserRole.User))
            {
                <a class="btn btn-primary add-server" href="@Url.Action("Index", "AddServer")"><i class="fa fa-plus"></i> Add your server</a>
            }
            else
            {
                <a class="btn btn-primary add-server unlogged" href="@Url.Action("Index", "AddServer")"><i class="fa fa-plus"></i> Add your server</a>
            }*@

        <div class="tags-box">
            <div class="tags clearfix">
                <div class="tag-row one">
                    <input id="gameplays" class="" placeholder="Gameplay & Rules" type="text" /><i class="fa fa-search"></i>
                    <input id="minigames" class="" placeholder="MiniGames" type="text" /><i class="fa fa-search"></i>
                    <input id="modpacks" class="" placeholder="Modpacks" type="text" /><i class="fa fa-search"></i>
                    <input id="plugins" class="" placeholder="Plugins" type="text" /><i class="fa fa-search"></i>
                </div>
                <div class="tag-row two">
                    <input id="types" class="" placeholder="Server Types" type="text" /><i class="fa fa-search"></i>
                    <input id="versions" class="" placeholder="Version" type="text" /><i class="fa fa-search"></i>
                    <input id="languages" class="" placeholder="Language" type="text" /><i class="fa fa-search"></i>
                    <input id="countries" class="" placeholder="Country" type="text" /><i class="fa fa-search"></i>
                </div>
            </div>
            <div class="filters-wrapper" data-bind="slideIn:Filtered()">
                <div class="clear-link">
                    <a href="#" id="clear-link" data-bind="visible: Filtered() > 1, click: State.clearFilters">clear</a>
                </div>
                <input id="filters" type="text" />
                <div id="counts">
                    <span class="count-label" data-bind="html: ServerCount"></span>
                </div>
            </div>
            <div class="sorting">
                <select id="sort" class="">
                    <option value="activity">Activity</option>
                    <option value="online">Players Online</option>
                    <option value="peak">Peak Players</option>
                </select>
            </div>

        </div>
    </div>
</div>

<div id="server-list-contents" class="page-container">
    <div id="organic-list" class="list clearfix" data-bind="template: { name: 'server', foreach: OrganicServers, beforeRemove: BeforeRemoveServer, afterAdd: AfterAddServer }">
    </div>
    <div id="load-more" class="btn btn-large btn-primary">Show More</div>
    <div id="loading" class="clearfix spinner"></div>
</div>

<div id="progress" class="modal login full-center dark">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="title">Pinging all servers</h3>
    </div>
    <div class="modal-body">
        <div class="counts">
            <span data-bind="html: Pinger.amountDone"></span> of <span data-bind="html: Pinger.total"></span>
        </div>
        <div class="progress progress-striped active">
            <div class="bar" data-bind="attr: { style: Pinger.barWidth() }"></div>
        </div>
    </div>
</div>

