﻿@using MinecraftCubed.Common.Lang
<div id="authcombo" class="modal hide login full-center">
    <div class="combo clearfix">
        <div class="loading-message">@Messages.MCTakingTooLong</div><img alt="loader" class="loader" src="@Url.Content("~/content/images/loader.gif")" />
        <img class="logo" src="@Url.Content("~/content/images/logo.png")" alt="MinecraftCubed: Home of Minecraft's Top Servers" />

        <div id="registercombo">
        </div>
        <div id="logincombo">
            @{ Html.RenderAction("LoginAsync", "Auth"); }
        </div>
    </div>
</div>
