﻿@model CaptchaMvc.Models.DefaultBuildInfoModel

@{
    string id = Guid.NewGuid().ToString("N");
    string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">

        $(function () {
            $('#@id').show();
    });

    function @functionName {
            $('#@id').hide();
        $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() },
            function () {
                $('#@id').show();
            });
        return false;
    }
    </script>
}

<div class="captcha-image-wrapper">
    <a href="#@Model.InputElementId" id="@id" onclick="return @functionName" title="Click to change image"><img id="@Model.ImageElementId" class="captcha-image" src="@Model.ImageUrl" /></a>
</div>
@Html.TextBox(Model.InputElementId, string.Empty, new { @class = "input-large", placeholder = "Enter the code above", tabindex = 4 })
@Html.Hidden(Model.TokenElementId, Model.TokenValue)
