﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style type="text/CSS">
        body, #body_style {
            background: #fff;
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            line-height: 20px;
            width: 600px;
        }

        .ExternalClass {
            width: 100%;
        }

        .yshortcuts {
            color: #94BAF3;
        }

        p {
            margin: 0;
            padding: 0;
            margin-bottom: 0;
        }

        a, a:link, a:visited {
            color: #94BAF3;
        }
    </style>
</head>
<body style="background: #fff; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 13px; "
      alink="#6eafeb"
      link="#6eafeb"
      bgcolor="#fff"
      text="#000">
    <div style="background-color: #fff;">
        <img src="https://minecraftcubed.net/content/images/logo.png" alt="MinecraftCubed: Home of Minecraft's Top Servers" />
        <br/>
        @RenderBody()
        <hr color="#666666" align="left" width="500" size="1" noshade="">
        <table width="420" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td><span><img src="https://minecraftcubed.net/content/images/logo-small.png"></span></td>
                    <td width="320"><span style="color:#333333;font-size:9px;font-family:Trebuchet MS,Verdana,Arial,Helvetica,sans-serif">© MinecraftCubed. All rights reserved. All trademarks are property of their respective owners in the US and other countries.</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
