﻿@using System.Web.Optimization
@using MinecraftCubed.Common
@using MinecraftCubed.Web.Mvc.HtmlHelpers
@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:url" content="https://minecraftcubed.net/" />
    <meta property="og:site_name" content="MinecraftCubed" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MinecraftCubed: Home of Minecraft's Top Servers" />
    <meta property="og:image" content="https://minecraftcubed.net/content/images/logo.png" />
    <meta property="og:description" content="Minecraft Server IP List" />
    <meta name="google-site-verification" content="FE2WnCKxaJR83HEgQteP3gFxOzW1OVdHPOhyjWa0Ho0" />
    @Html.Canonical()

    <title>@ViewBag.Title | MinecraftCubed</title>

    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/content/images/favicon.png")" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,700,600,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>

    <script>
        MC3 = {
            CDN: "@Settings.AzureStorageUrl"
        };
    </script>

    @Styles.Render("~/content/css/libs/general")
    @Styles.Render("~/content/css/site")
    @Scripts.Render("~/scripts/general")
    @Scripts.Render("~/content/scripts/site")

    @RenderSection("Head", required: false)
</head>
<body class="color-bg @ViewContext.RouteData.Values["Controller"].ToString().ToLower()">

    @*<video autoplay loop poster="@Url.Content("~/content/videos/bg2.jpg")" id="bgvid">
        <source src="@Url.Content("~/content/videos/bg2.webm")" type="video/webm">
        <source src="@Url.Content("~/content/videos/bg2.mp4")" type="video/mp4">
    </video>*@

    @RenderSection("RightAfterBody", required: false)
    <div id="fb-root"></div>

    @if (Request.IsAuthenticated)
    {
        <span class="MCAUTH"></span>
    }

    @if (ViewBag.NoLogin == null)
    {
        @Html.Partial("_AuthCombo")
    }

    @Html.Partial("_Nav")

    @RenderBody()
    
    <div id="scroll-top"><i class="fa fa-chevron-up"></i></div>

    @*<div class="corner"></div>*@

    @RenderSection("Scripts", required: false)

    @if (Settings.Profiling)
    {
        @MiniProfiler.RenderIncludes()
    }

    <footer>
        <p>MinecraftCubed Copyright © 2017. All rights reserved. Minecraft is a trademark and copyright of Microsoft.</p>

        <address>
            Contact us at: admin@minecraftcubed.net
        </address>
    </footer>
</body>
</html>
