﻿@using MinecraftCubed.Common
@using MinecraftCubed.Static
@using MinecraftCubed.Web.Mvc.HtmlHelpers
<header class="color-nav">
    <div id="nav-bar">
        @*<img id="beta-ribbon" src="@Url.Content("~/content/images/beta_ribbon.png")">*@
        <a href="/" id="logo">
            <img src="@Url.Content("~/content/images/logo-med.png")" alt="MinecraftCubed: Home of Minecraft's Top Servers" />
            @*<span>Home of Minecraft's Top Servers</span>*@
        </a>
        <div id="login-button">
            @{ Html.RenderAction("UserNav", "User"); }
        </div>

        <nav>
            <ul>
                @if (ViewBag.LightMenu == null)
                {
                    <li id="events-link" class="pull-left">
                        <a class="tab" href="@Url.Action("Index", "Events")">Explore Events</a>
                    </li>
                    <li id="servers-link" class="pull-left">
                        <a class="tab" href="@Url.Action("Index", "List")">Explore Servers</a>
                    </li>
                    @*
                        <li id="community-link">
                            <a class="tab" href="@Constant.DiscourseLoginURL">Forums</a>
                        </li>
                            <li id="blog-link">
                                <a class="tab" href="@Constant.BlogUrl">Blog</a>
                            </li>
                            <li id="labs-link">
                                <a class="tab" href="@Url.Action("Index", "Labs")">Labs</a>
                            </li>
                    *@
                }
                <li id="docs-link">
                    <ul id="docs-menu" class="nav nav-pills">
                        <li class="dropdown">
                            <a class="tab dropdown-toggle" data-toggle="dropdown">
                                Info<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="add-server" href="@Url.Action("Index", "AddServer")"><i class="fa fa-plus fa-fw"></i> Add your Server</a>
                                </li>
                                <li>
                                    <a class="add-event" href="@Url.Action("Index", "AddEvent")"><i class="fa fa-plus fa-fw"></i> Add an Event</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("FAQ", "Info")"><i class="fa fa-info fa-fw"></i> FAQ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Api", "Info")"><i class="fa fa-puzzle-piece fa-fw"></i> REST API</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("Terms", "Info")"><i class="fa fa-file-text fa-fw"></i> Terms of Service</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Privacy", "Info")"><i class="fa fa-lock fa-fw"></i> Privacy Policy</a>
                                </li>

                                @*
                                    <li class="divider"></li>
                                    <li>
                                        @Html.ActionLink("Terms of Service", "Index", "Home")
                                    </li>
                                *@
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        @*
            <div class="social">
                <div class="fb">
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fminecraftcubed.net&amp;width=450&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=506817766078038" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 120px; height: 21px;" allowtransparency="true"></iframe>
                </div>
                <div class="gp">
                    <div class="g-plusone" data-size="medium"></div>
                </div>
            </div>
        *@
    </div>
</header>