﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oops</title>
</head>
<body>
    <hgroup>
        <h1>Oops</h1>
        <h2>Something went wrong.  Please try that again.</h2>
    </hgroup>
</body>
</html>